### Chapter:  1 -  print

In [4]:
# print is a function
# print tells the program to display words or numbers on the screen.

In [2]:
print("Hello, world!")

Hello, world!

In [3]:
# Print() --> Error

In [11]:
print(1000) # integer

1000

In [7]:
# ek sy ziyada values bhi print main di ja sakti hai
print(123,456)

123 456

In [12]:
print(123,12.3) # integer and floating point

123 12.3

In [13]:
print("python") # string

python

In [15]:
# quotation ky andar jo bhi data likhy gy woh data string data kehlata hai
print("12")

12

In [17]:
print("123pakistan") # alphanumeric data

123pakistan

In [18]:
# bracket ky pass mouse hover kary tu waha jo docstring hai 
# woh function ka signature kehlata hai
print()

In [21]:
# seperator ki waja sy ek value dosri value sy separate hai
# default separator is space
print("pakistan", "python", "piaic")

pakistan python piaic

In [24]:
print("pakistan", "python", "piaic", sep=" $$$ ")

pakistan $$$ python $$$ piaic

In [27]:
# end default value is new line
# \n -- Escape character

print("hello world1")
print("hello world2")
print("hello world3")

hello world1
hello world2
hello world3

In [30]:
print("hello world1", end=" -- ")
print("hello world2", end=" -- ")
print("hello world3")

hello world1 -- hello world2 -- hello world3

In [31]:
print("hello world1", end="\t")
print("hello world2", end="\t")
print("hello world3")

hello world1	hello world2	hello world3

### Escape Charachters

In [4]:
# \' -- (single quote) 
print('It\'s alright')

It's alright

In [6]:
# \\ -- (backslash)
print("This will insert one \\ (backslash)")

This will insert one \ (backslash)

In [8]:
# \n -- (newline)
print("Hello \nWorld")

Hello
World

In [14]:
# \r -- (carriage return) 616
# Carriage return means to return to the beginning of the current line without advancing downward
print("Hello \rWorld")

World

In [15]:
# \t -- (tab)
print("Hello \t World")

Hello 	 World

In [17]:
# \b -- (backspace) This example erases one character (backspace):
print("Hello \bWorld")

Hello World

In [19]:
print("Hello \newline World")

Hello
ewline World

In [20]:
# \" -- (Double quote)

print("It\"s alright")

It"s alright

### Chapter 2: Variables for Strings

In [2]:
# A variable is something that holds a vale that may change

# In simple terms, a variable is just box that you can put stuff in

# you can use variables to store all kinds of stuff, but for now we are
# just going to look at storing strings in variables 

# (aik aisa placeholder jisky andar hum koi value store karwa saky)
# (or jo value hum ny store karwai hai woh bad main change bhi ho saky)

In [15]:
# --- "String" (charachter of sequence)
# --- 10 (int number)
# --- 10.5 (floating pint number)

In [9]:
name = "arsalan"

# name is variable name(identifier)
# = assignment operator
# "arsalan" value (string value)

print(name)

arsalan

In [29]:
name = "abc"

# (nayee value assign karengy tu purani value override hojayegi)

print(name)

abc

In [64]:
# variable rules:

# variables are never enclosed in quotes
# it is not a keyword that has special meaning like -- print
# variables cant't have spaces in them
# variable name can't start with a number

# by convention python uses snake case variable naming
# like what_is_your_name = "arsalan"

In [14]:
last_name = "manzoor"
print(last_name)

manzoor

In [30]:
city = "karachi"
print(city)
print(type(city))

karachi
<class 'str'>

### Chapter 3: Variable for numbers

In [16]:
# A string isn't the only thing you can assign to a variable. you can also assign a number

In [17]:
a = 10

In [18]:
print(a)

10

In [25]:
a = 10.6
print(a)

10.6

In [27]:
# int a = 12
#(python main jab value ati hai toh woh apny sath apni type lykar ati hai)
# datatype ka masla python main nhi ata
# jab bhi hum value dalengy woh value apni type khud hi variable ko bata dygi
print(type(a))

<class 'float'>

In [28]:
a = 5
type(a)

int

In [31]:
# a number is not enclosed in quotes unlike string
# if you enclose a number in quotation marks it's a string

weight = 150
print(weight + 25)

175

In [33]:
num1 = 23
num2 = num1 + 7

print(num2)

30

In [35]:
# python can also do calculation
num_1 = 2
num_2 = 10
total = num_1 + num_2
print(total)

12

In [36]:
# a variable can be used in calculating its own new value
num = 90
num = num + 10
print(num)

100

In [39]:
# if you enclose a number in quotaion mark
num = "23"
# new_num = num + 7

# it won't work, because python can't sum a string and a number

### Chapter 4: Math Expressions

In [41]:
# Familiar operators are:
# addition +
# subtraction -
# multiplication *
# division /

In [45]:
print(23+45)
print(10-5)
print(5*5)
print(5/15)

68
5
25
0.3333333333333333

In [43]:
a = 23
b = 34
c = a+b
print(c)

57

In [47]:
# kisi bhi expression main agar ek bhi value float main hogi tu result float type main ayega
value_1 = 100
value_2 = 10.5
total = value_2 - value_1
print(total)

-89.5

In [52]:
value_1 = 100
value_2 = 100
sum = value_1 + value_2
print(sum)

200

In [53]:
value_1 = 100
value_2 = 100
mult = value_1 * value_2
print(mult)

10000

In [61]:
# do integer value divide ho rahi hain tu sum floating point main araha hai
# iski waja yeh hai k pyhton by default floating point division kehlati hai

value_1 = 100
value_2 = 200
div = value_1 / value_2
print(div)

0.5

In [60]:
# agar integer main answer chahiyeh tu ek aur division ka operator use 
# karengy woh //

value_1 = 100
value_2 = 200
div = value_1 // value_2  # integer division
# 0.5 # -- it cut down the decimal part

print(div)

0

### Chapter 5: Variables Names Legal and Illegal

In [65]:
# I already learned four rules about naming a variable

# 1. You can't enclose it in quotation marks.
# 2. You can't have any space in it
# 3. It can't be a number or begin with a number
# 4. It can't be any of python's reseved words also known as keywords
# the special words act as programming instructions, like print

In [66]:
# Here are the rest of rules for naming variables:

# 1. A varable name can contain only lowercase letters,uppercase letters
# numbers not starting, and underscores

# 2. Capital letters are fine but be careful variable names are case sensitive
# A rose with a lowercase r is not a Rose with an uppercase

# 3. Python's governing body recommends breaking up multi-word variables
# with underscores. It'll make them more readable
# Examples:

# user_response
# user_response_time
# user_response_time_limit

### Chapter 6: Math Expression Unfamiliar operators

In [68]:
# % modulo operator -- it divides one number by another, but doesn't
# give you the result of the division. It gives you the reminder after
# the first number is divided by the second number.

In [69]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [70]:
# if one number divides evenly into another, the modulo statement assigns
# 0 to the variable

In [71]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [74]:
# Here is second operator
# suppose you want to increase the of variable by 1 you could write

num = 10
print(num)

10

In [73]:
num = num + 1
print(num)

11

In [75]:
# this is shorthand way of doing the same thing
num += 1
print(num)

11

In [76]:
num = 10
print(num)

10

In [77]:
num += 10
print(num)

20

In [78]:
# you can use the same kind of shorthand for other operators, too.
# In the following code num is winds up of value 10.

num = 12
num -= 2
print(num)

10

In [79]:
# In the following code num is winds up with a value of 36
num = 12
num *= 3
print(num)

36

In [80]:
# Don't forget that you can always use a variable instead of number.
# In the following code num wids up with a value of 15
num = 12
amount_to_increment = 3
num += amount_to_increment
print(num)

15

### Operators

In [ ]:
# Total Operators are:

+, - , * /, %, // ,** # Mathematics

=, += ,-= ,*=, /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operator

and, or # Combine logic checking

### Chapter 7: Math Expressions Eliminationg ambiguity

In [81]:
# Comples arithmeric operation can pose a problem, one that student
# face in high school algebra. Look at this example

In [82]:
total_cost = 1+3*4
print(total_cost)

13

In [83]:
# In python, as in algebra, the ambiguity is cleard by precedense rules.

In [99]:
2 + 6 * 8 / 5 + (2*3)

17.6

Pedmas
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

In [86]:
# Pedmas 

# parenthesis ()
# exponent **
# multiplication *
# division /
# addition +
# subtraction -

In [87]:
# You can finess the issue by using parenthesis to eliminate ambiguity.
# parentheses override all the other precedense rules.They force
# python to complete operations enclosed by parentheses before completing
# any other operations

In [88]:
# In this statement parentheses tell python to first multiply 3 by 4
# then add 1. the result: 13

In [89]:
total_cost = 1 + (3*4)
print(total_cost)

13

In [90]:
# If i move parentheses, the arithmetic is done in a different order.
# In this next statement, the placement of the parenthes tells python
# to first add 1 and 3, then multiply 4. the result: 16

In [91]:
total_cost = (1+3) * 4
print(total_cost)

16

In [95]:
# another example
result_of_computation = (2*4) * 4 + 2
print(result_of_computation)

34

In [97]:
result_of_computation=((2*4) * 4) + 2
print(result_of_computation)

34

In [98]:
result_of_computation = (2*4) + (4*2)
print(result_of_computation)

16

### Chapter: 8 Concatenating text strings

In [106]:
# in string + is not addition but it is concateneation

In [104]:
# Suppose you wanted to break the greeting into two parts, and
# assign each part a separate variable, like this:

first_name = "arsalan"
last_name = "manzoor"

# you tell python to combine the two strings this way:
# It's callled concatenation, all it takes is a plus sign

full_name = first_name + " " + last_name
print(full_name)

arsalan manzoor

In [105]:
first_name = "arsalan"
separators = " "
last_name = "manzoor"
full_name = first_name + separators + last_name
print(full_name)

arsalan manzoor

In [108]:
print(first_name + separators + last_name)

arsalan manzoor

In [109]:
print("Hello "+ first_name)

Hello arsalan

In [111]:
# you can use the plus sign to sum numbers, and you can use it to
# concatenate strings but you can't use the plus sign to combine 
# strings and numbers

print("The sum of 2 plus 2 is : " +" 4")

The sum of 2 plus 2 is :  4