### Chapter:  1 -  print

In [4]:
# print is a function
# print tells the program to display words or numbers on the screen.

In [2]:
print("Hello, world!")

Hello, world!

In [3]:
# Print() --> Error

In [11]:
print(1000) # integer

1000

In [7]:
# ek sy ziyada values bhi print main di ja sakti hai
print(123,456)

123 456

In [12]:
print(123,12.3) # integer and floating point

123 12.3

In [13]:
print("python") # string

python

In [15]:
# quotation ky andar jo bhi data likhy gy woh data string data kehlata hai
print("12")

12

In [17]:
print("123pakistan") # alphanumeric data

123pakistan

In [18]:
# bracket ky pass mouse hover kary tu waha jo docstring hai 
# woh function ka signature kehlata hai
print()

In [21]:
# seperator ki waja sy ek value dosri value sy separate hai
# default separator is space
print("pakistan", "python", "piaic")

pakistan python piaic

In [24]:
print("pakistan", "python", "piaic", sep=" $$$ ")

pakistan $$$ python $$$ piaic

In [27]:
# end default value is new line
# \n -- Escape character

print("hello world1")
print("hello world2")
print("hello world3")

hello world1
hello world2
hello world3

In [30]:
print("hello world1", end=" -- ")
print("hello world2", end=" -- ")
print("hello world3")

hello world1 -- hello world2 -- hello world3

In [31]:
print("hello world1", end="\t")
print("hello world2", end="\t")
print("hello world3")

hello world1	hello world2	hello world3

### Escape Charachters

In [4]:
# \' -- (single quote) 
print('It\'s alright')

It's alright

In [6]:
# \\ -- (backslash)
print("This will insert one \\ (backslash)")

This will insert one \ (backslash)

In [8]:
# \n -- (newline)
print("Hello \nWorld")

Hello
World

In [14]:
# \r -- (carriage return) 616
# Carriage return means to return to the beginning of the current line without advancing downward
print("Hello \rWorld")

World

In [15]:
# \t -- (tab)
print("Hello \t World")

Hello 	 World

In [17]:
# \b -- (backspace) This example erases one character (backspace):
print("Hello \bWorld")

Hello World

In [19]:
print("Hello \newline World")

Hello
ewline World

In [20]:
# \" -- (Double quote)

print("It\"s alright")

It"s alright

### Chapter 2: Variables for Strings

In [2]:
# A variable is something that holds a vale that may change

# In simple terms, a variable is just box that you can put stuff in

# you can use variables to store all kinds of stuff, but for now we are
# just going to look at storing strings in variables 

# (aik aisa placeholder jisky andar hum koi value store karwa saky)
# (or jo value hum ny store karwai hai woh bad main change bhi ho saky)

In [15]:
# --- "String" (charachter of sequence)
# --- 10 (int number)
# --- 10.5 (floating pint number)

In [9]:
name = "arsalan"

# name is variable name(identifier)
# = assignment operator
# "arsalan" value (string value)

print(name)

arsalan

In [29]:
name = "abc"

# (nayee value assign karengy tu purani value override hojayegi)

print(name)

abc

In [64]:
# variable rules:

# variables are never enclosed in quotes
# it is not a keyword that has special meaning like -- print
# variables cant't have spaces in them
# variable name can't start with a number

# by convention python uses snake case variable naming
# like what_is_your_name = "arsalan"

In [14]:
last_name = "manzoor"
print(last_name)

manzoor

In [30]:
city = "karachi"
print(city)
print(type(city))

karachi
<class 'str'>

### Chapter 3: Variable for numbers

In [16]:
# A string isn't the only thing you can assign to a variable. you can also assign a number

In [17]:
a = 10

In [18]:
print(a)

10

In [25]:
a = 10.6
print(a)

10.6

In [27]:
# int a = 12
#(python main jab value ati hai toh woh apny sath apni type lykar ati hai)
# datatype ka masla python main nhi ata
# jab bhi hum value dalengy woh value apni type khud hi variable ko bata dygi
print(type(a))

<class 'float'>

In [28]:
a = 5
type(a)

int

In [31]:
# a number is not enclosed in quotes unlike string
# if you enclose a number in quotation marks it's a string

weight = 150
print(weight + 25)

175

In [33]:
num1 = 23
num2 = num1 + 7

print(num2)

30

In [35]:
# python can also do calculation
num_1 = 2
num_2 = 10
total = num_1 + num_2
print(total)

12

In [36]:
# a variable can be used in calculating its own new value
num = 90
num = num + 10
print(num)

100

In [39]:
# if you enclose a number in quotaion mark
num = "23"
# new_num = num + 7

# it won't work, because python can't sum a string and a number

### Chapter 4: Math Expressions

In [41]:
# Familiar operators are:
# addition +
# subtraction -
# multiplication *
# division /

In [45]:
print(23+45)
print(10-5)
print(5*5)
print(5/15)

68
5
25
0.3333333333333333

In [43]:
a = 23
b = 34
c = a+b
print(c)

57

In [47]:
# kisi bhi expression main agar ek bhi value float main hogi tu result float type main ayega
value_1 = 100
value_2 = 10.5
total = value_2 - value_1
print(total)

-89.5

In [52]:
value_1 = 100
value_2 = 100
sum = value_1 + value_2
print(sum)

200

In [53]:
value_1 = 100
value_2 = 100
mult = value_1 * value_2
print(mult)

10000

In [61]:
# do integer value divide ho rahi hain tu sum floating point main araha hai
# iski waja yeh hai k pyhton by default floating point division kehlati hai

value_1 = 100
value_2 = 200
div = value_1 / value_2
print(div)

0.5

In [60]:
# agar integer main answer chahiyeh tu ek aur division ka operator use 
# karengy woh //

value_1 = 100
value_2 = 200
div = value_1 // value_2  # integer division
# 0.5 # -- it cut down the decimal part

print(div)

0

### Chapter 5: Variables Names Legal and Illegal

In [65]:
# I already learned four rules about naming a variable

# 1. You can't enclose it in quotation marks.
# 2. You can't have any space in it
# 3. It can't be a number or begin with a number
# 4. It can't be any of python's reseved words also known as keywords
# the special words act as programming instructions, like print

In [66]:
# Here are the rest of rules for naming variables:

# 1. A varable name can contain only lowercase letters,uppercase letters
# numbers not starting, and underscores

# 2. Capital letters are fine but be careful variable names are case sensitive
# A rose with a lowercase r is not a Rose with an uppercase

# 3. Python's governing body recommends breaking up multi-word variables
# with underscores. It'll make them more readable
# Examples:

# user_response
# user_response_time
# user_response_time_limit

### Chapter 6: Math Expression Unfamiliar operators

In [68]:
# % modulo operator -- it divides one number by another, but doesn't
# give you the result of the division. It gives you the reminder after
# the first number is divided by the second number.

In [69]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [70]:
# if one number divides evenly into another, the modulo statement assigns
# 0 to the variable

In [71]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [74]:
# Here is second operator
# suppose you want to increase the of variable by 1 you could write

num = 10
print(num)

10

In [73]:
num = num + 1
print(num)

11

In [75]:
# this is shorthand way of doing the same thing
num += 1
print(num)

11

In [76]:
num = 10
print(num)

10

In [77]:
num += 10
print(num)

20

In [78]:
# you can use the same kind of shorthand for other operators, too.
# In the following code num is winds up of value 10.

num = 12
num -= 2
print(num)

10

In [79]:
# In the following code num is winds up with a value of 36
num = 12
num *= 3
print(num)

36

In [80]:
# Don't forget that you can always use a variable instead of number.
# In the following code num wids up with a value of 15
num = 12
amount_to_increment = 3
num += amount_to_increment
print(num)

15

### Operators

In [ ]:
# Total Operators are:

+, - , * /, %, // ,** # Mathematics

=, += ,-= ,*=, /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operator

and, or # Combine logic checking

In [12]:
# Precedence Rule:

# Parenthese ------------- Highest

# Exponent --------------- Right to Left

# *,/,//,% --------------- Left to Right

# +, -  ------------------ Left to Right

### Chapter 7: Math Expressions Eliminationg ambiguity

In [81]:
# Comples arithmeric operation can pose a problem, one that student
# face in high school algebra. Look at this example

In [82]:
total_cost = 1+3*4
print(total_cost)

13

In [83]:
# In python, as in algebra, the ambiguity is cleard by precedense rules.

In [99]:
2 + 6 * 8 / 5 + (2*3)

17.6

Pedmas
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

In [86]:
# Pedmas 

# parenthesis ()
# exponent **
# multiplication *
# division /
# addition +
# subtraction -

In [87]:
# You can finess the issue by using parenthesis to eliminate ambiguity.
# parentheses override all the other precedense rules.They force
# python to complete operations enclosed by parentheses before completing
# any other operations

In [88]:
# In this statement parentheses tell python to first multiply 3 by 4
# then add 1. the result: 13

In [89]:
total_cost = 1 + (3*4)
print(total_cost)

13

In [90]:
# If i move parentheses, the arithmetic is done in a different order.
# In this next statement, the placement of the parenthes tells python
# to first add 1 and 3, then multiply 4. the result: 16

In [91]:
total_cost = (1+3) * 4
print(total_cost)

16

In [95]:
# another example
result_of_computation = (2*4) * 4 + 2
print(result_of_computation)

34

In [97]:
result_of_computation=((2*4) * 4) + 2
print(result_of_computation)

34

In [98]:
result_of_computation = (2*4) + (4*2)
print(result_of_computation)

16

### Chapter: 8 Concatenating text strings

In [106]:
# in string + is not addition but it is concateneation

In [104]:
# Suppose you wanted to break the greeting into two parts, and
# assign each part a separate variable, like this:

first_name = "arsalan"
last_name = "manzoor"

# you tell python to combine the two strings this way:
# It's callled concatenation, all it takes is a plus sign

full_name = first_name + " " + last_name
print(full_name)

arsalan manzoor

In [105]:
first_name = "arsalan"
separators = " "
last_name = "manzoor"
full_name = first_name + separators + last_name
print(full_name)

arsalan manzoor

In [108]:
print(first_name + separators + last_name)

arsalan manzoor

In [109]:
print("Hello "+ first_name)

Hello arsalan

In [111]:
# you can use the plus sign to sum numbers, and you can use it to
# concatenate strings but you can't use the plus sign to combine 
# strings and numbers

print("The sum of 2 plus 2 is : " +" 4")

The sum of 2 plus 2 is :  4

### Chapter: 9 if statements

In [2]:
a = 100
b = 200

if a < b:
    print("a is less than b")
    print("Hello a")
    print("Hello b")
print("Hello python!")

a is less than b
Hello a
Hello b
Hello python!

In [3]:
if b < a: # return false
    print("b is less than a") # this block will not be execute
print("Pakistan")

Pakistan

In [4]:
if 2 + 2== 4:
    print("Every thing makes sense")

Every thing makes sense

### chapter 12: comparison operators

In [12]:
# '==' comparison operator

In [13]:
first_name = "arsalan"
sep = " "
last_name = "manzoor"

if first_name == "arsalan":
    print("ok")

ok

In [14]:
if first_name + " " + last_name == "arsalan manzoor":
    print("yes!")

yes!

In [15]:
if first_name + " " + "manzoor" == "arsalan manzoor":
    print("yehhh")

yehhh

In [16]:
# When you're comparing strings, the equality operators is case-sensitive
# 'Rose' does not equal "rose"

In [17]:
# Another comparison operator is != not equal opposite of ==

number = 10
if number != 2:
    print("ok")

ok

In [21]:
# Here are 4 more comparison operators, usually used to compare numbers

# > greater than, < less than
# >= greater than or equal to , <= less than or equal to

In [22]:
1>0

True

In [23]:
0<1

True

In [24]:
1>=0

True

In [25]:
1>=1

True

In [26]:
0<=1

True

In [27]:
1<=1

True

### chapter: 11 else and elif statements

In [30]:
# The if statement coded so far have been all-or-nothing, If the condition
# tested true, something happend, if the condition tested false nothing
# happend

a = 100
b = 200

# if the condition is fail than else statement execute
if a>b:
    print(True)
else:
    print(False)

False

In [31]:
marks = 70

# if the 1st condition is fail then check elif block if elif block fail
# then else block execute
if marks >=70:
    print("A+")
elif marks <=60:
    print("B")
else:
    print("C")

A+

### chapter 12: Testing sets of conditions

In [34]:
# using the if statement we have learned to test for a condition.
# if the condition is met, one or more statements execute but 
# suppose not one but two conditions have to be met in order 
# for a test succeed


# and ka matlab hai dono conditions ka true hona lazmi hai
age = 61
res = "pakistan"

if age > 60 and res == "pakistan":
    print("you are eligible")

you are eligible

In [35]:
# or ka matlab hai koi bhi ek condition true ho
age = 55
res = "pakistan"

if age > 60 or res == "pakistan":
    print("you are eligible")

you are eligible

In [36]:
if age > 60 or age <60 and res == "pakistan":
    print("you are eligible")

you are eligible

In [37]:
if (age > 60 or age <60) and res=="pakistan":
    print("you are eligible")

you are eligible

In [38]:
if age > 65 or (age<21 and res=="pakistan"):
    print("you are eligible")

### chapter 13 Nested if statement

In [46]:
score = 93

if score >=90:
    print("Grade A+")
    if score > 95:
        print("Reward 10000.")
    elif score >= 80 or score < 90:
        print("Reward 5000.")
    elif score >= 70 or score <80:
        print("Reward 3000.")
    else:
        print("Reward 1000.")
else:
    print("You are pass")

Grade A+
Reward 5000.

#### chapter 14: comments

In [47]:
# Comments are lines of text in you code that python ignores
# Comments are for the human, not the machine.

# to write the comment #

In [48]:
# This is a comment
# This is another comment
# Pyhton ignores these comments

In [49]:
print("Hello, world!") # Greet the world

Hello, world!

In [50]:
# you can enclose all the comment lines in three single quotation marks

In [51]:
'''
This is a comment
This is another comment
Python ignores these comments
'''

'\nThis is a comment\nThis is another comment\nPython ignores these comments\n'

#### Chapter 15 to 19 : Lists

In [11]:
# agar ek sy zyada values kisi variable main save karni hai tu hum list use karty hain
# a list is data structurein python that is mutable(yani changeable), 
# ordered sequence of elements

# each element or value that is inside a list is called an item

# bunch of values ko ek single variable main save karna

# list ky andar maujood har value ka index hota hai 1st value ka index
# no 0 hota hai by default

# list ky andar sari data type mix hokar asakti hain

# index starts from 0

In [7]:
alist = ["arsalan", "ali", "bilal"]
# index    0          1       2

In [8]:
alist

['arsalan', 'ali', 'bilal']

In [34]:
# without list
city0 = "khi"
city1 = "multan"
city2 = "lahore"
city3 ="quetta"

# with list
cities = ["khi", "multan", "lahore", "quetta"]

In [10]:
# how to access the members

In [11]:
alist[1]

'ali'

In [12]:
cities[3]

'quetta'

#### Chapter 16: Adding and changing elements

In [13]:
fruits = []

In [14]:
len(fruits)

0

In [15]:
len(cities)

4

In [16]:
# Adding a memebr to the list (append and insert)

In [17]:
fruits.append("apple")

In [18]:
fruits

['apple']

In [19]:
# append hamesha value ko list ky end main add karwata hai

In [20]:
fruits.append("orange")

In [21]:
fruits

['apple', 'orange']

In [22]:
# insert method (do cheezy mangata hai ki index par append karna or kya append karna hai)

In [23]:
fruits.insert(1, "mango")
fruits

['apple', 'mango', 'orange']

In [24]:
fruits.insert(0, "banana")
fruits

['banana', 'apple', 'mango', 'orange']

In [28]:
# extend method (yed bhi list ky andar values ko append karta hai dekhty hain)
# extend ky andar asiy value pass karni hai jo iterable ho 
# matlab jo bar bar utha saky recieve kar saky yani ek sy zyada value ho
fruits.extend(["apple", "cherry", "blueberry"])
fruits

['banana', 'apple', 'mango', 'orange', 'apple', 'cherry', 'blueberry']

In [ ]:
# another alternative way to append elements to a list

In [ ]:
cities = cities + ["isl", "peshawar"]
cities

In [29]:
# count method (count kar k batyega kansi value list main kitni bar exist karta hai)
fruits.count("apple")

2

In [30]:
# index method (kisi value ka agar index maloom karna ho k yeh value kis index py maujood hai list ky andar)
# searching/finding a value in list
fruits.index("cherry")

5

In [38]:
# another searching formula (this return true or false)
"cherry" in fruits

False

In [32]:
# clear method (remove all items permanently)
fruits.clear()
fruits

[]

In [41]:
fruits = ["apple", "cherry", "blueberry"]

In [42]:
# copy method (copy ka function list ki copy bana dyta hai)

fruits2 = fruits.copy() # by value copy
fruits2

['apple', 'cherry', 'blueberry']

In [43]:
fruits3 = fruits # by reference
fruits3

['apple', 'cherry', 'blueberry']

In [44]:
fruits.append("newfruit")
fruits3

['apple', 'cherry', 'blueberry', 'newfruit']

In [45]:
fruits2

['apple', 'cherry', 'blueberry']

In [52]:
# removing an item from a list (del -- statement, remove ---> function)
# del (del value by index number)
# remove (remove by value)

In [51]:
del fruits2[1]
fruits2

['apple', 'blueberry']

In [54]:
fruits2.remove("blueberry")
fruits2

['apple']

In [62]:
# pop method (list main sy item ko hata ny ky liyeh use hota hai)
# by index remove hota hai
# is main difference yeh hai k yeh hum chah rahy hai k jo value 
# delete ho rahi hai woh hamary pass kaheen store hojay 
# by default last main sy value delete karta hai
# lekin hum apni marzi ky index sy bhi value delete karwa sakty hain

In [56]:
cities

['khi', 'multan', 'lahore', 'quetta', 'isl', 'peshawar']

In [57]:
poppedCity=cities.pop()
poppedCity

'peshawar'

In [60]:
print(f"This city is popped from cities list: {poppedCity}")
print(f"The remaining cities are {cities}")

This city is popped from cities list: peshawar
The remaining cities are ['khi', 'multan', 'lahore', 'quetta', 'isl']

In [69]:
cities = ["khi", "multan", "lahore", "quetta"]

In [67]:
poppedCity = cities.pop(2)
poppedCity

'lahore'

In [77]:
# sort (sort the cities alphabetically and permanently changed the positon of list)
# by default ascending order main sorting karta
# agar descending order main sorting karni hai toh reverse ko True karna hoga

In [78]:
cities.sort()

In [79]:
cities

['khi', 'lahore', 'multan', 'quetta']

In [80]:
cities.sort(reverse=True)

In [81]:
cities

['quetta', 'multan', 'lahore', 'khi']

In [82]:
# reverse (jis order main hongy unku reverse kar dy ga)

In [83]:
cities.reverse()

In [84]:
cities

['khi', 'lahore', 'multan', 'quetta']

#### Slicing

In [92]:
# ek waqt main ek sy ziyada value agar list main sy nikalni hoon tu hum slicing use karty hain
# agar kisi list ky darmiyan main sy koi value chahiyeh ho tu hum slice use karty hain

In [1]:
# python provides a very handy feature if you want to take a partial
# piece of list.Note that slicing operation copies elements from the
# original list hence this operation returns a new list which is subset
# of the original list

In [85]:
# list ky double index hoty hain postive or negative
#index        -5    -4          -3       -2          -1        
students = ["Ali", "Faisal", "Saleem", "Hamza", "Kashif"]

#index        0      1          2         3         4

In [87]:
print(students[0])
print(students[-5])

Ali
Ali

In [88]:
# students[start:end+1]

In [89]:
students[1:2]

['Faisal']

In [90]:
students[1:3]

['Faisal', 'Saleem']

In [94]:
students[-4:-2]

['Faisal', 'Saleem']

In [99]:
students[:]

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']

In [97]:
students[3:]

['Hamza', 'Kashif']

In [98]:
students[:3]

['Ali', 'Faisal', 'Saleem']

In [100]:
students[2:-1]

['Saleem', 'Hamza']

In [101]:
students[2:-5] # yeh nhi chaly ga kun ki hum list main left to right jayengy

[]

In [104]:
# step parameter

In [105]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [107]:

nums[0:16:1] # [start:end:step]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [108]:
nums[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [109]:
nums[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Chapter 20:  Tuples

In [125]:
# Tuples are just like python list except that they are immutable.
# You can't add , delete and change elements after the creation of tuple

# aisa data jo koi change na kar sakty tu woh hum tuple ki form main rakhty hain

In [111]:
atuple = ("arsalan", 100, "manzoor")

In [112]:
len(atuple)

3

In [121]:
# multiple value assign kardien or bracket na lagye tu woh tuple ki form main store hoga
a = 12, 45,12

In [122]:
a

(12, 45, 12)

In [123]:
a.count(12)

2

In [124]:
a.index(45)

1

#### Chapter 21: for loops

In [3]:
# koi aisa task jo hum multiple type karna chahty hain usky liyeh hum for loop use karty hain koi repetitive task

# ek task bar bar perform karna ho toh hum loop use karty hain

# python provides 'for' loop to iterate over a sequence (e.g list, tuple, 
# dictionary).

In [4]:
print("arsalan")
print("arsalan")
print("arsalan")
print("arsalan")
print("arsalan")

arsalan
arsalan
arsalan
arsalan
arsalan

In [6]:
for a in range(5): # 5 will not be included 0,1,2,3,4
    print(a,"arsalan")

0 arsalan
1 arsalan
2 arsalan
3 arsalan
4 arsalan

In [11]:
for number in range(1,10): # start, end
    print(number)

1
2
3
4
5
6
7
8
9

In [13]:
for number in range(1,10,2): # start,end,step
    print(number)

1
3
5
7
9

In [21]:
for number in range(10,0,-1):
    print(number)

10
9
8
7
6
5
4
3
2
1

In [23]:
cities = ['khi', 'multan', 'quetta']

for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is khi
The city under consideration is multan
The city under consideration is quetta

In [24]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [29]:
country = "Pakistan"

for character in country:
    print(character)

P
a
k
i
s
t
a
n

In [30]:
country = "Pakistan", "America" # yeh banega tuple

for character in country:
    print(character)

Pakistan
America

##### for loop break and continue

In [ ]:
# break (if certain condition is met then break the loop)

# continue (if certain condition is met then skip and continue loop)

In [36]:
for number in [5,7,11,90]:
    if number % 2==0:
        break
    print(number)

5
7
11

In [38]:
for number in range(10):
    if number == 7 or number == 4:
        continue
    print(number)

0
1
2
3
5
6
8
9

#### chapter 22: for loops nested

In [1]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a, char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [2]:
tableNumber = int(input("Enter table number: "))
for a in range(1, 11):
    print(f"{tableNumber} * {a} = {tableNumber*a}")

Enter table number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [9]:
tables = int(input("enter the range of table: "))

for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

enter the range of table: 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [15]:
first_names = ["BlueRay", "Upchuck", "Lojack", "Gizo", "Do-Rag"]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]

full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
    
print(full_names)

['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchuck Zzz', 'Upchuck Burp', 'Upchuck Dogbone', 'Upchuck Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizo Zzz', 'Gizo Burp', 'Gizo Dogbone', 'Gizo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [16]:
for names in full_names:
    print(names)

BlueRay Zzz
BlueRay Burp
BlueRay Dogbone
BlueRay Droop
Upchuck Zzz
Upchuck Burp
Upchuck Dogbone
Upchuck Droop
Lojack Zzz
Lojack Burp
Lojack Dogbone
Lojack Droop
Gizo Zzz
Gizo Burp
Gizo Dogbone
Gizo Droop
Do-Rag Zzz
Do-Rag Burp
Do-Rag Dogbone
Do-Rag Droop

#### chapter: 23 getting information from the user and converting strings and numbers

In [18]:
# input from keyboard

# for this purpose python provides the function input()
# input has an optional parameter, which is the prompt string

In [19]:
name = input("Enter your name: ")
print(f"Hello, {name}")
print(type(name))

Enter your name: arsalan
Hello, arsalan
<class 'str'>

In [20]:
number = input("Enter number: ")
print(number)
print(type(number))

Enter number: 3
3
<class 'str'>

In [21]:
number = int(input("Enter number"))
print(number)
print(type(number))

Enter number3
3
<class 'int'>

In [22]:
float_number = float(input("Enter number: "))
print(float_number)
print(type(float_number))

Enter number: 3
3.0
<class 'float'>

#### chapter: 24 changing case

In [27]:
# Python provides builtin functions for scenarios a user wants to change
# the case of string data

In [26]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()

cleanest_cities = ['karachi', 'lahore', 'islamabd', 'multan']

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest city.")

Enter your city: MULTAN
It's one of the cleanest city.

In [30]:
str_data = 'i AM a STRING'

print(type(str_data))

print(str_data.lower()) # will output sentence in Lower case
print(str_data.upper()) # will output sentence in Upper case
print(str_data.title()) # will output sentence in Capitalize

<class 'str'>
i am a string
I AM A STRING
I Am A String

### Chapter 25 - 28: Dictionaries

In [1]:
# Python provides a data structure for such cases.Dictionary simply words is a data
# structure which stores the key value pairs

In [2]:
# my_Dict = {key: value, key: value, key: value}

In [3]:
my_Dict = {"name": "Arsalan", "age": 24, "gender": "Male"}

In [4]:
len(my_Dict)

3

In [5]:
my_Dict["name"]

'Arsalan'

In [6]:
my_Dict["age"]

24

### Chapter 29 Dictionaries: Adding items

In [7]:
my_Dict["email"] = "arsalan@gmail.com"

In [8]:
my_Dict

{'name': 'Arsalan', 'age': 24, 'gender': 'Male', 'email': 'arsalan@gmail.com'}

In [9]:
new_Dict = {1: 'Arsalan', 2: 'Noman'}

In [10]:
new_Dict[2]

'Noman'

### Chapter 30 Dictionaries : Removing and Changing items

In [11]:
del new_Dict[1]

In [12]:
new_Dict

{2: 'Noman'}

In [13]:
# Updating a key value

In [14]:
my_Dict

{'name': 'Arsalan', 'age': 24, 'gender': 'Male', 'email': 'arsalan@gmail.com'}

In [15]:
my_Dict["email"] = "arsalan19@gmail.com"

In [16]:
my_Dict

{'name': 'Arsalan',
 'age': 24,
 'gender': 'Male',
 'email': 'arsalan19@gmail.com'}

In [17]:
# agar ek dict main same key ho toh dosri wali key pehli key ko override kardygi

In [18]:
aDic = {1: 100, 2:200, 3:300, 4:400, 1:1000}

In [19]:
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

### 31 - 33 Dictionaries: Looping through Dictionaries

In [7]:
# Python provides 3 methods over dictionary object to iterate over dictionary values, keys
# and key value pair

In [3]:
student = {'Name': 'Arsalan', 'Class': 'AI', 'Program': 'PIAIC'}

In [5]:
# Looping thorugh values

for value in student.values():
    print(value)

Arsalan
AI
PIAIC

In [6]:
# Looping through keys

for key in student.keys():
    print(key)

Name
Class
Program

In [23]:
for key, value in student.items():
    print(f"{key} {value}")

Name Arsalan
Class AI
Program PIAIC

### 34 : Creating a list of dictionaries

In [24]:
customer_29876 = {
    "first name": "abid",
    "last name": "ali",
    "address": "buffer zone"
}

In [25]:
customer_ids = [101, 102, 103]

In [38]:
customers = [{
    "customer id" : 0,
    "first name": "ahmed",
    "last name": "ali",
    "address": "nagan chowrangi",
},
{
    "customer id": 1,
    "first name": "kamran",
    "last name": "khan",
    "address": "laloo khait",
    },
{
    "customer id": 2,
    "first name": "bilal",
    "last name": "akhtar",
    "address": "fb area",
    }]

### 35 How to pick information out of a list of dicionaries

In [39]:
print(customers[0]["first name"])

ahmed

In [40]:
print(customers[1]["first name"])

kamran

### 36 How to append a new dictionary to a list of dictionaries

In [41]:
new_customer_id = len(customers)
print(new_customer_id)

3

In [42]:
new_first_name = "shahid"
new_last_name = "afridi"
new_address = "ayesha manzil"

In [43]:
new_dictionary = {
    "customer id": new_customer_id,
    "first name": new_first_name,
    "last name": new_last_name,
    "address": new_address,
    
}

customers.append(new_dictionary)

In [44]:
customers

[{'customer id': 0,
  'first name': 'ahmed',
  'last name': 'ali',
  'address': 'nagan chowrangi'},
 {'customer id': 1,
  'first name': 'kamran',
  'last name': 'khan',
  'address': 'laloo khait'},
 {'customer id': 2,
  'first name': 'bilal',
  'last name': 'akhtar',
  'address': 'fb area'},
 {'customer id': 3,
  'first name': 'shahid',
  'last name': 'afridi',
  'address': 'ayesha manzil'}]

### 37 - 38 Creating a dictionary that contains lists

In [4]:
employee = {'Name': 'Shams', 'ChildrenNames': ['Taha', 'Abdul Rehman']}

In [5]:
employee

{'Name': 'Shams', 'ChildrenNames': ['Taha', 'Abdul Rehman']}

In [6]:
print(employee['ChildrenNames'][0])

Taha

In [7]:
print(employee['ChildrenNames'][1])

Abdul Rehman

### 39 - 40 Creating a dictionary that contains a dictionary

In [8]:
customers = {
   0: {
  'first name': 'ahmed',
  'last name': 'ali',
  'address': 'nagan chowrangi'},
 1: {
  'first name': 'kamran',
  'last name': 'khan',
  'address': 'laloo khait'},
 2: {
  'first name': 'bilal',
  'last name': 'akhtar',
  'address': 'fb area'},
 3: {
  'first name': 'shahid',
  'last name': 'afridi',
  'address': 'ayesha manzil'}
}

In [9]:
print(customers)

{0: {'first name': 'ahmed', 'last name': 'ali', 'address': 'nagan chowrangi'}, 1: {'first name': 'kamran', 'last name': 'khan', 'address': 'laloo khait'}, 2: {'first name': 'bilal', 'last name': 'akhtar', 'address': 'fb area'}, 3: {'first name': 'shahid', 'last name': 'afridi', 'address': 'ayesha manzil'}}

In [10]:
print(customers[2])

{'first name': 'bilal', 'last name': 'akhtar', 'address': 'fb area'}

In [11]:
print(customers[2]["first name"])

bilal

In [12]:
print(customers[1])

{'first name': 'kamran', 'last name': 'khan', 'address': 'laloo khait'}

In [13]:
print(customers[1]["address"])

laloo khait