In [10]:
customer_1 = {"first name": "arsalan", "last name": "manzoor", 
              "address": "bufferzone karachi"}

In [11]:
address_of_customer = customer_1["address"]
print(address_of_customer)

bufferzone karachi

In [12]:
len(customer_1)

3

In [13]:
customer_1["email"] = "arsalan@gmail.com"

In [14]:
customer_1

{'first name': 'arsalan',
 'last name': 'manzoor',
 'address': 'bufferzone karachi',
 'email': 'arsalan@gmail.com'}

In [16]:
customer_1["first name"]

'arsalan'

In [17]:
customer_1["last name"]

'manzoor'

In [24]:
newDic = {1: "AHMED", 2: "IMRAN"}

In [25]:
newDic[1]

'AHMED'

In [26]:
newDic[2]

'IMRAN'

In [27]:
del newDic[1]

In [28]:
newDic

{2: 'IMRAN'}

In [29]:
myDic = {"name": "arsalan", "age": 22, "gendre": "male","email": "abc@gmail.com"}

In [30]:
myDic

{'name': 'arsalan', 'age': 22, 'gendre': 'male', 'email': 'abc@gmail.com'}

In [32]:
myDic["email"] = "arsalan@gmail.com"

In [33]:
myDic

{'name': 'arsalan', 'age': 22, 'gendre': 'male', 'email': 'arsalan@gmail.com'}

In [34]:
aDic = {1:100 ,2:200, 3:300, 4:400 , 1:10000 }

In [35]:
aDic

{1: 10000, 2: 200, 3: 300, 4: 400}

In [36]:
1 in aDic

True

In [39]:
"age" in myDic

True

In [40]:
sumDic = {
    1: 9.0,
    2: 10.0,
    3: 5.0
}

print(sumDic[1]+sumDic[2]+sumDic[3])

24.0

In [41]:
newDic = {}

In [42]:
newDic[1] = "faisal"

In [43]:
newDic

{1: 'faisal'}

In [44]:
newDic[2] = "noman"
newDic[3] = "jawwad"

In [45]:
newDic

{1: 'faisal', 2: 'noman', 3: 'jawwad'}

In [46]:
myDic

{'name': 'arsalan', 'age': 22, 'gendre': 'male', 'email': 'arsalan@gmail.com'}

In [47]:
student_1 = {
    "Name": "Arsalan",
    "Class": "AI",
    "Age" : 22,
    "Program": "PIAIC"
}

In [48]:
for value in student_1.values():
    print(value)

Arsalan
AI
22
PIAIC

In [49]:
for key in student_1.keys():
    print(key)

Name
Class
Age
Program

In [53]:
for key,value in student_1.items():
    print(f"{key} is {value}")

Name is Arsalan
Class is AI
Age is 22
Program is PIAIC

In [1]:
customer_ids = [101, 102, 103]

In [2]:
customers = [{
    "customer id": 0,
    "first name": "arsalan",
    "last name" : "manzoor",
    "gender"    : "male",
},
{
    "customer id": 1,
    "first name": "rizwan",
    "last name" : "akhtar",
    "gender"    : "male",       
},
{
    "customer id": 2,
    "first name": "umair",
    "last name" : "idress",
    "gender"    : "male",

}]

In [3]:
customers[1]

{'customer id': 1,
 'first name': 'rizwan',
 'last name': 'akhtar',
 'gender': 'male'}

In [5]:
customers[1]["last name"]

'akhtar'

In [6]:
len(customers)

3

In [7]:
customer_29876 = {
    "first name": "ahmed",
    "last name": "faraz",
    "address": "baloch colony",
    "discount" : ["standard", "volume", "loyalty"],
}

In [8]:
if "brother-in-law" in customer_29876["discount"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discount"]:
    discount_amount = .15
elif "volume" in customer_29876["discount"]:
    discount_amount = .10
elif "standard" in customer_29876["discount"]:
    discount_amount = .05

In [1]:
print(discount_amount)

NameError: name 'discount_amount' is not defined

In [10]:
customers = {
    0: {

    "first name": "arsalan",
    "last name" : "manzoor",
    "gender"    : "male",
},
    1: {
    
    "first name": "rizwan",
    "last name" : "akhtar",
    "gender"    : "male",       
},
    2: {
    
    "first name": "umair",
    "last name" : "idress",
    "gender"    : "male",

}
}

In [11]:
print(customers[1])

{'first name': 'rizwan', 'last name': 'akhtar', 'gender': 'male'}

In [12]:
print(customers[1]["last name"])

akhtar

In [2]:
print("///")

///

In [3]:
student_1 = {
    "name": "talha",
    "last name": "ahmed",
    "roll no" : 22,
}

In [5]:
student_ids = [101, 102, 103]

In [6]:
students = [
    {
        "student id": 0,
        "first name": "ammar",
        "last name": "shaikh",
        "address": "north karachi",
    },
    {
        "student id": 1,
        "first name": "daniyal",
        "last name": "ahmed",
        "address": "clifton",
        
    },
    {
        "student id": 2,
        "first name": "imran",
        "last name": "ali",
        "address": "bufferzone",
    }
]

In [7]:
dictionary_to_look_in = students[1]

In [8]:
student_address = dictionary_to_look_in["address"]

In [9]:
student_address

'clifton'

In [11]:
student_name = dictionary_to_look_in["first name"]
student_name

'daniyal'

In [14]:
counting_of_students_list = len(students)
print(counting_of_students_list)

3

In [21]:
new_first_name = "afroz"
new_last_name = "ahmed"
new_address = "baloch colony"

In [22]:
new_student = {
    "student id": len(students),
    "first name": new_first_name,
    "last name": new_last_name,
    "address" :new_address,
}

In [23]:
students.append(new_student)

In [24]:
print(students)

[{'student id': 0, 'first name': 'ammar', 'last name': 'shaikh', 'address': 'north karachi'}, {'student id': 1, 'first name': 'daniyal', 'last name': 'ahmed', 'address': 'clifton'}, {'student id': 2, 'first name': 'imran', 'last name': 'ali', 'address': 'bufferzone'}, {'student id': 3, 'first name': 'afroz', 'last name': 'ahmed', 'address': 'baloch colony'}, {'student id': 4, 'first name': 'afroz', 'last name': 'ahmed', 'address': 'baloch colony'}]

In [2]:
employees = {
   0: {
        
        "first name": "junaid",
        "last name": "haroon",
        "address": "hussainabad",
    },
    1: {
        
        "first name": "imran",
        "last name": "ali",
        "address": "bufferzone",
    },
    2: {
        
        "first name": "sattar",
        "last name": "ghaffar",
        "address": "larkana",
    }
}

In [3]:
print(employees)

{0: {'first name': 'junaid', 'last name': 'haroon', 'address': 'hussainabad'}, 1: {'first name': 'imran', 'last name': 'ali', 'address': 'bufferzone'}, 2: {'first name': 'sattar', 'last name': 'ghaffar', 'address': 'larkana'}}

In [4]:
print(employees[1]["address"])

bufferzone

In [6]:
print(employees[2]["first name"])

sattar