In [16]:
myDic = {
    "first name": "Arsalan",
    "age": 20,
    "gender": "male"
}

In [17]:
len(myDic)

3

In [18]:
myDic["email"] ="abc@gmail.com"

In [19]:
myDic

{'first name': 'Arsalan',
 'age': 20,
 'gender': 'male',
 'email': 'abc@gmail.com'}

In [20]:
myDic["age"]

20

In [21]:
myDic["first name"]

'Arsalan'

In [22]:
myDic["email"]

'abc@gmail.com'

In [23]:
newDic = {1: "Asad", 2: "Saad", 3: "Umair", 4: "Noman"}

In [24]:
newDic[3]

'Umair'

In [25]:
newDic[2]

'Saad'

In [26]:
del newDic[3]

In [27]:
newDic

{1: 'Asad', 2: 'Saad', 4: 'Noman'}

In [28]:
del newDic[1]

In [29]:
newDic

{2: 'Saad', 4: 'Noman'}

In [30]:
myDic

{'first name': 'Arsalan',
 'age': 20,
 'gender': 'male',
 'email': 'abc@gmail.com'}

In [31]:
myDic["email"] = "arsalan@gmail.com"

In [32]:
myDic

{'first name': 'Arsalan',
 'age': 20,
 'gender': 'male',
 'email': 'arsalan@gmail.com'}

In [33]:
aDic = {1:100, 2:200, 3:300, 4:400, 1:1000}

In [34]:
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

In [35]:
1 in aDic

True

In [36]:
4 in aDic

True

In [37]:
10 in aDic

False

In [38]:
"age" in myDic

True

In [39]:
"Age" in myDic

False

In [40]:
things_to_remember = {}

In [41]:
things_to_remember[1] = "1 is the number"
things_to_remember[2] = "a dozen"

In [42]:
things_to_remember

{1: '1 is the number', 2: 'a dozen'}

In [43]:
myDic

{'first name': 'Arsalan',
 'age': 20,
 'gender': 'male',
 'email': 'arsalan@gmail.com'}

In [44]:
for each_value in myDic.values():
    print(each_value)

Arsalan
20
male
arsalan@gmail.com

In [45]:
names = ['David', 'Peter', 'Michael', 'John', 'Bob']
for i in range (len (names)):
    print("{}.{}".format(i + 1, names[i]))

1.David
2.Peter
3.Michael
4.John
5.Bob

In [46]:
for each_key in myDic.keys():
    print(each_key)

first name
age
gender
email

In [53]:
for each_key, each_value in myDic.items():
    print("The ", each_key , " is ", each_value)

The  first name  is  Arsalan
The  age  is  20
The  gender  is  male
The  email  is  arsalan@gmail.com

In [62]:
customer = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 }

In [63]:
for each_key, each_value in customer.items():
     print("The customer's " + each_key + " is " +
each_value)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.

In [72]:
students = []

In [73]:
students.append({'Name': 'Ali','Class':'AI','Campus': 1})

In [74]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campus': 1}]

In [75]:
students.append({'Name': 'Noman','Class':'AI','Campus': 2})

In [76]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campus': 1},
 {'Name': 'Noman', 'Class': 'AI', 'Campus': 2}]

In [77]:
students[1]['Campus']

2

In [78]:
customer_ids = [101, 102, 103]

In [87]:
customers = [
    {
        "customer id" : customer_ids[0],
        "first name": "noman",
        "last_name": "mughal",
        "address": "johar"
    },
    {
        "customer id" : customer_ids[1],
        "first name": "jamal",
        "last_name": "ahmed",
        "address": "fb area"
    },
    {
        "customer id" : customer_ids[2],
        "first name": "inzmam",
        "last_name": "malik",
        "address": "baloch colony"
    }
    
]

In [88]:
customers

[{'customer id': 101,
  'first name': 'noman',
  'last_name': 'mughal',
  'address': 'johar'},
 {'customer id': 102,
  'first name': 'jamal',
  'last_name': 'ahmed',
  'address': 'fb area'},
 {'customer id': 103,
  'first name': 'inzmam',
  'last_name': 'malik',
  'address': 'baloch colony'}]

In [90]:
customers[0]

{'customer id': 101,
 'first name': 'noman',
 'last_name': 'mughal',
 'address': 'johar'}

In [92]:
customers[0]["customer id"]

101

In [93]:
customers[2]["first name"]

'inzmam'

In [94]:
dic_to_look_in = customers[1]

In [95]:
dic_to_look_in

{'customer id': 102,
 'first name': 'jamal',
 'last_name': 'ahmed',
 'address': 'fb area'}

In [96]:
customer_address = dic_to_look_in["address"]

In [97]:
customer_address

'fb area'

In [98]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campus': 1},
 {'Name': 'Noman', 'Class': 'AI', 'Campus': 2}]

In [99]:
for student in students:
    print(student)

{'Name': 'Ali', 'Class': 'AI', 'Campus': 1}
{'Name': 'Noman', 'Class': 'AI', 'Campus': 2}