In [1]:
squares = []

for i in range(1,11):
    squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# list comprehenesion
square2 = [i**2 for i in range(1,11)]
print(square2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
negative = []
for i in range(1,11):
    negative.append(-i)
print(negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [13]:
new_negative = [-i for i in range(1,11)]
print(new_negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [21]:
names = ['arsalan', 'manzoor', 'kamran', 'rehan']
new_list = []
for i in range(len(names)):
    new_names = names[i]
    new_list.append(new_names[0])

In [22]:
new_list

['a', 'm', 'k', 'r']

In [23]:
names = ['Arsalan', 'Manzoor', 'Kamran', 'Rehan']
new_list = []

for name in names:
    new_list.append(name[0])
print(new_list)

['A', 'M', 'K', 'R']

In [24]:
names = ['Arsalan', 'Manzoor', 'Bilal', 'Rehan']
new_list = [name[0] for name in names]
new_list

['A', 'M', 'B', 'R']

In [33]:
words = ['abc','tuv','xyz']
new_words = []

for word in words:
    new_words.append(word[::-1])
print(new_words)

['cba', 'vut', 'zyx']

In [28]:
def reverse_list(words):
    new_words = []
    for word in words:
        new_words.append(word[::-1])
    print(new_words)
reverse_list(words = ["arsalan","manzoor"])

['nalasra', 'rooznam']

In [31]:
def reverse_list(words):
    new_words = [word[::-1] for word in words]
    
    print(new_words)
reverse_list(["rehan","manzoor"])

['naher', 'rooznam']

In [34]:
# list comprehension with if else

In [37]:
numbers = list(range(1,11))
nums = []
for i in numbers:
    if i % 2 == 0:
        nums.append(i)
print(nums)

[2, 4, 6, 8, 10]

In [41]:
even_nums = [i for i in numbers if i%2 == 0]
print(even_nums)

odd_nums = [i for i in numbers if i%2 !=0]
print(odd_nums)

even_nums2 = [i for i in range(1,11) if i%2 == 0]
print(even_nums2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [102]:
li = [True, True, [1,2,3],1,1.0,3]
new_li = []
for elem in li:
    if type(elem) == int or type(elem) == float:
        new_li.append(elem)
        
new_li

[1, 1.0, 3]

In [107]:
def num_to_string(li):
    new_li = [str(elem) for elem in li if type(elem) == int or type(elem) == float]
    print(new_li)

In [109]:
num_to_string(['arsalan', 2, 10,'faizan'])

['2', '10']

In [111]:
nums = [1,2,3,4,5,6,7,8,9,10]
new_list = []

for elem in nums:
    if elem%2 != 0:
        new_list.append(-elem)
    else:
        new_list.append(elem*2)
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [112]:
new_list2 = [i*2 if (i%2 == 0) else -i for i in nums]
print(new_list2)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [116]:
nested_comp = [[i for i in range(1,4)] for j in range(3)]
nested_comp

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [117]:
new_list = []
for j in range(3):
    new_list.append([1,2,3])

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [139]:
# set data type
# Set Unordered collection of unique items
# set main list or dictionary ko store nhi kar sakty

In [122]:
s = {1,2,3}
type(s)

set

In [124]:
# ek item ek sy zyada nahi ho sakti
s = {1,2,3,2,1}
print(s)

{1, 2, 3}

In [126]:
# Indexing is not allowed in sets
s = {1,2,3,2,1}
print(s[1])

TypeError: 'set' object is not subscriptable

In [127]:
l = [1,1,2,3,4,5,6,7,5,6,5,10]
# remove duplication

s2 = set(l)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 10}

In [128]:
l = [1,1,2,3,4,5,6,7,5,6,5,10]
# remove duplication

s2 = list(set(l))
print(s2)

[1, 2, 3, 4, 5, 6, 7, 10]

In [130]:
s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [137]:
s = {1,2,3}

s.add(4)
print(s)

s.add(5)
print(s)

s.add(4)
print(s)

s.remove(5)
print(s)

#s.remove(9)
s.discard(3)
print(s)

#discacard method error nhi dyta agar koi key maujood na ho
# jab remove methid error dyga agar key maujood na ho
s.discard(10)
print(s)

s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 4}
{1, 2, 4}
set()

In [138]:
s = {1,2,3}
print(s)

s1 = s.copy()
print(s1)

{1, 2, 3}
{1, 2, 3}

In [142]:
# set 1 or 1.0 ko same treat karta hai
s= {1,1.0,2.3,'string'}
print(s)

s = {1,1.1,2.3,'string'}
print(s)

{1, 2.3, 'string'}
{'string', 1, 2.3, 1.1}

In [143]:
s = {[1,2,3],{'1':'arslan'}}

TypeError: unhashable type: 'list'

In [145]:
s = {'a', 'b', 'c'}

if 'a' in s:
    print('present')
else:
    print('not present')
    

for item in s:
    print(item)

present
b
a
c

In [153]:
# set maths

s1 = {1,2,3,4}
s2 = {3,4,5,6}

#{1,2,3,4,5,6}
# | pipe

# union
print("Union:")
union_set = s1 | s2
print(union_set)

print("\nIntersection:")
#intersection
print(s1 & s2)

Union:
{1, 2, 3, 4, 5, 6}

Intersection:
{3, 4}