# For loop

In [1]:
print("arsalan")
print("arsalan")
print("arsalan")
print("arsalan")
print("arsalan")

arsalan
arsalan
arsalan
arsalan
arsalan

In [2]:
for a in range(5):       # 5 will not be included (0,1,2,3,4)
    print(a," : arsalan")

0  : arsalan
1  : arsalan
2  : arsalan
3  : arsalan
4  : arsalan

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [8]:
for number in range(1, 10):
    print(number)

1
2
3
4
5
6
7
8
9

In [9]:
for number in range(1, 10, 2):
    print(number)

1
3
5
7
9

In [17]:
for table in range(1,10):
    print("2 * " ,table,"=", table * 2)

2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18

In [20]:
for number in range(10,1, -2):
    print(number)

10
8
6
4
2

In [21]:
cities = ["karachi", "lahore", "quetta", "islamabad", "hyderabad"]

In [22]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is karachi
The city under consideration is lahore
The city under consideration is quetta
The city under consideration is islamabad
The city under consideration is hyderabad

In [23]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [24]:
country  = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [25]:
country  = "Pakistan","America"

for char in country:
    print(char)

Pakistan
America

# for loop break and countinue

In [10]:
for number in range(10):
    if number % 3 == 1:
        break
    print(number)

0

In [5]:
for numbers in [5,7,11,90]:
    if numbers % 2 == 0:
        break
    print(numbers)

5
7
11

In [39]:
print("Arsalan")

Arsalan

In [9]:
for num in range(10):
    if num == 7 or num == 4:
        continue
    print(num)

0
1
2
3
5
6
8
9

In [22]:
cleanest_cities = ["karachi","quetta","peshawar","lahore","multan"]
city_to_check = "lahore"

for a in cleanest_cities:
    if city_to_check == a:
        
        print("Its one of the cleanest city :",a)
        break

Its one of the cleanest city : lahore

In [7]:
names = ["arsalan", "noman", "taha", "owais"]

for a in names:
    print(a)

arsalan
noman
taha
owais

# Nested for loop

In [5]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a,char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [9]:
for i in (1,"arsalan","karachi"):
    print(i)

1
arsalan
karachi

In [13]:
for i in range(11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [14]:
for i in range(11,21,2):
    print(i)

11
13
15
17
19

In [17]:
for i in range(20,10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [20]:
for i in range(10):
    print(f"{i}: hello world")

0: hello world
1: hello world
2: hello world
3: hello world
4: hello world
5: hello world
6: hello world
7: hello world
8: hello world
9: hello world

In [21]:
for i in range(1, 11):
    print(f"{i}: hello world")

1: hello world
2: hello world
3: hello world
4: hello world
5: hello world
6: hello world
7: hello world
8: hello world
9: hello world
10: hello world

In [22]:
total = 0

for i in range(1,11):
    total += i
    
print(total)

55

In [5]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

print(number_grid[0][1])

2

In [8]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [12]:
first_names = ["BlueRay","Upchuck","Lojack","Gizmo","Do-Rag"]
last_names = ["Zzz","Burp","Dogbone","Droop"]
full_names = []

for a_first_names in first_names:
    for a_last_names in last_names:
        full_names.append(a_first_names+" "+a_last_names)
for c in full_names:
    print(c)

BlueRay Zzz
BlueRay Burp
BlueRay Dogbone
BlueRay Droop
Upchuck Zzz
Upchuck Burp
Upchuck Dogbone
Upchuck Droop
Lojack Zzz
Lojack Burp
Lojack Dogbone
Lojack Droop
Gizmo Zzz
Gizmo Burp
Gizmo Dogbone
Gizmo Droop
Do-Rag Zzz
Do-Rag Burp
Do-Rag Dogbone
Do-Rag Droop

In [20]:
outer_loop_total = 0   # 3 
inner_loop_total = 0   # 4  + 4 + 3
countries = ["Pakistan", "China", "Afghanistan", "Russia"]
capital = ["Karachi", "Beijing", "Kabul", "Moscow"]

for country_to_check in countries:
    outer_loop_total += 1
    
    for capital_to_check in capital:
        inner_loop_total += 1
        
        if country_to_check == "Afghanistan" and capital_to_check == "Kabul":
            print(outer_loop_total + inner_loop_total)

14