In [1]:
cities = ["karachi", "lahore", "quetta", "peshawar"]
cities

['karachi', 'lahore', 'quetta', 'peshawar']

In [2]:
cities.append("hyderabad")

In [3]:
cities

['karachi', 'lahore', 'quetta', 'peshawar', 'hyderabad']

In [4]:
cities.insert(1,"larkana")
cities

['karachi', 'larkana', 'lahore', 'quetta', 'peshawar', 'hyderabad']

In [6]:
fruits = []

In [10]:
cities.count("karachi")

1

In [11]:
fruits = fruits + ["apple", "cherry", "orange", "orange"]

In [12]:
fruits

['apple', 'cherry', 'orange', 'orange']

In [13]:
fruits.count("orange")

2

In [14]:
fruits[2] = "mango"
fruits

['apple', 'cherry', 'mango', 'orange']

In [15]:
cities

['karachi', 'larkana', 'lahore', 'quetta', 'peshawar', 'hyderabad']

In [16]:
another_cities = cities[1:4]
another_cities

['larkana', 'lahore', 'quetta']

In [17]:
names = ["arsalan", "faizan", "farhan", "hamza", "noman", "ali"]
names

['arsalan', 'faizan', 'farhan', 'hamza', 'noman', 'ali']

In [22]:
names

['arsalan', 'faizan', 'farhan', 'hamza', 'noman', 'ali']

In [21]:
another_name = names [:5]
another_name

['arsalan', 'faizan', 'farhan', 'hamza', 'noman']

In [23]:
another_name_1 = names[2:]
another_name_1

['farhan', 'hamza', 'noman', 'ali']

In [2]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

In [6]:
del days[0]
days

['Thu', 'Fri']

In [5]:
days

['Mon', 'Thu', 'Fri']

In [9]:
mobiles = ["samsung", "iphone", "motorola", "huwaei", "vivo"]
mobiles

['samsung', 'iphone', 'motorola', 'huwaei', 'vivo']

In [10]:
del mobiles[2]
mobiles

['samsung', 'iphone', 'huwaei', 'vivo']

In [11]:
del mobiles[1]
mobiles

['samsung', 'huwaei', 'vivo']

In [12]:
mobiles.remove("vivo")
mobiles

['samsung', 'huwaei']

In [13]:
new_mobiles = mobiles.pop()
new_mobiles

'huwaei'

In [14]:
mobiles

['samsung']

In [15]:
mobiles = mobiles + ["iphone", "nokia", "motorola"]
mobiles

['samsung', 'iphone', 'nokia', 'motorola']

In [16]:
new_mobiles = mobiles.pop(1)
new_mobiles

'iphone'

In [18]:
mobiles

['samsung', 'nokia', 'motorola']

In [20]:
new_mobiles = mobiles.pop(2)
new_mobiles

'motorola'

In [21]:
new_mobiles

'motorola'

In [22]:
mobiles.clear()
mobiles

[]

In [23]:
mobiles = ['samsung', 'iphone', 'nokia', 'motorola']

In [24]:
new_mobiles = mobiles.copy()
new_mobiles

['samsung', 'iphone', 'nokia', 'motorola']

In [25]:
"nokia" in new_mobiles

True

# Slicing

In [36]:

#index        -5        -4        -3        -2         -1 
students = ["Ahmed", "Noman", "Jhangeer", "Irfan", "Hammad"]
#index        0            1        2           3       4

In [29]:
print(students[0])
print(students[-5])

Ahmed
Ahmed

In [30]:
students[1:3]

['Noman', 'Jhangeer']

In [32]:
students[-4:-2]

['Noman', 'Jhangeer']

In [33]:
students[:]

['Ahmed', 'Noman', 'Jhangeer', 'Irfan', 'Hammad']

In [34]:
students[3:]

['Irfan', 'Hammad']

In [35]:
students[:3]

['Ahmed', 'Noman', 'Jhangeer']

In [37]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [38]:
numbers[0:16:1] #3rd is step

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [39]:
numbers[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [41]:
numbers[::5]

[1, 6, 11, 16]