In [1]:
d = {}

In [2]:
d["jawaid"] = 24

In [3]:
d

{'jawaid': 24}

In [4]:
d["Tom"] = 32
d["kala"] = 16

In [5]:
print(d["Tom"])

32

In [6]:
d

{'jawaid': 24, 'Tom': 32, 'kala': 16}

In [7]:
print(d["kala"])

16

In [8]:
print(d["bilal"])

KeyError: 'bilal'

In [9]:
d["kala"] = 20

In [10]:
print(d)

{'jawaid': 24, 'Tom': 32, 'kala': 20}

In [11]:
type(d)

dict

In [12]:
len(d)

3

In [13]:
d[10] = 100

In [14]:
d

{'jawaid': 24, 'Tom': 32, 'kala': 20, 10: 100}

In [15]:
d[10]

100

In [16]:
for key, value in d.items():
    print("key:")
    print(key)
    print("value:")
    print(value)
    print("")

key:
jawaid
value:
24

key:
Tom
value:
32

key:
kala
value:
20

key:
10
value:
100

In [17]:
a = [1, 3, 5, 7, 9, 11]

In [18]:
b = []
b.append(10)
b.append(20)
print(b)

[10, 20]

In [19]:
c = []
for x in a:
    c.append(x * 2)
print(c)

[2, 6, 10, 14, 18, 22]

In [20]:
d = [x * 2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [22]:
#[1,4,9,`16,25,36]

e1 = []

for x in range(1,7):
    e1.append(x ** 2)
print(e1)

[1, 4, 9, 16, 25, 36]

In [23]:
e2 = [x ** 2 for x in range(1,7)]
print(e2)

[1, 4, 9, 16, 25, 36]

In [26]:
e3 = []

for x in range(6,0,-1):
    e3.append(x ** 2)
print(e3)

[36, 25, 16, 9, 4, 1]

In [28]:
e4 = [x ** 2 for x in range(6,0,-1)]
print(e4)

[36, 25, 16, 9, 4, 1]

In [29]:
# sets in python 

# A set is a type of data that stores a set of things.

# A set of unique thins.

# {1,3} <-3
# -> {1,3}

In [30]:
a = set()
print(a)

set()

In [31]:
a.add(1)

In [32]:
a

{1}

In [33]:
type(a)

set

In [34]:
a.add(2)
a

{1, 2}

In [35]:
a.add(2)

In [36]:
a

{1, 2}

In [37]:
for x in a:
    print(x)

1
2

In [38]:
given_list1 = [1,1,2,4,2]

In [39]:
new_set1 = set()

for x in given_list1:
    new_set1.add(x)
print(new_set1)

{1, 2, 4}

In [40]:
new_list1 = list()

for x in new_set1:
    new_list1.append(x)
print(new_list1)

[1, 2, 4]

In [41]:
b = set()
b.add('apple')
b.add('banana')
b.add(1)
print(b)

{1, 'apple', 'banana'}

In [49]:
given_list2 = [1, 3, 4 ,1 ,3]
new_set2 = set()


for x in given_list2:
    new_set2.add(x)
print(new_set2)
total = 0
for a in new_set2:
    total+=a
print(total)

{1, 3, 4}
8

In [52]:
customer = {
    "name": "jhangeer imran",
    "age" : 30,
    "is_verified": True,
    
}
print(customer)

{'name': 'jhangeer imran', 'age': 30, 'is_verified': True}

In [53]:
customer["name"]

'jhangeer imran'

In [55]:
print(customer.get("Name"))

None

In [56]:
print(customer.get("birthdate", "jan 1 1999"))

jan 1 1999

In [57]:
customer

{'name': 'jhangeer imran', 'age': 30, 'is_verified': True}

In [58]:
customer['name'] = "akbar"

In [59]:
customer

{'name': 'akbar', 'age': 30, 'is_verified': True}