In [1]:
print("1000")

1000

In [2]:
print(123, 456)

123 456

In [3]:
print("123","456")

123 456

In [4]:
print(123,1.23)

123 1.23

In [5]:
print(type("1000"))

<class 'str'>

In [9]:
print(type("123"))

<class 'str'>

In [11]:
print(type(1.2))

<class 'float'>

In [12]:
print("python")

python

In [14]:
print("We're going to take classes of python")

We're going to take classes of python

In [15]:
print('We"re going to takes classes of python ')

We"re going to takes classes of python

In [16]:
print('He said "Hi".')

He said "Hi".

In [17]:
print('we\'re going to the store')

we're going to the store

In [21]:
print("Hi","there")

Hi there

In [22]:
print("10 * 10 = ",10*10)

10 * 10 =  100

In [25]:
print("Hi"," ","there")

Hi   there

In [31]:
print("Pakistan","Zindabad","Arsalan",sep = " && ")

Pakistan && Zindabad && Arsalan

In [33]:
print("hello world 1")
print("hello world 2")
print("hello world 3")
print("hello world 4")

hello world 1
hello world 2
hello world 3
hello world 4

In [36]:
print("hello world 1",end="\t\t")
print("hello world 2",end="\t\t")
print("hello world 3",end="\t\t")
print("hello world 4")

hello world 1		hello world 2		hello world 3		hello world 4

In [46]:
a = 10

In [47]:
print(a)
type(a)

10

int

In [48]:
a = 10.6

In [49]:
print(a)

10.6

In [50]:
type(a)

float

In [51]:
country = "pakistan"

In [52]:
print(country)

pakistan

In [53]:
type(country)

str

In [54]:
city = 45

In [55]:
type(city)

int

In [56]:
city

45

In [58]:
first_name = "arsalan"
last_name = "manzoor"

In [62]:
print(first_name + last_name)
print(first_name,last_name)

arsalanmanzoor
arsalan manzoor

In [63]:
num1 = 100
num2 = 200
sum = num1 + num2

print(sum)

300

In [64]:
num_1 = 100
num_2 = 10.5

sum = num_1 + num_2

print(sum)

110.5

In [65]:
value1 = 100
value2 = 10.5

sum = value2 - value1
print(sum)

-89.5

In [68]:
value1 = 100
value2 = 2

sum = value2 * value1
print(sum)

200

In [69]:
value1 = 100
value2 = 100

sum = value2 / value1
print(sum)

1.0

In [74]:
value1 = 100
value2 = 200

sum = value1 // value2
print(sum)

0

In [75]:
a = "23"
b = '45'

print(a+b)

2345

In [77]:
a = 200
b = 200

if a < b:
    print("a is less than b")
    print("Hello A")
    print("Hello B")
print("Hello python")

Hello python

In [89]:
name = "arsalan"
print("Hello %s"%name)

Hello arsalan

In [90]:
age = 22

In [95]:
print("Hello %s ! are you %d years old"%(name,age))

Hello arsalan ! are you 22 years old

In [106]:
name = "arsalan"
roll_no = 12
sec = "c"
program = "Bscs"
a='''
Name: {}
Roll no : {}
Sec: {}
Program: {}
'''

print(a.format(name,roll_no,sec,program))

Name: arsalan
Roll no : 12
Sec: c
Program: Bscs

In [107]:
a = "Pakistani"
b = "Cricket"

In [108]:
print("{0} love {1}".format(a,b))

Pakistani love Cricket

In [109]:
a = 10
b = 20

print("You entered %d and %d "%(a,b))

You entered 10 and 20

In [110]:
name = "youtube"

In [114]:
name + "rocks"

'youtuberocks'

In [115]:
name

'youtube'

In [116]:
name[0]

'y'

In [124]:
name[1]

'o'

In [125]:
name[6]

'e'

In [126]:
name[-1]

'e'

In [127]:
name[-2]

'b'

In [128]:
name[-7]

'y'

In [130]:
name[0:2]

'yo'

In [131]:
name[1:4]

'out'

In [132]:
name[1:]

'outube'

In [134]:
name[:7]

'youtube'

In [135]:
name[1:20]

'outube'

In [136]:
name[0] = "T"

TypeError: 'str' object does not support item assignment

In [138]:
print('my '+name[3:])

my tube

In [140]:
name= "arsalan"

In [141]:
len(name)

7