In [1]:
customer_ids = [101, 102, 103]

In [2]:
customers = [
     {
         "customer id": customer_ids[0],
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    {
        "customer id": customer_ids[1],
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    {
        "customer id": customer_ids[2],
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
]

In [3]:
dictionary_to_look_in = customers[1]
customer_address = dictionary_to_look_in["address"]
customer_address

'lalo khait'

In [4]:
customers[1]

{'customer id': 102,
 'first name': 'danish',
 'last name': 'farooq',
 'address': 'lalo khait'}

In [5]:
new_customer_id = len(customers)

In [6]:
new_first_name = "adil"
new_last_name = "kareem"
new_address = "fb area"

new_dictionary = {
 'customer id': new_customer_id,
 'first name': new_first_name,
 'last name': new_last_name,
 'address': new_address
}

In [7]:
customers.append(new_dictionary)

In [8]:
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [9]:
new_customer_id = len(customer_ids)
new_first_name = "jawaid"
new_last_name = "akhtar"
new_address = "fb area"

In [10]:
customers.append(new_dictionary)
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [11]:
customer_29876 = {
 'first name': "khurram",
 'last name': "khan",
 'address': "fb area",
 'discounts': ["standard", "volume", "loyalty"],
}

In [12]:
if  "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
discount_amount

0.15

In [13]:
customers = {
     "customer_1": {
         
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    "customer_2":{
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    "customer_3":{
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
}

In [14]:
customers

{'customer_1': {'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 'customer_2': {'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 'customer_3': {'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'}}

In [15]:
customers["customer_2"]

{'first name': 'danish', 'last name': 'farooq', 'address': 'lalo khait'}

In [16]:
customers["customer_1"]["address"]

'bani gala'

In [17]:
my_dic = {"name": "Arsalan", "age": 23, "Gender": "Male",}

In [18]:
len(my_dic)

3

In [19]:
my_dic["email"] = "abc@gmail.com"

In [20]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'abc@gmail.com'}

In [21]:
new_dic = {1: "IMRAN", 2: "HASHIM"}

In [22]:
new_dic[2]

'HASHIM'

In [23]:
del new_dic[1]

In [24]:
new_dic

{2: 'HASHIM'}

In [25]:
my_dic["email"] = "arsalan@gmail.com"

In [26]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'arsalan@gmail.com'}

In [27]:
aDic = {1:100, 2:200, 3:300, 4: 400, 1:1000}

In [28]:
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

In [29]:
1 in aDic

True

In [30]:
100 in aDic

False

In [31]:
"age" in my_dic

True

In [32]:
student = {'Name': 'Arsalan', 'Class': 'AI', 'Program': 'PIAIC', 'Age': 42}

In [33]:
for value in student.keys():
    print(value)

Name
Class
Program
Age

In [34]:
for value in student.values():
    print(value)

Arsalan
AI
PIAIC
42

In [35]:
for key, value in student.items():
    print(f"{key}: {value}")

Name: Arsalan
Class: AI
Program: PIAIC
Age: 42

In [36]:
students =[]

In [37]:
students.append({'Name': 'Ali', 'Class':'AI', 'Campues': 'PIAIC Campus 1'})

In [38]:
students.append({'Name': 'Noman', 'Class':'AI', 'Campues': 'PIAIC Campus 2'})

In [39]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'},
 {'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}]

In [40]:
for student in students:
    print(student)

{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'}
{'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}

In [41]:
for student in students:
    for a,b in student.items():
        print(a,":",b)
    print("")

Name : Ali
Class : AI
Campues : PIAIC Campus 1

Name : Noman
Class : AI
Campues : PIAIC Campus 2

In [42]:
employee = {'Name': 'Shams', 
            'Children': {'Humaira':{'Age': 10, 'Class': '6th Standard'},
                         'Abdul Rehman': {'Age': 8, 'Class': '4th Standard'}}}

In [43]:
print(employee['Children']['Humaira'])

{'Age': 10, 'Class': '6th Standard'}

In [44]:
print(employee['Children']['Abdul Rehman']['Age'])

8

In [45]:
alien_0 = {
    "color": "green",
    "points": 5,
}

print(alien_0["color"])
print(alien_0["points"])

green
5

In [46]:
new_points = alien_0['points']
print("you just earnes "+str(new_points)+" points!")

you just earnes 5 points!

In [47]:
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [48]:
alien_0 = {}

In [49]:
alien_0

{}

In [50]:
alien_0['color'] = 'green'
alien_0['points'] = 4
print(alien_0)

{'color': 'green', 'points': 4}

In [51]:
alien_0 = {"color": "green"}
print("The alien is "+alien_0['color']+".")

alien_0['color'] = 'yellow'
print("The alien is now "+alien_0['color']+".")

The alien is green.
The alien is now yellow.

In [52]:
alien_0 = {"x_position": 0, "y_position": 25, "speed": "medium",}
print("Original Position: "+str(alien_0['x_position']))
#alien_0['speed'] = 'fast'

if alien_0['speed'] == "slow":
    x_increment = 1
elif alien_0['speed'] == "medium":
    x_increment = 2
else:
    x_increment = 3


alien_0["x_position"] = alien_0["x_position"] + x_increment 
print("New Position: "+str(alien_0["x_position"]))

Original Position: 0
New Position: 2

In [53]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['color']
print(alien_0)

{'color': 'green', 'points': 5}
{'points': 5}

In [54]:
alien_0

{'points': 5}

In [55]:
favorite_languages = {
    "tahir": "python",
    "junaid": "c",
    "amir": "ruby",
    "adnan": "python",
}

In [56]:
print("Junaid's favorite language is "+
      favorite_languages['junaid'].title()+
     ".")

Junaid's favorite language is C.

In [57]:
person = {
    "first_name": "imran",
    "last_name": "khalid",
    "age": 22,
    "city": "quetta",
}

print(person["first_name"])
print(person["last_name"])
print(person["age"])
print(person["city"])

imran
khalid
22
quetta

In [58]:
favorite_numbers = {
    "owais": 2,
    "imran": 12,
    "usman": 10,
    "saad": 1,
    "fahad": 55,
}

num = favorite_numbers["owais"]
print("\n"+"Owais's favorite number is "+str(num))


num = favorite_numbers["saad"]
print("\n"+"Saad's favorite number is "+str(num))

Owais's favorite number is 2

Saad's favorite number is 1

In [59]:
glossary= {
    "String": "series of characters.",
    "list": "bunch of value in single variable.",
    "print": "function for displaying values",
    "float": "numbers with decimal point.",
    "bool" : "boolean value True or False",
}

meaning = glossary["String"]
print("\n"+"String: "+meaning.title())

meaning = glossary["list"]
print("\nList: "+meaning.title())

word = 'print'
print("\n"+word.title()+": "+glossary[word])

word = "float"
print("\n"+word.title()+": "+glossary[word])

word = "bool"
print("\n"+word.title()+": "+glossary[word])

String: Series Of Characters.

List: Bunch Of Value In Single Variable.

Print: function for displaying values

Float: numbers with decimal point.

Bool: boolean value True or False

In [60]:
user_0 = {
    "username": "john baba",
    "first": "jamaal",
    "last": "khan",
}

for key,value in user_0.items():
    print("\nKey: "+key)
    print("Value: "+value)

Key: username
Value: john baba

Key: first
Value: jamaal

Key: last
Value: khan

In [61]:
favorite_languages

{'tahir': 'python', 'junaid': 'c', 'amir': 'ruby', 'adnan': 'python'}

In [62]:
for name, language in favorite_languages.items():
    print(name.title()+"'s favorite language is "+
         language.title())

Tahir's favorite language is Python
Junaid's favorite language is C
Amir's favorite language is Ruby
Adnan's favorite language is Python

In [63]:
for name in favorite_languages.keys():
    print(name.title())

Tahir
Junaid
Amir
Adnan

In [64]:
friends = ['adnan', 'farhan']

for name in favorite_languages.keys():
    print(name.title())
    
    if name in friends:
        print("Hi "+name.title()+
             ", I see your favorite language is "+
             favorite_languages[name].title()+"!")

Tahir
Junaid
Amir
Adnan
Hi Adnan, I see your favorite language is Python!

In [65]:
if 'taha' not in favorite_languages.keys():
    print("Ahad, please take our poll!")

Ahad, please take our poll!

In [66]:
for name in sorted(favorite_languages.keys()):
    print(name.title()+", thank you for taking the poll.")

Adnan, thank you for taking the poll.
Amir, thank you for taking the poll.
Junaid, thank you for taking the poll.
Tahir, thank you for taking the poll.

In [67]:
print("The following langugaes have been mentioned:")
for language in favorite_languages.values():
    print(language.title())

The following langugaes have been mentioned:
Python
C
Ruby
Python

In [68]:
for language in set(favorite_languages.values()):
    print(language.title())

Ruby
Python
C

In [69]:
glossary= {
    "String": "series of characters.",
    "list": "bunch of value in single variable.",
    "print": "function for displaying values",
    "float": "numbers with decimal point.",
    "bool" : "boolean value True or False",
}

for name, meaning in glossary.items():
   
    print("\n"+name.title()+": "+glossary[name].title())

String: Series Of Characters.

List: Bunch Of Value In Single Variable.

Print: Function For Displaying Values

Float: Numbers With Decimal Point.

Bool: Boolean Value True Or False

In [70]:
rivers = {
    "indus": "pakistan",
    "nile": "egypt",
    "hunza": "gilgit",
    "creek": "dubai",
}

for river, country in rivers.items():
    print("The "+river.title()+" flows through "+country.title())

print("\nThe following rivers are included in this data set:")
for river in rivers.keys():
    print("- "+river.title())

print("\nThe following countries are included in this data set:")
for country in rivers.values():
    print("- "+country.title())

The Indus flows through Pakistan
The Nile flows through Egypt
The Hunza flows through Gilgit
The Creek flows through Dubai

The following rivers are included in this data set:
- Indus
- Nile
- Hunza
- Creek

The following countries are included in this data set:
- Pakistan
- Egypt
- Gilgit
- Dubai

In [71]:
favorite_languages = {
    "tahir": "python",
    "junaid": "c",
    "amir": "ruby",
    "adnan": "python",
}

people_li = ["junaid", "ahad", "iqbal", "amir"]

In [72]:
for name, language in favorite_languages.items():
    print(name.title()+"'s favorite langugae is "+language.title())

print("\n\n")
for name in people_li:
    if name in favorite_languages.keys():
        print("Thank you for taking the poll, "+name.title())
    else:
        print(name.title()+", what's your favorite programming language?")

Tahir's favorite langugae is Python
Junaid's favorite langugae is C
Amir's favorite langugae is Ruby
Adnan's favorite langugae is Python



Thank you for taking the poll, Junaid
Ahad, what's your favorite programming language?
Iqbal, what's your favorite programming language?
Thank you for taking the poll, Amir

In [73]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
    for color,point in alien.items():
        print(color +": "+str(point))

color: green
points: 5
color: yellow
points: 10
color: red
points: 15

In [74]:
aliens = []

In [75]:
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

In [76]:
for alien in aliens[:5]:
    print(alien)
print("...")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

In [77]:
print("Total numbers of aliens: "+str(len(aliens)))

Total numbers of aliens: 30

In [78]:
for alien in aliens[0:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10

In [79]:
aliens[0:3]

[{'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'},
 {'color': 'yellow', 'points': 10, 'speed': 'medium'}]

In [80]:
pizza = {
    'crust': 'thick',
    'toppings': ['mushroom', 'extra cheese'],
}

print("You ordered a "+pizza['crust']+" -crust pizza "+
     "with following toppings:")

for topping in pizza['toppings']:
    print("\t"+topping)

You ordered a thick -crust pizza with following toppings:
	mushroom
	extra cheese

In [81]:
favorite_languages = {
    "tahir": ["python", "go", "c#"],
    "junaid": ["c"],
    "amir": ["ruby", "html"],
    "adnan": ["python"],
}


for name,languages in favorite_languages.items():
    length = len(languages)
    if length > 1:   
        print("\n"+name.title()+"'s favorite langugaes are:")
        for language in languages:
            print("\t"+language.title())
    else:
        print("\n"+name.title()+"'s favorite language is "+language.title())

Tahir's favorite langugaes are:
	Python
	Go
	C#

Junaid's favorite language is C#

Amir's favorite langugaes are:
	Ruby
	Html

Adnan's favorite language is Html

In [82]:
users = {
    "amir": {
        "first": "amir",
        "last": "pinger",
        "location": "london",
    },
    
    "zeehan": {
        "first": "zeeshan",
        "last": "hanif",
        "location": "lahore",
    },
    
    "taha": {
        "first": "taha",
        "last": "jameel",
        "location": "karachi",
    },
    
}

for username, user_info in users.items():
    print("\nUsername: "+username)
    full_name = user_info['first']+" "+user_info['last']
    location = user_info['location']
    
    print("\tFull name: "+full_name.title())
    print("\tLocation: "+location.title())

Username: amir
	Full name: Amir Pinger
	Location: London

Username: zeehan
	Full name: Zeeshan Hanif
	Location: Lahore

Username: taha
	Full name: Taha Jameel
	Location: Karachi

In [83]:
peoples = []

person = {
    "first_name": "imran",
    "last_name": "khalid",
    "age": 22,
    "city": "quetta",
}

peoples.append(person)

person = {
    "first_name": "taha",
    "last_name": "hussnain",
    "age": 30,
    "city": "karachi",
}

peoples.append(person)

person = {
    "first_name": "rizwan",
    "last_name": "akhtar",
    "age": 19,
    "city": "lahore",
}

peoples.append(person)

In [84]:
for people in peoples:
    name = people['first_name']+ " "+people["last_name"]
    age = str(people['age'])
    city = people['city']
    print(name.title()+", of "+city.title()+" is "+age+" years old." )

Imran Khalid, of Quetta is 22 years old.
Taha Hussnain, of Karachi is 30 years old.
Rizwan Akhtar, of Lahore is 19 years old.

In [95]:
pets = []
pet = {
    "name": "john",
    "owner name": "guido",
    "weight": 43,
    "animal type": "python",
    "eats": "bugs",
}

pets.append(pet)

pet = {
    "name": "bablu",
    "owner name": "gulfam",
    "weight": 2,
    "animal type": "chicken",
    "eats": "seeds"
}

pets.append(pet)

In [96]:
pets

[{'name': 'john',
  'owner name': 'guido',
  'weight': 43,
  'animal type': 'python',
  'eats': 'bugs'},
 {'name': 'bablu',
  'owner name': 'gulfam',
  'weight': 2,
  'animal type': 'chicken',
  'eats': 'seeds'}]

In [110]:
for pet in pets:
    print("\n"+"Here's what I know about "+pet['name'].title()+":")
    for key,value in pet.items():  
        print("\t"+key,": ",value)

Here's what I know about John:
	name :  john
	owner name :  guido
	weight :  43
	animal type :  python
	eats :  bugs

Here's what I know about Bablu:
	name :  bablu
	owner name :  gulfam
	weight :  2
	animal type :  chicken
	eats :  seeds

In [112]:
favorite_places = {
    "ahad": ["quetta","thatta","lahore"],
    "jamaal": ["hyderabad", "larkana"],
    "imran": ["multan", "peshawar","gilgit"]
}

for name, places in favorite_places.items():
    print("\n"+name.title()+" likes the following places:")
    for places_info in places:
        print("- "+places_info.title())

Ahad likes the following places:
- Quetta
- Thatta
- Lahore

Jamaal likes the following places:
- Hyderabad
- Larkana

Imran likes the following places:
- Multan
- Peshawar
- Gilgit

In [118]:
favorite_numbers = {
    "taha": [12,22,3],
    "owais": [90,2,4],
    "umair": [55,6,7],
}

for name, numbers in favorite_numbers.items():
    print("\n"+name.title()+" like the following numbers:")
    for number in numbers:
        print(" "+str(number))

Taha like the following numbers:
 12
 22
 3

Owais like the following numbers:
 90
 2
 4

Umair like the following numbers:
 55
 6
 7

In [135]:
cities = {
    "karachi": {
        "country": "pakistan",
        "population": "2 crore",
        "nearby mountains": "hill park",
    },
    "santiago": {
        "country": "chile",
        "population": 6158080,
        "nearby mountains": "andes",
    }
}

for city_name, city_info in cities.items():
    country = city_info["country"]
    population = city_info["population"]
    mountains = city_info["nearby mountains"]
    
    print("\n"+city_name.title()+" is in "+country.title())
    print(" "+"It has a populatin of about "+str(population))
    print(" "+"The "+mountains+" are nearby" )

Karachi is in Pakistan
 It has a populatin of about 2 crore
 The hill park are nearby

Santiago is in Chile
 It has a populatin of about 6158080
 The andes are nearby