In [1]:
print("hello world")

hello world

In [2]:
print('hello world')

hello world

In [3]:
print("hello 'world'")

hello 'world'

In [4]:
print('hello "world"')

hello "world"

In [6]:
print("hello \"world\" world")

hello "world" world

In [7]:
print('I\'m arsalan')

I'm arsalan

In [12]:
print("line A\nline B\nline C")

line A
line B
line C

In [13]:
print("name\tarsalan")

name	arsalan

In [16]:
print("this is a backslash \\")

this is a backslash \

In [17]:
print("this is double backslash \\\\")

this is double backslash \\

In [18]:
print("hel\blo")

hello

In [20]:
print("Line A \\n Line B")

Line A \n Line B

In [24]:
print("\\\" \\\' ")

\" \'

In [25]:
print("this is \\\\ double backslash")

this is \\ double backslash

In [26]:
print("this is /\/\/\/\/\ mountain")

this is /\/\/\/\/\ mountain

In [28]:
print("he is\t awesome")

he is	 awesome

In [29]:
print("\\\" \\n \\t \\''")

\" \n \t \''

In [30]:
#raw string

print(r"line A \n line B")

line A \n line B

In [31]:
print(r"line A \" line B")

line A \" line B

In [32]:
print(r"line A \' line B")

line A \' line B

In [33]:
print(2+3)

5

In [34]:
print(2+3*5)

17

In [35]:
print(2/4) # floating point division

0.5

In [36]:
print(4/2)

2.0

In [38]:
print(4//2) # integer division

2

In [39]:
print(2**3)

8

In [40]:
print(2**0.5)

1.4142135623730951

In [41]:
print(round(2**0.5, 4))

1.4142

In [42]:
print(3%2)

1

In [44]:
print((2 + 3) * 5)

25

In [45]:
print((2 + 3) / 5)

1.0

In [49]:
print((2+3) * 5 / 2 %  6) # left to right associativity

0.5

In [50]:
print(2**3**2) # right to left associavity

512

In [51]:
print(2+3*4)

14

In [52]:
name,age = "arsalan", 23

In [54]:
print(name,age)

arsalan 23

In [57]:
print("hello "+name+" your age is "+str(age))

hello arsalan your age is 23

In [58]:
x = y = z = 1

In [59]:
print(x+y+z)

3

In [60]:
name = input("Enter your name:")
age= input("Enter your age:")

Enter your name:asa
Enter your age:as

In [64]:
name,age = input("Enter your name and age:").split(",")
print(name)
print(age)

Enter your name and age:arsalan,23
arsalan
23

In [70]:
name,age = "arsalan", 23

In [71]:
print("hello {} your age is {}".format(name,age))

hello arsalan your age is 23

In [73]:
print(f"hello {name} your age is {age}")

hello arsalan your age is 23

In [76]:
# calculating average no

num1 = input("Enter first number")
num2 = input("Enter second number")
num3 = input("Enter third number")

print(f"Average of three numbers: {(int(num1)+int(num2)+int(num3))/3}")

Enter first number50
Enter second number100
Enter third number20
Average of three numbers: 56.666666666666664

In [77]:
language = "python"

In [78]:
language[2:3]

't'

In [79]:
language[0:]

'python'

In [80]:
language[3:6]

'hon'

In [81]:
print("arsalan"[1:])

rsalan

In [82]:
print("arsalan"[0::1])

arsalan

In [83]:
print("arsalan"[::2])

asln

In [86]:
# printing name on reverse order
name = input("Enter your name: ")
print(f"Your name is {name[-1::-1]}")

Enter your name: haris
Your name is sirah

In [87]:
name = "arsaLaN Manzoor"

In [88]:
len(name)

15

In [89]:
name.lower()

'arsalan manzoor'

In [90]:
name.upper()

'ARSALAN MANZOOR'

In [91]:
name.title()

'Arsalan Manzoor'

In [92]:
name.count("o")

2

In [101]:
# take two comma seperated inputs from user
# users name and single character
# output print 2 lines
# users name length and count the character that user inputted
# Bonus (case insensitive count)

name,count_char = input("Enter your name and your name character for counting: ").split(",")
print(f"{name} length is {len(name)} and {count_char} is {name.lower().count(count_char.lower())} times.")

Enter your name and your name character for counting: ARSALAN,n
ARSALAN length is 7 and n is 1 times.

In [109]:
name= "      Ars  alan     "
dots = "................."

In [110]:
print(name)

      Ars  alan

In [111]:
print(name+dots)

      Ars  alan     .................

In [112]:
print(name.lstrip() + dots)

Ars  alan     .................

In [113]:
print(name.rstrip() +dots)

      Ars  alan.................

In [114]:
print(name.strip()+dots)

Ars  alan.................

In [116]:
print(name.replace(" ","") +dots)

Arsalan.................

In [128]:
# removing spaces

name,count_char = input("Enter your name and your name character for counting: ").split(",")
print(f"length of your name is: {len(name.strip())}")
print(f"Character count: {name.strip().lower().count(count_char.strip().lower())}")

Enter your name and your name character for counting: arsalan,ar
length of your name is: 7
Character count: 1

In [18]:
# replace() method
# find() method

string = "she is beautiful and she she is good programmer"

#print(string.replace(" ","_"))
#print(string.replace("is","was"))

# agar pehly is ko was ky sath replace karno ho batana parega
#print(string.replace("is","was",1))

#print(string.find("is",1))

is_position_1 = string.find("is") # is position is number

is_position_2 = string.find("is",is_position_1+1)
print(is_position_2)

29

In [23]:
# center method

name = "arsalan" # 7
# *** arsalan ***

print(name.center(11,"*")) # string length

**arsalan**

In [24]:
name = input("Enter your name: ")
print(name.center(len(name) + 8,"*"))

Enter your name: baloch
****baloch****

In [28]:
# strings are immutable

string = "string"
#print(string[1])

#string[1] = "T" error
string.replace("t","T")
print(string)

string

In [31]:
name = "Arsal"
name = name + "an"
print(name)

Arsalan

In [37]:
age = 23

In [38]:
age = age + 4
age

27

In [39]:
age +=1
age

28

In [41]:
age = input("Enter your age: ")
age = int(age)
if age >= 14:
    print("line A")
    print("you are above 14")

Enter your age: 14
line A
you are above 14

In [45]:
x = 18
if x>18:
    pass # agar if main koi statement execute na karwani ho tu hum pass use karengy

In [49]:
age = input("Enter your age: ")
age = int(age)
if age >= 14:
    print("line A")
    print("you are above 14")
else:
    print("sorry you can't play")

Enter your age: 12
sorry you can't play

In [52]:
name = 'abc'
age = 19
if name == 'abc' and age == 20:
    print("condition true")
else:
    print("condition false")

condition false

In [53]:
name = 'abc'
age = 19
if name == 'abc' or age == 20:
    print("condition true")
else:
    print("condition false")

condition true

In [59]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

if (name[0] == 'a' or name[0] == 'A') and age >= 10:
    print("you can watch coco movie.")
else:
    print("sorry you cannot watch coco movie.")

Enter your name: arsalan
Enter your age: 2
sorry you cannot watch coco movie.

In [64]:
# show ticket pricing
# 1 to 3 free
# 4 to 10 (150)
# 11 to 60 (250)
# above 60 (200)

age = input("please input your age: ")
age = int(age)
if age < 0 or age ==0:
    print("You can't watch")
elif 0<age<=3:
    print("Ticket Price: Free")
elif 3<age<=10:
    print("Ticket Price: 150")
elif 10<age<=60:
    print("Ticket Price: 250")
else:
    print("Ticket Price: 200")

please input your age: -10
You can't watch

In [67]:
name = "arsalan"
# in keyword
# if with in 

if 'a' in name:
    print("a is present in name")
else:
    print("not present")

a is present in name

In [72]:
# check empty or nor

name = "abc"

if name:
    print("string is not empty")
else:
    print("string is empty")

string is not empty