In [1]:
# swapping list items

In [2]:
b = ["banana", "apple", "microsoft"]

print(b)

['banana', 'apple', 'microsoft']

In [3]:
temp = b[0]
b[0] = b[2]
b[2] = temp

print(b)

['microsoft', 'apple', 'banana']

In [4]:
# shortcut

b[0], b[2] = b[2], b[0]
print(b)

['banana', 'apple', 'microsoft']

In [5]:
a = ['banana', 'apple', 'microsoft']

for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [9]:
b = [20, 10, 5]

total = 0
for element in b:
    print(element)
    total = total + element

print(total)

20
10
5
35

In [12]:
#1, 2, 3, 4

print(list(range(1, 5)))

[1, 2, 3, 4]

In [14]:
total = 0
for i in range(1,5):
    print(i)
    
    total = total + i
print(total)

1
2
3
4
10

In [15]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [16]:
total2 = 0

for i in range(1,8):
    if i % 3 == 0:
        total2 += i
print(total2)

9

In [25]:
total3= 0
for i in range(1,100):
    if i % 3==0 or i % 5==0:
        total3 +=i
print(total3)

2318

In [26]:
for item in "Python":
    print(item)

P
y
t
h
o
n

In [27]:
for item in ['arsalan', 'bilal', 'jawaid']:
    print(item)

arsalan
bilal
jawaid

In [28]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [30]:
prices = [10, 20, 30]

total=0
for p in prices:
    total +=p

print(total)

60

In [34]:
for x in range(4):
    for y in range(3):
        print(x, y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [50]:
numbers = [5, 2, 5, 2, 2]
for number in numbers:
    print("x" * number)

xxxxx
xx
xxxxx
xx
xx

In [2]:
numbers = [5, 2, 5, 2, 2]
for number in numbers:
    output = ''
    for count in range(number):
        output+= 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [3]:
numbers = [5, 1, 5, 1, 1]
for number in numbers:
    print("x" * number)

xxxxx
x
xxxxx
x
x

In [4]:
names =['arsalan', 'bilal', 'akbar', 'sultan']
print(names)

['arsalan', 'bilal', 'akbar', 'sultan']

In [5]:
print(names[0])

arsalan

In [6]:
print(names[2])

akbar

In [7]:
print(names[-1])

sultan

In [8]:
print(names[-2])

akbar

In [9]:
print(names[2:])

['akbar', 'sultan']

In [10]:
print(names[2:10])

['akbar', 'sultan']

In [11]:
print(names[:])

['arsalan', 'bilal', 'akbar', 'sultan']

In [12]:
names[0] = 'owais'
names

['owais', 'bilal', 'akbar', 'sultan']

In [13]:
numbers = [10, 20 ,1, 2 , 4, 50]
hold = numbers[0]
for number in numbers:
    if number > hold:
        hold = number

print(hold)

50

In [14]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0][1])

2

In [15]:
matrix[0][1] = 20
print(matrix[0][1])

20

In [16]:
for row in matrix:
    for item in row:
        print(item)

1
20
3
4
5
6
7
8
9

In [17]:
numbers = [5, 2, 1, 7, 4]
numbers.append(20)
print(numbers)

[5, 2, 1, 7, 4, 20]

In [18]:
numbers.insert(0, 10)
print(numbers)

[10, 5, 2, 1, 7, 4, 20]

In [19]:
numbers.remove(5)
print(numbers)

[10, 2, 1, 7, 4, 20]

In [20]:
numbers.clear()

In [21]:
numbers

[]

In [22]:
numbers =[10, 2, 1, 7, 4, 20]
numbers.pop()
print(numbers)

[10, 2, 1, 7, 4]

In [28]:
print(numbers.index(1))

2

In [29]:
print(20 in numbers)

False

In [30]:
print(numbers.count(2))

1

In [32]:
numbers.sort()
print(numbers)

[1, 2, 4, 7, 10]

In [33]:
numbers.reverse()
print(numbers)

[10, 7, 4, 2, 1]

In [35]:
numbers2 = numbers.copy()
print(numbers2)

[10, 7, 4, 2, 1]

In [36]:
numbers.append(10)
print(numbers2)

[10, 7, 4, 2, 1]

In [37]:
numbers

[10, 7, 4, 2, 1, 10]

In [46]:
numbers = [2,2,4,5,6,3,4,6,1]
uniques = []

for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 4, 5, 6, 3, 1]

In [47]:
numbers = (1, 2, 3)
print(numbers[0])

1

In [48]:
numbers[0] = 10

TypeError: 'tuple' object does not support item assignment

In [50]:
coordinates = (1, 2, 3)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]

x * y *z

6

In [51]:
x, y, z = coordinates

In [52]:
x

1

In [57]:
for i in range(1,11):
    print(f"hello world: {i}")
    print("this is line \n")

hello world: 1
this is line

hello world: 2
this is line

hello world: 3
this is line

hello world: 4
this is line

hello world: 5
this is line

hello world: 6
this is line

hello world: 7
this is line

hello world: 8
this is line

hello world: 9
this is line

hello world: 10
this is line

In [61]:
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [65]:
n = int(input("Enter the number: "))

total = 0

for i in range(1, n+1):
    total = total + i
print(total)

Enter the number: 10
55

In [75]:
total =0
num = input("Enter a number: ")

for i in range(0, len(num)):
    total +=  int(num[i])

print(total)

Enter a number: 12345
15

In [79]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [83]:
for i in range(1,11):
 
    if i== 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [84]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [86]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [88]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [90]:
for i in range(10,-10,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [91]:
name = "arsalan"

for i in range(len(name)):
    print(name[i])

a
r
s
a
l
a
n

In [92]:
name = "arsalan"

for i in name:
    print(i)

a
r
s
a
l
a
n

In [98]:
num = input("enter a number: ")
total =0

for i in num:
    total+=int(i)
print(total)

enter a number: 123
6