In [1]:
customer_29876 = {"first name": "jawaid",
                  "last name": "akhtar",
                  "address": "buffer-zone"}

In [2]:
address_of_customer = customer_29876["address"]

In [3]:
address_of_customer

'buffer-zone'

In [4]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden", 7: "Iceland"}

In [5]:
rankings

{5: 'Finland', 2: 'Norway', 3: 'Sweden', 7: 'Iceland'}

In [6]:
second_ranking_country = rankings[2]

In [7]:
print(second_ranking_country)

Norway

In [8]:
country_ranks_so_far = {"Finland": 5, "Norway": 2, "Sweden": 3, "Iceland": 7}

In [9]:
norway_ranking = country_ranks_so_far["Norway"]
print(norway_ranking)

2

In [10]:
country_ranks_so_far["Norway"]

2

In [11]:
things_to_remember = {0: "the lowest number", 
                      "a dozen": 12,
                      "snake eyes": "a pair of ones",
                      13: "a baker's dozen"}

In [12]:
type(things_to_remember)

dict

In [13]:
len(things_to_remember)

4

In [14]:
customer_29876

{'first name': 'jawaid', 'last name': 'akhtar', 'address': 'buffer-zone'}

In [15]:
customer_29876["city"] = "karachi"

In [16]:
customer_29876

{'first name': 'jawaid',
 'last name': 'akhtar',
 'address': 'buffer-zone',
 'city': 'karachi'}

In [17]:
things_to_remember = {}

In [18]:
things_to_remember

{}

In [19]:
things_to_remember[0] = "the lowest number"

In [20]:
things_to_remember["a dozen"] = 12

In [21]:
things_to_remember

{0: 'the lowest number', 'a dozen': 12}

In [22]:
del customer_29876["address"]

In [23]:
customer_29876

{'first name': 'jawaid', 'last name': 'akhtar', 'city': 'karachi'}

In [24]:
customer_29876["city"] = "lahore"
customer_29876

{'first name': 'jawaid', 'last name': 'akhtar', 'city': 'lahore'}

In [25]:
cities = ["kar", "lah", "isl", "que", "kpk"]
city_to_check = "isla"
match_found = False

for city in cities:
    if city_to_check == city:
        print("Its one of the cleanest city")
        match_found = True
        break
    
if match_found == False:
    print("Its not the cleanest city")

Its not the cleanest city

In [26]:
customer_29876

{'first name': 'jawaid', 'last name': 'akhtar', 'city': 'lahore'}

In [27]:
for each_value in customer_29876.values():
    print(each_value)

jawaid
akhtar
lahore

In [28]:
for each_key in customer_29876.keys():
    print(each_key)

first name
last name
city

In [30]:
for each_key, each_value in customer_29876.items():
    print(f"The Customer's {each_key} is {each_value}")

The Customer's first name is jawaid
The Customer's last name is akhtar
The Customer's city is lahore