In [5]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [7]:
character_name = "arsalan"
character_age = "23"

print("There once was a man names "+character_name+",")
print("He was "+character_age+ " years old.")

There once was a man names arsalan,
He was 23 years old.

In [10]:
print("New\nAcademy")

New
Academy

In [14]:
print("New \"Academy\"")

New "Academy"

In [15]:
phrase = "New Academy"
print(phrase + " is cool")

New Academy is cool

In [16]:
phrase = "New Academy"
print(phrase.lower() + " is cool")

new academy is cool

In [17]:
phrase = "New Academy"
print(phrase.upper() + " is cool")

NEW ACADEMY is cool

In [20]:
phrase = "New Academy"
print(phrase.isupper())

False

In [21]:
phrase = "New Academy"
print(phrase.islower())

False

In [22]:
phrase = "New Academy"
print(phrase.istitle())

True

In [23]:
phrase = "New Academy"
print(phrase.upper().isupper())

True

In [24]:
phrase = "New Academy"
print(phrase.lower().islower())

True

In [25]:
phrase = "New Academy"
print(len(phrase))

11

In [26]:
phrase = "New Academy"
print(phrase[0])

N

In [27]:
phrase = "New Academy"
print(phrase[1])

e

In [32]:
phrase = "New Academy"
print(phrase[4])

A

In [33]:
phrase = "New Academy"
print(phrase.index("A"))

4

In [34]:
phrase = "New Academy"
print(phrase.index("N"))

0

In [35]:
phrase = "New Academy"
print(phrase.index("Acad"))

4

In [36]:
phrase = "New Academy"
print(phrase.replace("New","Bill"))

Bill Academy

In [37]:
phrase

'New Academy'

In [38]:
print(2)

2

In [39]:
print(type(2))

<class 'int'>

In [40]:
print(2.000)

2.0

In [41]:
print(type(2.000))

<class 'float'>

In [42]:
print(3 * 4.5)

13.5

In [43]:
print(3 * 4 + 5)

17

In [44]:
print(3 * (4 + 5))

27

In [45]:
print(10 % 3)

1

In [47]:
my_num = 5

print(my_num)

5

In [49]:
my_num = 5
print(str(my_num) + " my favourite number")

5 my favourite number

In [50]:
my_num = 5
print(my_num + " my favourite number")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
# Example, do not modify!
print(5 / 8)

# Print the sum of 7 and 10
print(7 + 10)

0.625
17

In [54]:
print(pow(2,3)) # 2 ki power 3

8

In [55]:
print(abs(2)

2

In [56]:
print(max(4,6))

6

In [58]:
print(max(10,3))

10

In [59]:
print(round(3.7))

4

In [60]:
print(round(3.5))

4

In [61]:
print(round(3.3))

3

In [66]:
from math import *
print(floor(3.9))

3

In [67]:
print(ceil(3.7))

4

In [68]:
print(ceil(3.2))

4

In [69]:
print(sqrt(36))

6.0

In [76]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello "+name + "! You are " + age +" Years old!")

Enter your name: 10.0
Enter your age: 10.0
Hello 10.0! You are 10.0 Years old!

In [79]:
num1 = input("Enter a number: ")
num2 = input("Enter another number:")
result = float(num1) + float(num2)

print(result)

Enter a number: 12
Enter another number:12
24.0

In [82]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")


print(f"Roses are {color}")
print(f"{plural_noun} are blue")
print(f"I love {celebrity}")

Enter a color: red
Enter a plural noun: blue
Enter a celebrity: jackie
Roses are red
blue are blue
I love jackie

In [83]:
friends = ["kamran", "bilal", "junaid", "amir"]
print(friends)

['kamran', 'bilal', 'junaid', 'amir']

In [85]:
print(friends[1])

bilal

In [87]:
print(friends[1:])

['bilal', 'junaid', 'amir']

In [89]:
print(friends[1:3])

['bilal', 'junaid']

In [90]:
friends[1] = "asif"
print(friends)

['kamran', 'asif', 'junaid', 'amir']

In [91]:
lucky_numbers = [4, 8, 15, 16, 23, 42]

In [92]:
friends.extend(lucky_numbers)
print(friends)

['kamran', 'asif', 'junaid', 'amir', 4, 8, 15, 16, 23, 42]

In [93]:
friends.append("yasir")
print(friends)

['kamran', 'asif', 'junaid', 'amir', 4, 8, 15, 16, 23, 42, 'yasir']

In [95]:
friends.insert(2, "rizwan")
print(friends)

['kamran', 'asif', 'rizwan', 'junaid', 'amir', 4, 8, 15, 16, 23, 42, 'yasir']

In [96]:
friends.remove("asif")
print(friends)

['kamran', 'rizwan', 'junaid', 'amir', 4, 8, 15, 16, 23, 42, 'yasir']

In [97]:
friends.clear()
print(friends)

[]

In [116]:
friends = ['kamran', 'asif', 'rizwan', 'junaid', 'amir', "asif","amir"]

In [117]:
print(friends)

['kamran', 'asif', 'rizwan', 'junaid', 'amir', 'asif', 'amir']

In [118]:
friends.pop()

'amir'

In [119]:
print(friends)

['kamran', 'asif', 'rizwan', 'junaid', 'amir', 'asif']

In [120]:
print(friends.index("rizwan"))

2

In [121]:
print(friends.count("asif"))

2