# Practicing

In [1]:
print("arsalan manzoor")

arsalan manzoor

In [3]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

# String class Methods and Attributes

In [5]:
a = "pAkistan ZindaBad"
print(a)

pAkistan ZindaBad

In [6]:
a.capitalize() #inline

'Pakistan zindabad'

In [7]:
a.upper()

'PAKISTAN ZINDABAD'

In [8]:
a.title()

'Pakistan Zindabad'

In [9]:
print(a)

pAkistan ZindaBad

In [39]:
a.lower()

'x'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print?

In [14]:
abc = """
PIAIC
City: Karachi
Country : Pakistan
"""

In [15]:
print(abc)

PIAIC
City: Karachi
Country : Pakistan

In [16]:
abc = '''
PIAIC
City: Karachi
Country : Pakistan
'''
abc

'\nPIAIC\nCity: Karachi\nCountry : Pakistan\n'

In [17]:
abc = """
****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855
"""

print(abc)

****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855

In [20]:
name = input("Enter your name: ")
f_name = input("Enter your fathers name:")
roll_no = input("Enter your roll no:")

abc = """
********* PIAIC *********
Name: {}
Father's Name: {}
Roll no: {}
"""

print(abc.format(name,f_name,roll_no))

Enter your name: Ahmed
Enter your fathers name:Nasir
Enter your roll no:1212

********* PIAIC *********
Name: Ahmed
Father's Name: Nasir
Roll no: 1212

In [21]:
a = print("pakistan")
print(a)

pakistan
None

In [25]:
a = "pakistan"
b = "Zinda Bad"
a + b #cancatenation

'pakistanZinda Bad'

In [27]:
a = 5
b = 7

a + b #addition

12

# Operators

In [29]:
+, - , * ,/ , % , // , ** # Mathematics

=, +=, -=, *= , /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operators

and ,or # combine logic checking

# +, -, *, /, %, // # MATHEMATICS

In [30]:
5 + 2

7

In [31]:
4 - 2

2

In [32]:
3 * 5

15

In [33]:
12 / 3

4.0

In [34]:
15 % 4

3

In [35]:
15 / 4

3.75

In [36]:
15 // 4

3

In [37]:
15 // 4.0

3.0

In [38]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [39]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [40]:
# PEDMAS (Peranthesis, Exponent, Division, Multiplication, Addition, Subtraction)
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

17.6

# =, +=, -=, *=, /=, %= Assign Operator

In [41]:
a = "Pakistan"
a

'Pakistan'

In [42]:
a = "china"
a

'china'

In [43]:
a * 2

'chinachina'

In [44]:
a = "abc"
a

'abc'

In [45]:
a+= "xyz"
a

'abcxyz'

In [46]:
a

'abcxyzabcxyz'

In [47]:
a %= 2

TypeError: not all arguments converted during string formatting

In [54]:
a = 15
a %= 4
a

3

In [55]:
# 3 * 3 * 3
a **= 3
a

27

In [56]:
a = "abc"
a **=3
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical operator

In [1]:
5 == 5

True

In [2]:
5 == 3

False

In [3]:
5 > 3

True

In [4]:
5 < 3

False

In [5]:
5 >= 5

True

In [6]:
5 != 5

False

In [7]:
6 < 6

False

In [8]:
6 <= 6

True

In [9]:
5 == 5 and 6 <= 7 and 10 >= 9
# true      # true       #true

True

In [10]:
5 == 5 and 9 <= 7 and 10 >= 9
# true        # false  #true

False

In [11]:
5 == 5 or 6 <= 7 or 10 >= 9
# true    # true       #true

True

In [12]:
5 == 7  or 6 <= 7 or 10 >= 11
# false    # true       #false

True

In [13]:
a = "abc"
b = "xyz"
c = '27'

a + b + c

'abcxyz27'

In [14]:
a = "abc"
b = "xyz"
c = '27'

print(a,b,c)

abc xyz 27

In [15]:
a = "abc"
b = "xyz"
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [16]:
a = "abc"
b = "xyz"
c = 27

print(a,b,c)

abc xyz 27

In [17]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [18]:
a = '1'
b = '1'

a + b

'11'

In [19]:
a = input()
b = input()

a + b

1
2

'12'

In [20]:
int(a) + int(b)

3

In [21]:
float(a) + float(b)

3.0

In [22]:
a + b

'12'

In [23]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

# loop(for , while)
exception
if elif else
switch

# if else elif

In [27]:
name = input("Enter your name:")

if name == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:arsalan
welcome

In [28]:
name = input("Enter your name:")

if name.lower() == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:Arsalan
welcome

In [29]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [31]:
per = 79

if per >= 0 and per < 33:
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per <=100:
    print("A+")
else:
    print("Not valid")

A

In [32]:
per = 78

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("fail")

A

In [33]:
names = ["ahmed","owais","bilal"]
names

['ahmed', 'owais', 'bilal']

In [34]:
names[2]

'bilal'

In [35]:
names[2] = "Kamran"
names

['ahmed', 'owais', 'Kamran']

In [38]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break
names

namesahmed
namessultan
nameskashif
namesfarooq
namesghulam
namesx

['ahmed', 'sultan', 'kashif', 'farooq', 'ghulam']

In [4]:
print("Enter your first number:")
value1 = input()
print("Enter your second number:")
value2 = input()

print("The total sum of "+value1+" and "+value2+" is : ",int(value1)+int(value2))

Enter your first number:
12
Enter your second number:
2
The total sum of 12 and 2 is :  14

In [16]:
mystr = "arsalan is a good boy"
print(len(mystr))
print(mystr[0:21:2])

21
aslni  odby

In [17]:
print(mystr.isalnum())

False

In [18]:
print(mystr.endswith("boy"))

True

In [19]:
print(mystr.count("o"))

3

In [20]:
print(mystr.find("is"))

8

In [21]:
print(mystr.replace("is", "are"))

arsalan are a good boy

In [3]:
Print()

NameError: name 'Print' is not defined

In [4]:
print(1000)

1000

In [6]:
print("abc","def")

abc def

In [7]:
print(123,456)

123 456

In [1]:
print("a","b")

a b

In [2]:
print(123,12.3)

123 12.3

In [3]:
print(type(12.3))

<class 'float'>

In [4]:
print("python")

python

In [5]:
print("123pakistan")

123pakistan

In [13]:
print("pakistan", "python", "piaic", sep=" ************** ")

pakistan ************** python ************** piaic

In [66]:
print("","Marksheet","",sep=" ************************ ")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print("","The End","",sep=" ************************* ")

 ************************ Marksheet ************************
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 ************************* The End *************************

In [67]:
print("hello world",end="\t\t ")
print("hello world",end="\t\t ")
print("hello world")

hello world		 hello world		 hello world

In [70]:
print("hello world",end="\n\n\n")
print("hello world",end="\n\n\n")
print("hello world")

hello world


hello world


hello world

In [77]:
print("hello \\")
print("hello \\")
print("hello \\")

hello \
hello \
hello \

In [81]:
print("hello \' world")
print("hello \' world")
print("hello \' world")

hello ' world
hello ' world
hello ' world

In [82]:
print("hello \" world")
print("hello \" world")
print("hello \" world")

hello " world
hello " world
hello " world

In [83]:
print("hello \a world")
print("hello \a world")
print("hello \a world")

hello  world
hello  world
hello  world

In [88]:
print("hello \f world")
print("hello \f world")
print("hello \f world")

hello  world
hello  world
hello  world

In [91]:
print("hello \n\n world")

print("hello \n\n world")

print("hello \n\n world")

hello

 world
hello

 world
hello

 world

In [98]:
print("hello  world")

print("hello \r world")

print("hello \r world")

hello  world
 world
 world

In [1]:
print('Let\'s learn python')

Let's learn python

In [2]:
print('Lets's learn python')

SyntaxError: invalid syntax (<ipython-input-2-32bbed25d19d>, line 1)

In [3]:
print("\"You will miss all the shots you dont take\"")

"You will miss all the shots you dont take"

In [4]:
print("hello \"world\" world")

hello "world" world

In [9]:
print("hello \"world\" world")

hello "world" world

In [10]:
print('I\'m arsalan')

I'm arsalan

In [12]:
print(" line A \n line B \n line C")

 line A
 line B
 line C

In [17]:
print("name : \t arsalan")

name : 	 arsalan

In [19]:
print("this is backslash \\ \\")

this is backslash \ \

# variable for string

In [20]:
name = "Presidential Initiave AI and Computing"
print(name)

Presidential Initiave AI and Computing

In [21]:
a = 10

# a is variable name (identifier)
# = assignment operator
# 10 value (integer value)

print(a)

10

In [22]:
a = 10.6
print(a)

10.6

In [23]:
type(a)

float

In [24]:
a = 5
type(a)

int

In [27]:
city = "karachi"
type(city)
print(city)

karachi

In [28]:
city = 45
type(city)

int

In [29]:
student_name = "arsalan"
father_name = "manzoor"

print(student_name+father_name)

arsalanmanzoor

In [32]:
num_1 = 100
num_2 = 200

sum = num_1+num_2
print(sum)

300

In [33]:
# operators {+, - , * , /}

In [34]:
print(10+2)

12

In [35]:
print(10-2)

8

In [36]:
print(2*4)

8

In [37]:
print(12/2)

6.0

In [38]:
a = 23
b = 34

c = a + b
print(c)

57

In [39]:
value_1 = 100
value_2 = 10.5

sub = value_2 - value_1
print(sub)

-89.5

In [41]:
value_1 = 100
value_2 = 10

sum = value_2 + value_1
print(sum)

110

In [42]:
value_1 = 100
value_2 = 10

mul = value_2 * value_1
print(mul)

1000

In [45]:
value_1 = 100
value_2 = 100

div = value_2 / value_1 # python by default floating point division
print(div)

1.0

In [47]:
value_1 = 100
value_2 = 100

div = value_2 // value_1 # double slash operator will do integer division
print(div)

1

In [54]:
# in string + is not addition but it is concatenation

a = "23"
b = "45"

print(a + b)

2345

In [55]:
a = "abc"
b = "23"
a+b

'abc23'

In [56]:
a = 23
b = "abc"

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
a = "abc"
b = 3

print(a + b)

TypeError: can only concatenate str (not "int") to str

In [4]:
name = 'youtube'
name

'youtube'

In [3]:
name + ' rocks'

'youtube rocks'

In [5]:
name[1]

'o'

In [6]:
name[0]

'y'

In [7]:
name[-1]

'e'

In [8]:
name[0:2]

'yo'

In [9]:
name[1:4]

'out'

In [10]:
name[1:]

'outube'

In [11]:
name[:4]

'yout'

In [12]:
name[3:10]

'tube'

In [13]:
name[0] = 'n'

TypeError: 'str' object does not support item assignment

In [16]:
'my ' + name[3:]

'my tube'

In [17]:
myname = "arsalan"
len(myname)

7

In [18]:
s_name , s_age, s_course = "arsalan", 22, "AI"

In [19]:
print(s_name)

arsalan

In [20]:
print(s_age)

22

In [21]:
print(s_course)

AI

In [22]:
a = b = c = "blue"

In [23]:
print(a)

blue

In [24]:
print(b)

blue

In [25]:
print(c)

blue

In [27]:
123 = "abc"

SyntaxError: can't assign to literal (<ipython-input-27-f5b3f2b7fc7f>, line 1)

In [28]:
n@me = "arsalan"

SyntaxError: can't assign to operator (<ipython-input-28-01668c0e42a2>, line 1)

In [29]:
u$sd = 12

SyntaxError: invalid syntax (<ipython-input-29-db87d4043ef7>, line 1)

In [30]:
u1sd = 100
u1sd

100

In [31]:
user_one = "arsalan"
user_one

'arsalan'

In [32]:
user_one_age = 23
user_one_age

23

In [33]:
user_response_time = "2s"
user_response_time

'2s'

In [35]:
whats_left_over = 10 % 3
whats_left_over

1

In [38]:
whats_left_over = 10 // 3
whats_left_over

3

In [39]:
whats_left_over = 9 % 3
whats_left_over

0

In [40]:
whats_left_over

0

In [43]:
number = 2
number

2

In [44]:
number = number + 1
number

3

In [48]:
number = number + 1
number

7

In [49]:
number += 1
number

8

In [50]:
number += 1
number

9

In [51]:
number += 1
number

10

In [53]:
number -= 1
number

8

In [54]:
number -= 1
number

7

In [55]:
number -= 1
number

6

In [56]:
number *= 2
number

12

In [57]:
number /= 2

In [58]:
number

6.0

In [59]:
number

6.0

In [60]:
value_1 = 12
value_to_increment = 3
value_1 += value_to_increment
value_1

15