In [2]:
list1 = ["arsalan", "usman", "ahmed", "bilal"]

for item in list1:
    print(item)

arsalan
usman
ahmed
bilal

In [3]:
list2= ("arsalan", "usman", "ahmed", "bilal")

for item1 in list2:
    print(item1)

arsalan
usman
ahmed
bilal

In [4]:
list3 = [["arsalan",1], ["usman",2],
         ["bilal",3], ["nasir",4]]

for item in list3:
    print(item)

['arsalan', 1]
['usman', 2]
['bilal', 3]
['nasir', 4]

In [5]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a,char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [10]:
table_number = int(input("Enter table number:"))

for a in range(1,11):
    print(f"{table_number} * {a} = {table_number*a}")

Enter table number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [21]:
num_int = 123
num_float = 1.23
num_new = num_int + num_float

print("data type of num_int is :",type(num_int))

print("data type of num_float is :",type(num_float))

print("value of num_new ",num_new)
print("data type of num_new",type(num_new))

data type of num_int is : <class 'int'>
data type of num_float is : <class 'float'>
value of num_new  124.23
data type of num_new <class 'float'>

In [2]:
tables = int(input("Enter table"))

for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")
        #print(table," * ",num ," = ",table * num)

Enter table4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
weight = int(input("Enter your weight"))

print("your weight is:"+weight)

Enter your weight4

TypeError: can only concatenate str (not "int") to str

In [4]:
user_input = input("Enter something")

type(user_input)

Enter somethinghello

str

In [6]:
user_input = int(input("Enter number"))

type(user_input)

Enter number1

int

In [2]:
city_to_check = input("Enter your city:")
#city_to_check = city_to_check.lower()

lower_case_city_to_check = city_to_check.lower()

cleanest_cities = ["karachi", "lahore","multan","islamabad"]

for a_clean_city in cleanest_cities:
    #if city_to_check == a_clean_city:
    if lower_case_city_to_check == a_clean_city:
        print("Its one of the cleanest city")
print(lower_case_city_to_check)

Enter your city:lAHOre
Its one of the cleanest city
lahore

In [3]:
type("im a string")

str

In [4]:
name = "Pakistan"

In [5]:
type(name)

str

In [6]:
name.upper()

'PAKISTAN'

In [7]:
name.lower()

'pakistan'

In [9]:
name = "PAKISTAN"

In [10]:
name.title()

'Pakistan'

In [1]:
myDic = {"name": "arsalan", "age": 23, "gender": "male"}

In [2]:
len(myDic)

3

In [3]:
myDic["email"] = "arsalan@gmail.com"

In [4]:
myDic

{'name': 'arsalan', 'age': 23, 'gender': 'male', 'email': 'arsalan@gmail.com'}

In [5]:
email_of_myDic = myDic["email"]

In [6]:
print(email_of_myDic)

arsalan@gmail.com

In [8]:
print(myDic["age"])

23

In [9]:
print(myDic["name"])

arsalan

In [10]:
print(myDic["Name"])

KeyError: 'Name'

In [12]:
country_ranking = {1: "USA", 2:"China", 3: "Pakistan", 4: "Afghanistan", 5:"Dubai"}

In [13]:
print(country_ranking[2])

China

In [14]:
print(country_ranking[4])

Afghanistan

In [17]:
things_to_remember = {0 :"lowest number", "a dozen": 12, "snake eyes": "a pair of ones"}

In [19]:
print("These are the pairs")
print("key is the 0 and value is the",things_to_remember[0])
print("key is the string a dozen and value is the",things_to_remember["a dozen"])

These are the pairs
key is the 0 and value is the lowest number
key is the string a dozen and value is the 12

In [20]:
things_to_remember = {}

In [21]:
print(things_to_remember)

{}

In [22]:
things_to_remember[0] = "the lowest number"
things_to_remember["a dozen"] = 12

print(things_to_remember)

{0: 'the lowest number', 'a dozen': 12}

In [23]:
myDic

{'name': 'arsalan', 'age': 23, 'gender': 'male', 'email': 'arsalan@gmail.com'}

In [24]:
del myDic["age"]

In [25]:
myDic

{'name': 'arsalan', 'gender': 'male', 'email': 'arsalan@gmail.com'}

In [26]:
myDic["email"] = "newemail@gmail.com"

In [27]:
myDic

{'name': 'arsalan', 'gender': 'male', 'email': 'newemail@gmail.com'}

In [28]:
aDic = {1: 100, 2: 200, 3: 300, 1: 10000}

In [29]:
aDic[1]

10000

In [30]:
aDic

{1: 10000, 2: 200, 3: 300}

In [31]:
1 in aDic

True

In [33]:
"email" in myDic

True

In [34]:
"Email" in myDic

False

In [35]:
my_dic = {"name": "arsalan", "age": 23}

In [36]:
print(my_dic['name'])

arsalan

In [37]:
print(my_dic['age'])

23

In [38]:
my_dic['age'] = 24

In [39]:
my_dic

{'name': 'arsalan', 'age': 24}

In [40]:
print(my_dic)

{'name': 'arsalan', 'age': 24}

In [41]:
my_dic["address"] = "karachi"

In [42]:
my_dic

{'name': 'arsalan', 'age': 24, 'address': 'karachi'}

In [43]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
print(squares.pop(4))

16

In [45]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [46]:
print(squares.popitem())

(5, 25)

In [47]:
squares

{1: 1, 2: 4, 3: 9}

In [48]:
print(squares.popitem())

(3, 9)

In [1]:
students_1 = {
    "first name": "arsalan",
    "last name": "manzoor",
    "age": 23,
}

In [2]:
print(students_1)

{'first name': 'arsalan', 'last name': 'manzoor', 'age': 23}

In [4]:
print(students_1["age"])

23

In [5]:
print(student["last"])

NameError: name 'student' is not defined