In [1]:
customer_ids = [101, 102, 103]

In [2]:
customers = [
     {
         "customer id": customer_ids[0],
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    {
        "customer id": customer_ids[1],
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    {
        "customer id": customer_ids[2],
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
]

In [7]:
dictionary_to_look_in = customers[1]
customer_address = dictionary_to_look_in["address"]
customer_address

'lalo khait'

In [12]:
customers[1]

{'customer id': 102,
 'first name': 'danish',
 'last name': 'farooq',
 'address': 'lalo khait'}

In [13]:
new_customer_id = len(customers)

In [15]:
new_first_name = "adil"
new_last_name = "kareem"
new_address = "fb area"

new_dictionary = {
 'customer id': new_customer_id,
 'first name': new_first_name,
 'last name': new_last_name,
 'address': new_address
}

In [16]:
customers.append(new_dictionary)

In [17]:
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [18]:
new_customer_id = len(customer_ids)
new_first_name = "jawaid"
new_last_name = "akhtar"
new_address = "fb area"

In [19]:
customers.append(new_dictionary)
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [20]:
customer_29876 = {
 'first name': "khurram",
 'last name': "khan",
 'address': "fb area",
 'discounts': ["standard", "volume", "loyalty"],
}

In [21]:
if  "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
discount_amount

0.15

In [24]:
customers = {
     "customer_1": {
         
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    "customer_2":{
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    "customer_3":{
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
}

In [25]:
customers

{'customer_1': {'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 'customer_2': {'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 'customer_3': {'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'}}

In [26]:
customers["customer_2"]

{'first name': 'danish', 'last name': 'farooq', 'address': 'lalo khait'}

In [27]:
customers["customer_1"]["address"]

'bani gala'

In [28]:
my_dic = {"name": "Arsalan", "age": 23, "Gender": "Male",}

In [29]:
len(my_dic)

3

In [31]:
my_dic["email"] = "abc@gmail.com"

In [32]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'abc@gmail.com'}

In [33]:
new_dic = {1: "IMRAN", 2: "HASHIM"}

In [34]:
new_dic[2]

'HASHIM'

In [35]:
del new_dic[1]

In [36]:
new_dic

{2: 'HASHIM'}

In [37]:
my_dic["email"] = "arsalan@gmail.com"

In [38]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'arsalan@gmail.com'}

In [39]:
aDic = {1:100, 2:200, 3:300, 4: 400, 1:1000}

In [40]:
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

In [41]:
1 in aDic

True

In [42]:
100 in aDic

False

In [43]:
"age" in my_dic

True

In [45]:
student = {'Name': 'Arsalan', 'Class': 'AI', 'Program': 'PIAIC', 'Age': 42}

In [47]:
for value in student.keys():
    print(value)

Name
Class
Program
Age

In [49]:
for value in student.values():
    print(value)

Arsalan
AI
PIAIC
42

In [66]:
for key, value in student.items():
    print(f"{key}: {value}")

Name: Arsalan
Class: AI
Program: PIAIC
Age: 42

In [67]:
students =[]

In [68]:
students.append({'Name': 'Ali', 'Class':'AI', 'Campues': 'PIAIC Campus 1'})

In [69]:
students.append({'Name': 'Noman', 'Class':'AI', 'Campues': 'PIAIC Campus 2'})

In [70]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'},
 {'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}]

In [71]:
for student in students:
    print(student)

{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'}
{'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}

In [75]:
for student in students:
    for a,b in student.items():
        print(a,":",b)
    print("")

Name : Ali
Class : AI
Campues : PIAIC Campus 1

Name : Noman
Class : AI
Campues : PIAIC Campus 2

In [76]:
employee = {'Name': 'Shams', 
            'Children': {'Humaira':{'Age': 10, 'Class': '6th Standard'},
                         'Abdul Rehman': {'Age': 8, 'Class': '4th Standard'}}}

In [78]:
print(employee['Children']['Humaira'])

{'Age': 10, 'Class': '6th Standard'}

In [80]:
print(employee['Children']['Abdul Rehman']['Age'])

8