In [1]:
names = ['tahir', 'shaukat', 'jamal', 'bilal', 'ahmed']

In [2]:
print(names[0])

tahir

In [3]:
print(names[2])

jamal

In [4]:
print(names[-1])

ahmed

In [5]:
print(names[2:])

['jamal', 'bilal', 'ahmed']

In [6]:
print(names[:4])

['tahir', 'shaukat', 'jamal', 'bilal']

In [7]:
print(names[:])

['tahir', 'shaukat', 'jamal', 'bilal', 'ahmed']

In [8]:
names[0] = 'bilal'
print(names)

['bilal', 'shaukat', 'jamal', 'bilal', 'ahmed']

In [16]:
numbers = [2,3,1,10,12,44,33]

max = numbers[0]

for number in numbers:
    if number > max:
        max = number
print(max)

44

In [17]:
bool("False")

True

In [18]:
student_data = (1212,"arsalan","fb area")

In [21]:
s_roll_no,s_name,s_address = student_data

In [22]:
s_roll_no

1212

In [23]:
s_name

'arsalan'

In [24]:
s_address

'fb area'

In [25]:
b = ['banana','apple','microsoft']
b

['banana', 'apple', 'microsoft']

In [27]:
temp = b[0]
b[0] = b[2]
b[2] =temp
print(b)

['microsoft', 'apple', 'banana']

In [29]:
my_list = []
my_tuple = ("a", "b", "c")
my_list.append(my_tuple[2])

In [30]:
my_list

['c']

In [7]:
string = "abracadabra"
c = input("Enter your character:\n")
s = input("Enter your string:\n")
i = int(input("Enter your position:"))


c = c[:i] + s + c[6:]
print(c)

Enter your character:
abracadabra
Enter your string:
k
Enter your position:5
abrackdabra

In [5]:
name,age = "arsalan,23".split(",")
print(name)
print(age)
type(age)

arsalan
23

str

In [8]:
# For loops

In [12]:
cleanest_cities = ["karachi", "lahore", "multan","islamabad","kpk"]

In [13]:
city_to_check = "lahore"

In [15]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("its one of the cleanest city")
        break

its one of the cleanest city

In [16]:
# Nested for loop

In [18]:
first_names = ["BlueRay", "Upchuck", "Lojack", "Gizmo", "Do-Rag"]
last_names  = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

In [19]:
for a_first_name in first_names:
    for b_last_name in last_names:
        full_names.append(a_first_name + " " + b_last_name)

In [21]:
print(full_names)

['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchuck Zzz', 'Upchuck Burp', 'Upchuck Dogbone', 'Upchuck Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizmo Zzz', 'Gizmo Burp', 'Gizmo Dogbone', 'Gizmo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [22]:
for complete_record in full_names:
    print(complete_record)

BlueRay Zzz
BlueRay Burp
BlueRay Dogbone
BlueRay Droop
Upchuck Zzz
Upchuck Burp
Upchuck Dogbone
Upchuck Droop
Lojack Zzz
Lojack Burp
Lojack Dogbone
Lojack Droop
Gizmo Zzz
Gizmo Burp
Gizmo Dogbone
Gizmo Droop
Do-Rag Zzz
Do-Rag Burp
Do-Rag Dogbone
Do-Rag Droop

In [27]:
monthly_income = input("Enter your monthly income:")

monthly_income = int(monthly_income) * 2
print("your monthly income is: "+str(monthly_income))

Enter your monthly income:4000
your monthly income is: 8000