In [24]:
arr = ["Ali", "Haider","Salman",25,False,0.9]

In [25]:
print(arr[1])

Haider

In [26]:
print(arr[3])

25

In [27]:
arr.append("umar")

In [28]:
arr

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'umar']

In [29]:
arr1 = arr + ["bilal","tahir","amir"]
arr1

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'umar', 'bilal', 'tahir', 'amir']

In [30]:
fruits = []

In [31]:
fruits = fruits + ["mango","apple","orange"]

In [32]:
fruits

['mango', 'apple', 'orange']

In [34]:
fruits.insert(1,"cherries")
fruits

['mango', 'cherries', 'apple', 'orange']

In [35]:
fruits.insert(2,"banana")
fruits

['mango', 'cherries', 'banana', 'apple', 'orange']

In [36]:
fruits[2] = "newfruit"

In [37]:
fruits

['mango', 'cherries', 'newfruit', 'apple', 'orange']

In [38]:
cities = ["khi",'isl','lhre',"quetta","mul"]

In [39]:
cities

['khi', 'isl', 'lhre', 'quetta', 'mul']

In [42]:
another_cities = cities[2:5]
another_cities

['lhre', 'quetta', 'mul']

In [44]:
another_cities = cities[:5]
another_cities

['khi', 'isl', 'lhre', 'quetta', 'mul']

In [47]:
another_cities = cities[2:]
another_cities

['lhre', 'quetta', 'mul']

In [48]:
cities

['khi', 'isl', 'lhre', 'quetta', 'mul']

In [49]:
del cities[1]
cities

['khi', 'lhre', 'quetta', 'mul']

In [50]:
cities

['khi', 'lhre', 'quetta', 'mul']

In [54]:
cities

['khi', 'lhre', 'quetta']

In [55]:
del cities[0:10]

In [56]:
cities

[]

In [57]:
cities = ['khi', 'lhre', 'quetta', 'mul']

In [58]:
cities.remove("lhre")
cities

['khi', 'quetta', 'mul']

In [59]:
cities.remove("khi")

In [60]:
cities

['quetta', 'mul']

In [61]:
cities = ['khi', 'lhre', 'quetta', 'mul']

In [62]:
another_city = cities.pop()
another_city

'mul'

In [63]:
another_city = cities.pop(1)
another_city

'lhre'

In [65]:
country = ("pakistan","china","afghanistan","sri-lanka")

In [66]:
type(country)

tuple

In [67]:
country[1]

'china'

In [68]:
country.index("china")

1

In [70]:
country.count("china")

1

In [73]:
students = ["ALi","faisal","saleem","hamza","kashif"]

In [75]:
print(students[0])
print(students[-5])

ALi
ALi

In [76]:
students[1: 2+1]

['faisal', 'saleem']

In [77]:
students[-4:-2]

['faisal', 'saleem']

In [78]:
students[2:-1]

['saleem', 'hamza']

In [79]:
students

['ALi', 'faisal', 'saleem', 'hamza', 'kashif']

In [80]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [81]:
nums[0:10:2]

[1, 3, 5, 7, 9]

In [82]:
nums[::5]

[1, 6, 11, 16]

In [93]:
del nums[0]

In [92]:
nums.pop(1)

5

In [1]:
fruits1 = ['mango', 'orange']

In [2]:
fruits1.insert(1,'grapes')
fruits1

['mango', 'grapes', 'orange']

In [4]:
fruits2 = ['banana', 'apple']

In [5]:
fruits = fruits1 + fruits2
fruits

['mango', 'grapes', 'orange', 'banana', 'apple']

In [6]:
fruits1

['mango', 'grapes', 'orange']

In [7]:
fruits1.extend(fruits2)
fruits1

['mango', 'grapes', 'orange', 'banana', 'apple']

In [8]:
fruits1.append(fruits2)

In [9]:
fruits1

['mango', 'grapes', 'orange', 'banana', 'apple', ['banana', 'apple']]

In [10]:
fruits

['mango', 'grapes', 'orange', 'banana', 'apple']

In [11]:
fruits.pop()
fruits

['mango', 'grapes', 'orange', 'banana']

In [12]:
fruits.pop(1)
fruits

['mango', 'orange', 'banana']

In [13]:
del fruits[1]
fruits

['mango', 'banana']

In [15]:
fruits.remove("mango")

In [16]:
fruits

['banana']

In [17]:
fruits = ['mango', 'grapes', 'orange', 'banana', 'apple']

In [18]:
if 'apple' in fruits:
    print("apple is present")
else:
    print("not present")

apple is present

In [19]:
fruits.count('apple')

1

In [20]:
fruits

['mango', 'grapes', 'orange', 'banana', 'apple']

In [22]:
fruits.sort()
fruits

['apple', 'banana', 'grapes', 'mango', 'orange']

In [23]:
numbers = [3,5,1,9,10]

In [24]:
numbers.sort()
numbers

[1, 3, 5, 9, 10]

In [25]:
print(sorted(numbers))

[1, 3, 5, 9, 10]

In [28]:
fruits1 = ['orange','apple','pear']
fruits3 = ['orange','apple','pear']
fruits2 = ['banana', 'kiwi', 'apple', 'banana']

#print(fruits1 == fruits3) #values are same
#print(fruits1 == fruits2) 

print(fruits1 is fruits3) # checking location on same memory

False

In [30]:
# split methid
# convert string to list

user_info = 'arsalan,23'.split(',')

print(user_info)

['arsalan', '23']

In [31]:
name,age = "arsalan, 24".split(',')
print(name)
print(age)

arsalan
 24

In [34]:
# join method 
# convert list to string

user_info = ["arsalan", '24']
print(','.join(user_info))

arsalan,24

In [40]:
# list vs strings
# strings are immutable
# list are mutable

s = "string"
#t = s.title()
#print(s)

l = ['word1','word2','word3']

#l.pop()
#l

l.append('word3')
l

['word1', 'word2', 'word3', 'word3']

In [41]:
matrix = [[1,2,3], [4,5,6],[7,8,9]]
# 3 items ---> 3 list

In [42]:
matrix[0]

[1, 2, 3]

In [45]:
matrix[2]

[7, 8, 9]

In [46]:
matrix[0][1]

2

In [47]:
matrix[1][0]

4

In [51]:
# generate lists with range function
# something more about pop
# index method
# pass list to a function

numbers = list(range(1,11))

#print(numbers)

#popped_item = numbers.pop()
#print(numbers)

numbers.index(1)

0

In [59]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,1,8,9,1]

print(numbers.index(1,11,14))

13

In [60]:
numbers = list(range(1,10))

def square_list(l):
    square = []
    
    for i in l:
        square.append(i**2)
    return square

square_list(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
def reverse_list(l):
    return l.reverse()

numbers = [1,2,3,4]

print(reverse_list(numbers))

None

In [63]:
numbers = [6,60,2]

print(min(numbers))

2

In [64]:
print(max(numbers))

60