# Practicing

In [1]:
print("arsalan manzoor")

arsalan manzoor

In [3]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

# String class Methods and Attributes

In [5]:
a = "pAkistan ZindaBad"
print(a)

pAkistan ZindaBad

In [6]:
a.capitalize() #inline

'Pakistan zindabad'

In [7]:
a.upper()

'PAKISTAN ZINDABAD'

In [8]:
a.title()

'Pakistan Zindabad'

In [9]:
print(a)

pAkistan ZindaBad

In [39]:
a.lower()

'x'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print?

In [14]:
abc = """
PIAIC
City: Karachi
Country : Pakistan
"""

In [15]:
print(abc)

PIAIC
City: Karachi
Country : Pakistan

In [16]:
abc = '''
PIAIC
City: Karachi
Country : Pakistan
'''
abc

'\nPIAIC\nCity: Karachi\nCountry : Pakistan\n'

In [17]:
abc = """
****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855
"""

print(abc)

****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855

In [20]:
name = input("Enter your name: ")
f_name = input("Enter your fathers name:")
roll_no = input("Enter your roll no:")

abc = """
********* PIAIC *********
Name: {}
Father's Name: {}
Roll no: {}
"""

print(abc.format(name,f_name,roll_no))

Enter your name: Ahmed
Enter your fathers name:Nasir
Enter your roll no:1212

********* PIAIC *********
Name: Ahmed
Father's Name: Nasir
Roll no: 1212

In [21]:
a = print("pakistan")
print(a)

pakistan
None

In [25]:
a = "pakistan"
b = "Zinda Bad"
a + b #cancatenation

'pakistanZinda Bad'

In [27]:
a = 5
b = 7

a + b #addition

12

# Operators

In [29]:
+, - , * ,/ , % , // , ** # Mathematics

=, +=, -=, *= , /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operators

and ,or # combine logic checking

# +, -, *, /, %, // # MATHEMATICS

In [30]:
5 + 2

7

In [31]:
4 - 2

2

In [32]:
3 * 5

15

In [33]:
12 / 3

4.0

In [34]:
15 % 4

3

In [35]:
15 / 4

3.75

In [36]:
15 // 4

3

In [37]:
15 // 4.0

3.0

In [38]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [39]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [40]:
# PEDMAS (Peranthesis, Exponent, Division, Multiplication, Addition, Subtraction)
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

17.6

# =, +=, -=, *=, /=, %= Assign Operator

In [41]:
a = "Pakistan"
a

'Pakistan'

In [42]:
a = "china"
a

'china'

In [43]:
a * 2

'chinachina'

In [44]:
a = "abc"
a

'abc'

In [45]:
a+= "xyz"
a

'abcxyz'

In [46]:
a

'abcxyzabcxyz'

In [47]:
a %= 2

TypeError: not all arguments converted during string formatting

In [54]:
a = 15
a %= 4
a

3

In [55]:
# 3 * 3 * 3
a **= 3
a

27

In [56]:
a = "abc"
a **=3
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical operator

In [1]:
5 == 5

True

In [2]:
5 == 3

False

In [3]:
5 > 3

True

In [4]:
5 < 3

False

In [5]:
5 >= 5

True

In [6]:
5 != 5

False

In [7]:
6 < 6

False

In [8]:
6 <= 6

True

In [9]:
5 == 5 and 6 <= 7 and 10 >= 9
# true      # true       #true

True

In [10]:
5 == 5 and 9 <= 7 and 10 >= 9
# true        # false  #true

False

In [11]:
5 == 5 or 6 <= 7 or 10 >= 9
# true    # true       #true

True

In [12]:
5 == 7  or 6 <= 7 or 10 >= 11
# false    # true       #false

True

In [13]:
a = "abc"
b = "xyz"
c = '27'

a + b + c

'abcxyz27'

In [14]:
a = "abc"
b = "xyz"
c = '27'

print(a,b,c)

abc xyz 27

In [15]:
a = "abc"
b = "xyz"
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [16]:
a = "abc"
b = "xyz"
c = 27

print(a,b,c)

abc xyz 27

In [17]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [18]:
a = '1'
b = '1'

a + b

'11'

In [19]:
a = input()
b = input()

a + b

1
2

'12'

In [20]:
int(a) + int(b)

3

In [21]:
float(a) + float(b)

3.0

In [22]:
a + b

'12'

In [23]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

# loop(for , while)
exception
if elif else
switch

# if else elif

In [27]:
name = input("Enter your name:")

if name == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:arsalan
welcome

In [28]:
name = input("Enter your name:")

if name.lower() == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:Arsalan
welcome

In [29]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [31]:
per = 79

if per >= 0 and per < 33:
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per <=100:
    print("A+")
else:
    print("Not valid")

A

In [32]:
per = 78

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("fail")

A

In [33]:
names = ["ahmed","owais","bilal"]
names

['ahmed', 'owais', 'bilal']

In [34]:
names[2]

'bilal'

In [35]:
names[2] = "Kamran"
names

['ahmed', 'owais', 'Kamran']

In [38]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break
names

namesahmed
namessultan
nameskashif
namesfarooq
namesghulam
namesx

['ahmed', 'sultan', 'kashif', 'farooq', 'ghulam']

In [52]:
a = "pAkistan"

In [53]:
a.capitalize()

'Pakistan'

In [54]:
a.casefold()

'pakistan'

In [56]:
a.rindex()

TypeError: rindex() takes at least 1 argument (0 given)