In [5]:
l1 = ["arsalan","manzoor","0312122121","077"]
# all elements are stored with index number 
# 0 = name
# 1 = father name
# 2 = cell
# 3 = id
print(l1[0],l1[1],l1[2],l1[3])

arsalan manzoor 0312122121 077

In [6]:
print(*l1) # same as above

arsalan manzoor 0312122121 077

In [9]:
obj1 = {
    'name': 'arsalan',
    'fname': 'manzoor',
    'cell': '0312122121',
    'id': '077',
    'age': 23,
}

obj1

{'name': 'arsalan',
 'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23}

In [10]:
obj1[0]

KeyError: 0

In [11]:
obj1['name']

'arsalan'

In [12]:
obj1['fname']

'manzoor'

In [13]:
obj1['cell']

'0312122121'

In [14]:
obj1['cell']

'0312122121'

In [14]:
# element = key: value(pair)
# key= string,intger,float

obj1 = {
    'name': 'arsalan',
    'fname': 'manzoor',
    'cell': '0312122121',
    'id': '077',
    'age': 23,
     0 : 'pakistan zindabad'
}

In [16]:
obj1[0]

'pakistan zindabad'

In [13]:
obj1 = {
    'name': 'arsalan',
    'fname': 'manzoor',
    'cell': '0312122121',
    'id': '077',
    'age': 23,
     0 : 'pakistan zindabad',
    ['abc']: 'hello world'
}

TypeError: unhashable type: 'list'

In [20]:
obj1 = {
    'name': 'arsalan',
    'fname': 'manzoor',
    'cell': '0312122121',
    'id': '077',
    'age': 23,
     0 : 'pakistan zindabad',
    ('abc'): 'hello world'
}

In [21]:
obj1['abc']

'hello world'

In [22]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [23]:
obj1 = {
    'name': 'arsalan',
    'fname': 'manzoor',
    'cell': '0312122121',
    'id': '077',
    'age': 23,
     0 : 'pakistan zindabad',
    'abc': ['a', 'b', 'c']
}

obj1['abc']

['a', 'b', 'c']

In [24]:
obj1['abc'][1]

'b'

In [1]:
def abc(name,fname,course):
    print(name,fname,course)

In [2]:
abc('Arsalan','Manzoor','A.I')

Arsalan Manzoor A.I

In [3]:
abc('Arsalan','Manzoor')

TypeError: abc() missing 1 required positional argument: 'course'

In [5]:
abc(course= "WEB",fname='manzoor',name='arsalan')

arsalan manzoor WEB

In [8]:
obj = {
    'course': 'Ai',
    'name': 'arslan',
    'fname': 'manzoor',
}

abc(**obj)

arslan manzoor Ai

In [11]:
a = 5
b = 5

print(id(a))
print(id(b))

140724656772032
140724656772032

In [15]:
obj1

{'name': 'arsalan',
 'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23,
 0: 'pakistan zindabad'}

In [17]:
obj2 = obj1
print(id(obj1))
print(id(obj2))

2414532683672
2414532683672

In [18]:
a =obj1.copy()
a

{'name': 'arsalan',
 'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23,
 0: 'pakistan zindabad'}

In [19]:
obj

{'course': 'Ai', 'name': 'arslan', 'fname': 'manzoor'}

In [20]:
print(id(obj1))
print(id(a))

2414532683672
2414532971544

In [21]:
obj.clear()
obj

{}

In [22]:
l1 = ['name','fname','course','timing','address']
dict.fromkeys(l1)

{'name': None, 'fname': None, 'course': None, 'timing': None, 'address': None}

In [24]:
a1 =  dict.fromkeys(l1,'abc')
a1

{'name': 'abc',
 'fname': 'abc',
 'course': 'abc',
 'timing': 'abc',
 'address': 'abc'}

In [25]:
a1['cell']

KeyError: 'cell'

In [26]:
a1.get('name')

'abc'

In [27]:
a1.get('cell')

In [28]:
a1.get('cell','Not valid')

'Not valid'

In [29]:
a1.items()

dict_items([('name', 'abc'), ('fname', 'abc'), ('course', 'abc'), ('timing', 'abc'), ('address', 'abc')])

In [30]:
a1.get('contactNumber')

In [31]:
l1 = a1.keys()
l1

dict_keys(['name', 'fname', 'course', 'timing', 'address'])

In [32]:
names = ['arsalan','asif','hamza','konain']

for name in names:
    if name == 'asif':
        print(True)

True

In [36]:
'arsalan' in names

True

In [37]:
'timing' in names

False

In [38]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0])

In [39]:
obj1.values()

dict_values(['arsalan', 'manzoor', '0312122121', '077', 23, 'pakistan zindabad'])

In [40]:
obj1.items()

dict_items([('name', 'arsalan'), ('fname', 'manzoor'), ('cell', '0312122121'), ('id', '077'), ('age', 23), (0, 'pakistan zindabad')])

In [41]:
a1 = {
    0: 'A',
    1: 'B',
    3: 'C',
    2: 'D',
}

In [42]:
sorted(a1)

[0, 1, 2, 3]

In [43]:
obj1

{'name': 'arsalan',
 'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23,
 0: 'pakistan zindabad'}

In [44]:
for e in obj1:
    print(e)

name
fname
cell
id
age
0

In [46]:
for k in obj1.keys():
    print(k)

name
fname
cell
id
age
0

In [47]:
for v in obj1.values():
    print(v)

arsalan
manzoor
0312122121
077
23
pakistan zindabad

In [48]:
a, b = [20, 25]

In [49]:
print(a)

20

In [50]:
print(b)

25

In [51]:
print(type(a))

<class 'int'>

In [52]:
a, b, c = 20, 35, 'abc'
c

'abc'

In [53]:
a, b, c = (10, 30, 'abc')

In [54]:
a

10

In [55]:
c

'abc'

In [56]:
for k, v in obj1.items():
    print('Key = ',k, 'Value = ',v)

Key =  name Value =  arsalan
Key =  fname Value =  manzoor
Key =  cell Value =  0312122121
Key =  id Value =  077
Key =  age Value =  23
Key =  0 Value =  pakistan zindabad

In [57]:
obj1

{'name': 'arsalan',
 'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23,
 0: 'pakistan zindabad'}

In [61]:
pop_data = obj1.pop('name')

In [62]:
pop_data

'arsalan'

In [63]:
obj1

{'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'age': 23,
 0: 'pakistan zindabad'}

In [64]:
obj1.popitem()

(0, 'pakistan zindabad')

In [65]:
obj1.popitem()

('age', 23)

In [66]:
obj1

{'fname': 'manzoor', 'cell': '0312122121', 'id': '077'}

In [69]:
obj1.setdefault('xyz','pak')
obj1

{'fname': 'manzoor', 'cell': '0312122121', 'id': '077', 'xyz': 'pak'}

In [70]:
a1 = {
    'a': 'A',
    'b': 'B',
    'name': 'Arsalan'
}

obj1.update(a1)
obj1

{'fname': 'manzoor',
 'cell': '0312122121',
 'id': '077',
 'xyz': 'pak',
 'a': 'A',
 'b': 'B',
 'name': 'Arsalan'}

In [71]:
obj1.update({'id': '989'})

In [72]:
obj1

{'fname': 'manzoor',
 'cell': '0312122121',
 'id': '989',
 'xyz': 'pak',
 'a': 'A',
 'b': 'B',
 'name': 'Arsalan'}

In [73]:
{'a','b','a','c','a'} # set

{'a', 'b', 'c'}

In [74]:
a1 = {}
a1

{}

In [75]:
a1['name'] = 'arsalan'
a1['fname'] = 'manzoor'
a1

{'name': 'arsalan', 'fname': 'manzoor'}

In [1]:
db = []

while True:
    print("\nPress 'x' for exit ")
    name = input("Enter your name: ")
    fname = input("Enter your Father's name: ")
    
    r = {}
    if name !='x' or fname != 'x':
        r['name'] = name
        r['fname'] = fname
        db.append(r)
    else:
        break

Press 'x' for exit
Enter your name: arslan
Enter your Father's name: manzoor

Press 'x' for exit
Enter your name: bilal
Enter your Father's name: ahmed

Press 'x' for exit
Enter your name: x
Enter your Father's name: x

In [2]:
db

[{'name': 'arslan', 'fname': 'manzoor'}, {'name': 'bilal', 'fname': 'ahmed'}]

In [3]:
def info():
    print("Saylani Welfare Trust")
    print("Bahadurabad")
    print("Karachi")
    print("A.I")

In [4]:
info()

Saylani Welfare Trust
Bahadurabad
Karachi
A.I

In [13]:
def student (name,sid,fname):
    abc = """
    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: {}
    Fname: {}
    Roll no: {}
    """.format(name,fname,sid)
    return abc

In [14]:
print(student('ali','hamza','007'))

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: ali
    Fname: 007
    Roll no: hamza

In [15]:
print(student(name='ali',fname='hamza',sid='007'))

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: ali
    Fname: hamza
    Roll no: 007

In [16]:
l1 = [{'name': 'ali','fname':'hamza','sid':1},
     {'name': 'farooq','fname':'imran','sid':2},
     {'name': 'junaid','fname':'iqbal','sid':3}]

In [17]:
for d in l1:
    print(student(**d))

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: ali
    Fname: hamza
    Roll no: 1


    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: farooq
    Fname: imran
    Roll no: 2


    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: junaid
    Fname: iqbal
    Roll no: 3

In [22]:
a1 = input('name')
a2 = int(input('sid'))

for d in l1:
    if d['name'] == a1 and d['sid'] == a2:
        print(student(**d))
        print("Valid user")
        break
    else:
        print("Invalid user")

nameali
sid1

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: ali
    Fname: hamza
    Roll no: 1

Valid user

In [23]:
print(student('abid','ali',3)) # seq arguments

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: abid
    Fname: 3
    Roll no: ali

In [24]:
print(student(name='abid',fname='ali',sid=3)) # keyword arguments

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: abid
    Fname: ali
    Roll no: 3

In [25]:
l1 = ['qasim','aslam',7]
print(student(*l1))

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: qasim
    Fname: 7
    Roll no: aslam

In [26]:
l2 = {'name': 'ali','fname':'hamza','sid':1}
print(student(**l2))

    Saylani Welfare Trus
    Bahadurabd Krachi
    Name: ali
    Fname: hamza
    Roll no: 1

In [29]:
def abc(a=0,b=0,c=0):
    return a+b+c

print(abc(1))
print(abc(1,7))
print(abc(1,8,9))
print(abc(c=20))

1
8
18
20

In [30]:
abc(1,8,9,0,20,78,89)

TypeError: abc() takes from 0 to 3 positional arguments but 7 were given

In [31]:
def abc(*a):
    return sum(a)

In [32]:
print(abc(1,2,3,9,10))
print(abc(1))
print(abc(2,4,8,10))

25
1
24

In [33]:
def abc(name,fname,*a):
    print("user: ",name)
    print("fname",fname)
    print(sum(a))

In [34]:
abc("arsalan","manzoor",21,2,2,2,2,2)

user:  arsalan
fname manzoor
31

In [35]:
def abc(**d):
    print(d)

print(abc(name='arslan',fname='manzoor'))
print(abc(a='aa',b='cc'))

{'name': 'arslan', 'fname': 'manzoor'}
None
{'a': 'aa', 'b': 'cc'}
None

In [86]:
data = [{'name':'Mehran','fname':'Kamal','pass':True},
       {'name':'Ali','fname':'Kamal','pass':True},
       {'name':'Azhar','fname':'Kamal','pass':True},
       {'name':'Irfan','fname':'Kamal','pass':False},
       {'name':'Aslam','fname':'Kamal','pass':False}]

In [92]:
pass_students = []
fail_students = []
i = 0

for elem in data:
   
    if elem['pass'] == True:
        pass_students.append(data[i])
    else:
        fail_students.append(data[i])
    i +=1

In [93]:
data

[{'name': 'Mehran', 'fname': 'Kamal', 'pass': True},
 {'name': 'Ali', 'fname': 'Kamal', 'pass': True},
 {'name': 'Azhar', 'fname': 'Kamal', 'pass': True},
 {'name': 'Irfan', 'fname': 'Kamal', 'pass': False},
 {'name': 'Aslam', 'fname': 'Kamal', 'pass': False}]

In [94]:
registered

[{'name': 'Mehran', 'fname': 'Kamal', 'pass': True},
 {'name': 'Ali', 'fname': 'Kamal', 'pass': True},
 {'name': 'Azhar', 'fname': 'Kamal', 'pass': True}]

In [95]:
fail_students

[{'name': 'Irfan', 'fname': 'Kamal', 'pass': False},
 {'name': 'Aslam', 'fname': 'Kamal', 'pass': False}]

In [101]:
print("Registered Students:")
for i in registered:
    print(i['name'])
    print(i['fname'])
    print("Parring status: ",i['pass'])
    print("\n")

Registered Students:
Mehran
Kamal
Parring status:  True


Ali
Kamal
Parring status:  True


Azhar
Kamal
Parring status:  True