In [1]:
city_0 = "karachi"
city_1 = "lahore"
city_2 = "islamabad"
city_3 = "multan"
city_4 = "quetta"
city_5 = "hyderabad"

In [2]:
print("Welcome to "+city_3)

Welcome to multan

In [3]:
cities = ["karachi", "islamabd", "larkana", "quetta", "kpk", "multan"]

In [6]:
print("Welcome to "+cities[3])

Welcome to quetta

In [7]:
mixed_things = [1, "Bhooo!","Now is"]

In [8]:
cities

['karachi', 'islamabd', 'larkana', 'quetta', 'kpk', 'multan']

In [9]:
cities.append("Dadu")

In [10]:
cities

['karachi', 'islamabd', 'larkana', 'quetta', 'kpk', 'multan', 'Dadu']

In [11]:
cities[6]

'Dadu'

In [12]:
cities = cities + ["kashmir", "gilgit"]

In [13]:
cities

['karachi',
 'islamabd',
 'larkana',
 'quetta',
 'kpk',
 'multan',
 'Dadu',
 'kashmir',
 'gilgit']

In [16]:
cities[8]

'gilgit'

In [22]:
todays_tasks = []

In [23]:
todays_tasks = todays_tasks + ["Walk on garden","Buy groceries"]

In [24]:
todays_tasks

['Walk on garden', 'Buy groceries']

In [25]:
cities

['karachi',
 'islamabd',
 'larkana',
 'quetta',
 'kpk',
 'multan',
 'Dadu',
 'kashmir',
 'gilgit']

In [28]:
cities.insert(1, "sukkur")

In [29]:
cities

['karachi',
 'sukkur',
 'sukkur',
 'islamabd',
 'larkana',
 'quetta',
 'kpk',
 'multan',
 'Dadu',
 'kashmir',
 'gilgit']

In [30]:
cities[0] = "punjab"

In [31]:
cities

['punjab',
 'sukkur',
 'sukkur',
 'islamabd',
 'larkana',
 'quetta',
 'kpk',
 'multan',
 'Dadu',
 'kashmir',
 'gilgit']

In [32]:
fruits = ["apple", "orange", "banana", "grapes", "pineapple", "mango", "cherries"]

In [33]:
another_fruits = fruits[2:5]

In [34]:
another_fruits

['banana', 'grapes', 'pineapple']

In [35]:
another_fruits = fruits[:5]

In [36]:
another_fruits

['apple', 'orange', 'banana', 'grapes', 'pineapple']

In [37]:
another_fruits = fruits[2:]

In [38]:
another_fruits

['banana', 'grapes', 'pineapple', 'mango', 'cherries']

In [39]:
fruits

['apple', 'orange', 'banana', 'grapes', 'pineapple', 'mango', 'cherries']

In [40]:
del fruits[1]

In [41]:
fruits

['apple', 'banana', 'grapes', 'pineapple', 'mango', 'cherries']

In [42]:
del fruits[5]

In [43]:
fruits

['apple', 'banana', 'grapes', 'pineapple', 'mango']

In [44]:
del fruits[-1]

In [45]:
fruits

['apple', 'banana', 'grapes', 'pineapple']

In [46]:
fruits.remove("banana")

In [47]:
fruits

['apple', 'grapes', 'pineapple']

In [49]:
fruits.remove("apple")

In [50]:
fruits

['grapes', 'pineapple']

In [51]:
fruits = ["apple", "orange", "banana", "grapes", "pineapple", "mango", "cherries"]

In [52]:
fruits

['apple', 'orange', 'banana', 'grapes', 'pineapple', 'mango', 'cherries']

In [53]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [54]:
latest_task_accomplished = tasks.pop(1)

In [55]:
latest_task_accomplished

'call Sarah'

In [56]:
tasks

['email Frank', 'meet with Zach']

In [58]:
tasks_accomplished = []

In [60]:
tasks_accomplished.append(latest_task_accomplished)

In [61]:
tasks_accomplished

['call Sarah']

In [62]:
latest_task_accomplished

'call Sarah'

In [63]:
latest_task_accomplished = tasks.pop()

In [64]:
latest_task_accomplished

'meet with Zach'

In [66]:
tasks_accomplished.insert(1,tasks.pop(0))

In [67]:
tasks_accomplished

['call Sarah', 'email Frank']

In [68]:
cars = ("suzuki", "corolla", "toyota", "nissan")

In [69]:
cars

('suzuki', 'corolla', 'toyota', 'nissan')

In [70]:
type(cars)

tuple

In [71]:
type(fruits)

list

In [72]:
cars[1]

'corolla'

In [73]:
cars[-1]

'nissan'

In [74]:
cars[0] = "mehran"

TypeError: 'tuple' object does not support item assignment

In [77]:
cars = cars + ("mehran", "honda")

In [78]:
cars

('suzuki', 'corolla', 'toyota', 'nissan', 'mehran', 'honda')

In [82]:
cars = cars + ("cultus", "bmw")

In [83]:
cars

('suzuki', 'corolla', 'toyota', 'nissan', 'mehran', 'honda', 'cultus', 'bmw')

In [84]:
cars = cars + ("cultus", "bmw")

In [85]:
cars

('suzuki',
 'corolla',
 'toyota',
 'nissan',
 'mehran',
 'honda',
 'cultus',
 'bmw',
 'cultus',
 'bmw')