# Practicing

In [1]:
print("arsalan manzoor")

arsalan manzoor

In [3]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

# String class Methods and Attributes

In [5]:
a = "pAkistan ZindaBad"
print(a)

pAkistan ZindaBad

In [6]:
a.capitalize() #inline

'Pakistan zindabad'

In [7]:
a.upper()

'PAKISTAN ZINDABAD'

In [8]:
a.title()

'Pakistan Zindabad'

In [9]:
print(a)

pAkistan ZindaBad

In [39]:
a.lower()

'x'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print?

In [14]:
abc = """
PIAIC
City: Karachi
Country : Pakistan
"""

In [15]:
print(abc)

PIAIC
City: Karachi
Country : Pakistan

In [16]:
abc = '''
PIAIC
City: Karachi
Country : Pakistan
'''
abc

'\nPIAIC\nCity: Karachi\nCountry : Pakistan\n'

In [17]:
abc = """
****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855
"""

print(abc)

****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855

In [20]:
name = input("Enter your name: ")
f_name = input("Enter your fathers name:")
roll_no = input("Enter your roll no:")

abc = """
********* PIAIC *********
Name: {}
Father's Name: {}
Roll no: {}
"""

print(abc.format(name,f_name,roll_no))

Enter your name: Ahmed
Enter your fathers name:Nasir
Enter your roll no:1212

********* PIAIC *********
Name: Ahmed
Father's Name: Nasir
Roll no: 1212

In [21]:
a = print("pakistan")
print(a)

pakistan
None

In [25]:
a = "pakistan"
b = "Zinda Bad"
a + b #cancatenation

'pakistanZinda Bad'

In [27]:
a = 5
b = 7

a + b #addition

12

# Operators

In [29]:
+, - , * ,/ , % , // , ** # Mathematics

=, +=, -=, *= , /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operators

and ,or # combine logic checking

# +, -, *, /, %, // # MATHEMATICS

In [30]:
5 + 2

7

In [31]:
4 - 2

2

In [32]:
3 * 5

15

In [33]:
12 / 3

4.0

In [34]:
15 % 4

3

In [35]:
15 / 4

3.75

In [36]:
15 // 4

3

In [37]:
15 // 4.0

3.0

In [38]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [39]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [40]:
# PEDMAS (Peranthesis, Exponent, Division, Multiplication, Addition, Subtraction)
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

17.6

# =, +=, -=, *=, /=, %= Assign Operator

In [41]:
a = "Pakistan"
a

'Pakistan'

In [42]:
a = "china"
a

'china'

In [43]:
a * 2

'chinachina'

In [44]:
a = "abc"
a

'abc'

In [45]:
a+= "xyz"
a

'abcxyz'

In [46]:
a

'abcxyzabcxyz'

In [47]:
a %= 2

TypeError: not all arguments converted during string formatting

In [54]:
a = 15
a %= 4
a

3

In [55]:
# 3 * 3 * 3
a **= 3
a

27

In [56]:
a = "abc"
a **=3
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical operator

In [1]:
5 == 5

True

In [2]:
5 == 3

False

In [3]:
5 > 3

True

In [4]:
5 < 3

False

In [5]:
5 >= 5

True

In [6]:
5 != 5

False

In [7]:
6 < 6

False

In [8]:
6 <= 6

True

In [9]:
5 == 5 and 6 <= 7 and 10 >= 9
# true      # true       #true

True

In [10]:
5 == 5 and 9 <= 7 and 10 >= 9
# true        # false  #true

False

In [11]:
5 == 5 or 6 <= 7 or 10 >= 9
# true    # true       #true

True

In [12]:
5 == 7  or 6 <= 7 or 10 >= 11
# false    # true       #false

True

In [13]:
a = "abc"
b = "xyz"
c = '27'

a + b + c

'abcxyz27'

In [14]:
a = "abc"
b = "xyz"
c = '27'

print(a,b,c)

abc xyz 27

In [15]:
a = "abc"
b = "xyz"
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [16]:
a = "abc"
b = "xyz"
c = 27

print(a,b,c)

abc xyz 27

In [17]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [18]:
a = '1'
b = '1'

a + b

'11'

In [19]:
a = input()
b = input()

a + b

1
2

'12'

In [20]:
int(a) + int(b)

3

In [21]:
float(a) + float(b)

3.0

In [22]:
a + b

'12'

In [23]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

# loop(for , while)
exception
if elif else
switch

# if else elif

In [27]:
name = input("Enter your name:")

if name == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:arsalan
welcome

In [28]:
name = input("Enter your name:")

if name.lower() == "arsalan":
    print("welcome")
else:
    print("sorry!")

Enter your name:Arsalan
welcome

In [29]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [31]:
per = 79

if per >= 0 and per < 33:
    print("Fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per <=100:
    print("A+")
else:
    print("Not valid")

A

In [32]:
per = 78

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("fail")

A

In [33]:
names = ["ahmed","owais","bilal"]
names

['ahmed', 'owais', 'bilal']

In [34]:
names[2]

'bilal'

In [35]:
names[2] = "Kamran"
names

['ahmed', 'owais', 'Kamran']

In [38]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break
names

namesahmed
namessultan
nameskashif
namesfarooq
namesghulam
namesx

['ahmed', 'sultan', 'kashif', 'farooq', 'ghulam']

In [4]:
print("Enter your first number:")
value1 = input()
print("Enter your second number:")
value2 = input()

print("The total sum of "+value1+" and "+value2+" is : ",int(value1)+int(value2))

Enter your first number:
12
Enter your second number:
2
The total sum of 12 and 2 is :  14

In [16]:
mystr = "arsalan is a good boy"
print(len(mystr))
print(mystr[0:21:2])

21
aslni  odby

In [17]:
print(mystr.isalnum())

False

In [18]:
print(mystr.endswith("boy"))

True

In [19]:
print(mystr.count("o"))

3

In [20]:
print(mystr.find("is"))

8

In [72]:
print(mystr.replace("is", "are"))

NameError: name 'mystr' is not defined

In [3]:
Print()

NameError: name 'Print' is not defined

In [4]:
print(1000)

1000

In [6]:
print("abc","def")

abc def

In [7]:
print(123,456)

123 456

In [1]:
print("a","b")

a b

In [2]:
print(123,12.3)

123 12.3

In [3]:
print(type(12.3))

<class 'float'>

In [4]:
print("python")

python

In [5]:
print("123pakistan")

123pakistan

In [13]:
print("pakistan", "python", "piaic", sep=" ************** ")

pakistan ************** python ************** piaic

In [66]:
print("","Marksheet","",sep=" ************************ ")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print(" * ", "                                                       *")
print("","The End","",sep=" ************************* ")

 ************************ Marksheet ************************
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 *                                                         *
 ************************* The End *************************

In [67]:
print("hello world",end="\t\t ")
print("hello world",end="\t\t ")
print("hello world")

hello world		 hello world		 hello world

In [70]:
print("hello world",end="\n\n\n")
print("hello world",end="\n\n\n")
print("hello world")

hello world


hello world


hello world

In [77]:
print("hello \\")
print("hello \\")
print("hello \\")

hello \
hello \
hello \

In [81]:
print("hello \' world")
print("hello \' world")
print("hello \' world")

hello ' world
hello ' world
hello ' world

In [82]:
print("hello \" world")
print("hello \" world")
print("hello \" world")

hello " world
hello " world
hello " world

In [83]:
print("hello \a world")
print("hello \a world")
print("hello \a world")

hello  world
hello  world
hello  world

In [88]:
print("hello \f world")
print("hello \f world")
print("hello \f world")

hello  world
hello  world
hello  world

In [91]:
print("hello \n\n world")

print("hello \n\n world")

print("hello \n\n world")

hello

 world
hello

 world
hello

 world

In [98]:
print("hello  world")

print("hello \r world")

print("hello \r world")

hello  world
 world
 world

In [1]:
print('Let\'s learn python')

Let's learn python

In [2]:
print('Lets's learn python')

SyntaxError: invalid syntax (<ipython-input-2-32bbed25d19d>, line 1)

In [3]:
print("\"You will miss all the shots you dont take\"")

"You will miss all the shots you dont take"

In [4]:
print("hello \"world\" world")

hello "world" world

In [9]:
print("hello \"world\" world")

hello "world" world

In [10]:
print('I\'m arsalan')

I'm arsalan

In [12]:
print(" line A \n line B \n line C")

 line A
 line B
 line C

In [17]:
print("name : \t arsalan")

name : 	 arsalan

In [19]:
print("this is backslash \\ \\")

this is backslash \ \

# variable for string

In [20]:
name = "Presidential Initiave AI and Computing"
print(name)

Presidential Initiave AI and Computing

In [21]:
a = 10

# a is variable name (identifier)
# = assignment operator
# 10 value (integer value)

print(a)

10

In [22]:
a = 10.6
print(a)

10.6

In [23]:
type(a)

float

In [24]:
a = 5
type(a)

int

In [27]:
city = "karachi"
type(city)
print(city)

karachi

In [28]:
city = 45
type(city)

int

In [29]:
student_name = "arsalan"
father_name = "manzoor"

print(student_name+father_name)

arsalanmanzoor

In [32]:
num_1 = 100
num_2 = 200

sum = num_1+num_2
print(sum)

300

In [33]:
# operators {+, - , * , /}

In [34]:
print(10+2)

12

In [35]:
print(10-2)

8

In [36]:
print(2*4)

8

In [37]:
print(12/2)

6.0

In [38]:
a = 23
b = 34

c = a + b
print(c)

57

In [39]:
value_1 = 100
value_2 = 10.5

sub = value_2 - value_1
print(sub)

-89.5

In [41]:
value_1 = 100
value_2 = 10

sum = value_2 + value_1
print(sum)

110

In [42]:
value_1 = 100
value_2 = 10

mul = value_2 * value_1
print(mul)

1000

In [45]:
value_1 = 100
value_2 = 100

div = value_2 / value_1 # python by default floating point division
print(div)

1.0

In [47]:
value_1 = 100
value_2 = 100

div = value_2 // value_1 # double slash operator will do integer division
print(div)

1

In [54]:
# in string + is not addition but it is concatenation

a = "23"
b = "45"

print(a + b)

2345

In [55]:
a = "abc"
b = "23"
a+b

'abc23'

In [56]:
a = 23
b = "abc"

print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
a = "abc"
b = 3

print(a + b)

TypeError: can only concatenate str (not "int") to str

In [4]:
name = 'youtube'
name

'youtube'

In [3]:
name + ' rocks'

'youtube rocks'

In [5]:
name[1]

'o'

In [6]:
name[0]

'y'

In [7]:
name[-1]

'e'

In [8]:
name[0:2]

'yo'

In [9]:
name[1:4]

'out'

In [10]:
name[1:]

'outube'

In [11]:
name[:4]

'yout'

In [12]:
name[3:10]

'tube'

In [13]:
name[0] = 'n'

TypeError: 'str' object does not support item assignment

In [16]:
'my ' + name[3:]

'my tube'

In [17]:
myname = "arsalan"
len(myname)

7

In [18]:
s_name , s_age, s_course = "arsalan", 22, "AI"

In [19]:
print(s_name)

arsalan

In [20]:
print(s_age)

22

In [21]:
print(s_course)

AI

In [22]:
a = b = c = "blue"

In [23]:
print(a)

blue

In [24]:
print(b)

blue

In [25]:
print(c)

blue

In [27]:
123 = "abc"

SyntaxError: can't assign to literal (<ipython-input-27-f5b3f2b7fc7f>, line 1)

In [28]:
n@me = "arsalan"

SyntaxError: can't assign to operator (<ipython-input-28-01668c0e42a2>, line 1)

In [29]:
u$sd = 12

SyntaxError: invalid syntax (<ipython-input-29-db87d4043ef7>, line 1)

In [30]:
u1sd = 100
u1sd

100

In [31]:
user_one = "arsalan"
user_one

'arsalan'

In [32]:
user_one_age = 23
user_one_age

23

In [33]:
user_response_time = "2s"
user_response_time

'2s'

In [35]:
whats_left_over = 10 % 3
whats_left_over

1

In [38]:
whats_left_over = 10 // 3
whats_left_over

3

In [39]:
whats_left_over = 9 % 3
whats_left_over

0

In [40]:
whats_left_over

0

In [43]:
number = 2
number

2

In [44]:
number = number + 1
number

3

In [48]:
number = number + 1
number

7

In [49]:
number += 1
number

8

In [50]:
number += 1
number

9

In [51]:
number += 1
number

10

In [53]:
number -= 1
number

8

In [54]:
number -= 1
number

7

In [55]:
number -= 1
number

6

In [56]:
number *= 2
number

12

In [57]:
number /= 2

In [58]:
number

6.0

In [59]:
number

6.0

In [60]:
value_1 = 12
value_to_increment = 3
value_1 += value_to_increment
value_1

15

In [61]:
total_cost = 1 + 3 * 4
total_cost

13

In [62]:
total_cost = 1 + (3 * 4)

In [63]:
total_cost

13

In [64]:
total_cost = (1 + 3) * 4
total_cost

16

In [65]:
result_of_computation = (2 * 4) * 4 + 2
result_of_computation

34

In [66]:
result_of_computation = ((2 * 4) * 4) + 2
result_of_computation

34

In [67]:
result_of_computation = (2 * 4) * (4 + 2)
result_of_computation

48

In [68]:
print("Hello, World")

Hello, World

In [69]:
greeting = "Hello, World"
print(greeting)

Hello, World

In [71]:
greeting = "Hello, "
address = "World"
whole_greeting = greeting + address
whole_greeting

'Hello, World'

In [1]:
greeting = "Hello"
seperators = ", "
address = "World"
punc = "!"
whole_greeting = greeting + seperators + address + punc
print(whole_greeting)

Hello, World!

In [3]:
whole_greeting = "Hello, " + "World" 
whole_greeting

'Hello, World'

In [4]:
whole_greeting = "Hello" + seperators + "World"
whole_greeting

'Hello, World'

In [6]:
print("Hello, "+ "World!")

Hello, World!

In [7]:
print(greeting + seperators + address + punc)

Hello, World!

In [8]:
print("Hello" + seperators + "World" + punc)

Hello, World!

In [9]:
print("The sum of 2 plus 2 is "+4)

TypeError: can only concatenate str (not "int") to str

In [10]:
print("The sum of 2 plus 2 is "+ "4")

The sum of 2 plus 2 is 4

# If Statement

In [12]:
fruits = "apple"
if fruits == "apple":
    print("Yep its apple")

Yep its apple

In [15]:
if 2 + 2 == 4:
    print("Everything is 'OK'")

Everything is 'OK'

In [18]:
a = 100
b = 200

if a < b:
    print("a is less then b")
    print("Hello a")
    print("Hello b")
print("Hello python")

a is less then b
Hello a
Hello b
Hello python

In [19]:
a = 300
b = 200

if a < b:
    print("a is less then b")
    print("Hello a")
    print("Hello b")
print("Hello python")

Hello python

In [21]:
first_name = "arsalan"
last_name = "manzoor"
full_name = "arsalan manzoor"

In [22]:
if full_name == "arsalan" + " " + "manzoor":
    print("Yep it's correct")

Yep it's correct

In [23]:
if full_name == first_name + " " + "manzoor":
    print("Wow")

Wow

In [24]:
if full_name == first_name + " " + last_name:
    print("Yehhh!!!!")

Yehhh!!!!

In [29]:
total_cost = 100
material_cost = 50
labour_cost = 50

In [26]:
if total_cost == 50 + 50:
    print("Total cost is 100")

Total cost is 100

In [28]:
if total_cost == material_cost + 50:
    print("OK!!!")

OK!!!

In [30]:
if total_cost == material_cost + labour_cost:
    print("Hurry!!!!!")

Hurry!!!!!

In [31]:
a = 10
b = 20

x = 50
y = 20

if a + b == x - y:
    print("this is correct")

this is correct

In [33]:
student_admit_card_no = 4245

if student_admit_card_no != 4242:
    print("please bring your admit card")

please bring your admit card

In [34]:
if "Rose" != "rose":
    print("its correct")

its correct

In [35]:
a = 10
b = 20

In [36]:
if a > b:
    print("a is greater then b")

In [37]:
if a < b:
    print("a is less then b")

a is less then b

In [38]:
if a >= b:
    print("a is greater then or equal to b")

In [39]:
if a <= b:
    print("a is less then or equal to b")

a is less then or equal to b

In [40]:
if 1 > 0:
    print("1 is greater then 0")

1 is greater then 0

In [41]:
if 0 < 1:
    print("0 is less then 1")

0 is less then 1

In [42]:
if 1>= 0:
    print("1 is greater then or equal to zero")

1 is greater then or equal to zero

In [43]:
if 0 <= 1:
    print("0 is less then or equal to 1")

0 is less then or equal to 1

In [44]:
if 1 <= 1:
    print("1 is less then or equals to 1")

1 is less then or equals to 1

In [52]:
fruit = "apple"

In [53]:
if fruit == "apple":
    print("Yep! it's apple")
if fruit != "apple":
    print("Nope! not apple")

Yep! it's apple

In [54]:
if fruit == "apple":
    print("Yep! its apple")
else:
    print("Nope! its not apple")

Yep! its apple

In [55]:
vehicle = "bike"

In [57]:
if vehicle == "car":
    print("its a car")
elif vehicle == "bike":
    print("its a bike")
else:
    print("nothing happens")

its a bike

In [70]:
buy_score = 0
donut_condition = "fresh"
donut_filling = "chocolate"
donut_price = "reasonable"

In [71]:
if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7
buy_score

22

# String Slicing

In [75]:
my_word = "arsalan is a good boy"

In [76]:
print(my_word)

arsalan is a good boy

In [77]:
print(my_word[3])

a

In [78]:
print(my_word[5])

a

In [79]:
print(my_word[0:5])

arsal

In [80]:
print(my_word[0:7])

arsalan

In [81]:
print(len(my_word))

21

In [83]:
print(my_word[0:21])

arsalan is a good boy

In [84]:
print(my_word[78])

IndexError: string index out of range

In [85]:
print(my_word[0:78])

arsalan is a good boy

In [87]:
print(my_word[0:7:2])

asln

In [88]:
print(my_word[0::2])

aslni  odby

In [89]:
print(my_word[0:])

arsalan is a good boy

In [90]:
print(my_word[:5])

arsal

In [91]:
print(my_word[::])

arsalan is a good boy

In [92]:
print(my_word[0:21:1])

arsalan is a good boy

In [93]:
print(my_word[::2])

aslni  odby

In [96]:
print(my_word[::3])

aans ob

In [97]:
print(my_word[::9])

asb

In [98]:
print(my_word[::5559])

a

In [99]:
print(my_word[-4:])

 boy

In [100]:
print(my_word[-4:-2])

 b

In [101]:
print(my_word[::-1])

yob doog a si nalasra

In [102]:
print(my_word[::-2])

ybdo  inlsa

In [103]:
print(type(my_word))

<class 'str'>

In [104]:
print(my_word.isalnum())

False

In [105]:
print(my_word.endswith("boy"))

True

In [106]:
print(my_word.endswith("dboy"))

False

In [107]:
print(my_word.count("o"))

3

In [108]:
print(my_word.capitalize())

Arsalan is a good boy

In [109]:
print(my_word.find("is"))

8

In [110]:
print(my_word.lower())

arsalan is a good boy

In [111]:
print(my_word.upper())

ARSALAN IS A GOOD BOY

In [112]:
print(my_word.replace("is", "are"))

arsalan are a good boy

# Testing set of condition

In [3]:
admit_card = "yes"
pencil_box = "no"

if admit_card == "yes" and pencil_box == "yes":
    print("Come to take your exam")

In [4]:
admit_card = "yes"
pencil_box = "no"
hard_bord = "yes"

if admit_card == "yes" and pencil_box == "yes" and hard_board == "yes":
    print("Come to take your exam")

In [5]:
admit_card = "yes"
pencil_box = "no"
hard_bord = "yes"

if admit_card == "yes" or pencil_box == "yes" or hard_board == "yes":
    print("Come to take your exam")

Come to take your exam

In [6]:
age = 20
res = "pakistani"

if age > 18 or age < 21 and res == "pakistani":
    print("Welcome")

Welcome

In [7]:
age = 20
res = "pakistani"

if (age > 18 or age < 21) and res == "pakistani":
    print("Wow")

Wow

In [16]:
age = 22
res = "pakistani"

if age > 18 or (age < 21 and res == "pakistani"):
    print("YEp")

YEp

In [17]:
age = 21
res = "karachi"
nationality = "pakistani"

if (age > 18 or res == "karachi") and nationality == "pakistani":
    print("welcome sir!!")

welcome sir!!

In [21]:
x = 2
y = 2

a = 10
b = 10

c = 20
d = 20

g = 1
h = 50

e = 2
f = 100

if (x == y or a == b) and c == d:
    g = h
else:
    e = f

In [22]:
g

50

In [23]:
h

50

In [24]:
e

2

In [25]:
x = 2
y = 2

a = 10
b = 10

c = 20
d = 20

g = 1
h = 40

e = 2
f = 100


if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else: 
        e = f
else:
    e = f

In [26]:
g

40

In [27]:
e

2

# Comment

In [28]:
# This is comment
# This is another comment
# Python ignores these comments
# The code that python executes is next on line

print("Hello world")

Hello world

In [34]:
first_name = "arsalan"
last_name = "manzoor"
nationality = "pakistani"

if first_name == "arsalan":
    if last_name == "manzoor":
        #if nationality == "pakistani":
            print("Welcome back to pakistan")

Welcome back to pakistan

In [36]:
print("Hello world") # greet the world

Hello world

In [1]:
'''
This is a comment
This is another comment
Python ignores the comment
The code that python ignores the line
'''

'\nThis is a comment\nThis is another comment\nPython ignores the comment\nThe code that python ignores the line\n'

# User Input and Type Casting

In [4]:
num_1 = input("Enter your first number:")
num_2 = input("Enter your second number:")
sum = num_1 + num_2
print("The total sum of "+num_1+ " and "+num_2 + " is ", sum)

Enter your first number:2
Enter your second number:2
The total sum of 2 and 2 is  22

In [5]:
# With type Casting

num_1 = input("Enter your first number:")
num_2 = input("Enter your second number:")
sum = int(num_1) + int(num_2)
print("The total sum of "+num_1+ " and "+num_2 + " is ", sum)

Enter your first number:2
Enter your second number:2
The total sum of 2 and 2 is  4

In [6]:
num_1 = input("Enter your first number:")
num_2 = input("Enter your second number:")
sum = float(num_1) + float(num_2)
print("The total sum of "+num_1+ " and "+num_2 + " is ", sum)

Enter your first number:2
Enter your second number:2
The total sum of 2 and 2 is  4.0

# [ Lists in Python ]

In [7]:
city_0 = "karachi"
city_1 = "lahore"
city_2 = "islamabad"
city_3 = "peshawar"
city_4 = "quetta"
city_5 = "multan"

In [8]:
print("Welcome to "+city_3)

Welcome to peshawar

In [9]:
print("Welcome to "+city_5)

Welcome to multan

In [2]:
cities = ["karachi","multan","peshsawar","quetta","islamabad","lahore"]

In [4]:
print("Welcome to "+cities[3])

Welcome to quetta

In [5]:
mixed_things = [1, "Hamza", "Now is"]

In [6]:
print(mixed_things[0])

1

In [7]:
_a = 1

In [8]:
print(_a)

1

In [11]:
alist = ["arsalan", "ali", "faisal"]
# index    0          1        2

In [13]:
alist

['arsalan', 'ali', 'faisal']

In [14]:
alist[1]

'ali'

In [15]:
cities[3]

'quetta'

In [24]:
fruits = []

In [25]:
len(fruits)

0

In [26]:
len(cities)

NameError: name 'cities' is not defined

In [27]:
# adding a memeber to the list {append and insert}

In [28]:
fruits.append("apple")

In [29]:
fruits

['apple']

In [30]:
fruits.append("orange")

In [31]:
fruits

['apple', 'orange']

In [32]:
fruits.append("banana")

In [33]:
fruits

['apple', 'orange', 'banana']

In [34]:
fruits = fruits + ["mango", "grapes"]
fruits

['apple', 'orange', 'banana', 'mango', 'grapes']

In [35]:
fruits.insert(3,"cherries")
fruits

['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [36]:
fruits.insert(0,"lemon")

In [37]:
fruits

['lemon', 'apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [38]:
fruits[0] = "khoobani"
fruits

['khoobani', 'apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [39]:
fruits.extend(["kharbooza", "stawberry", "pineapple"])
fruits

['khoobani',
 'apple',
 'orange',
 'banana',
 'cherries',
 'mango',
 'grapes',
 'kharbooza',
 'stawberry',
 'pineapple']

In [40]:
fruits.extend(["nashpati","amlok"])
fruits

['khoobani',
 'apple',
 'orange',
 'banana',
 'cherries',
 'mango',
 'grapes',
 'kharbooza',
 'stawberry',
 'pineapple',
 'nashpati',
 'amlok']

In [41]:
fruits.count("orange")

1

In [42]:
fruits.index("mango")

5

In [43]:
fruits.clear()

In [44]:
fruits

[]

In [51]:
fruits = ["kharbooza", "stawberry", "pineapple"]

In [52]:
fruits

['kharbooza', 'stawberry', 'pineapple']

In [53]:
fruits2 = fruits.copy() # by value
fruits2

['kharbooza', 'stawberry', 'pineapple']

In [54]:
fruits2

['kharbooza', 'stawberry', 'pineapple']

In [56]:
fruits3 = fruits # by reference
fruits3

['kharbooza', 'stawberry', 'pineapple']

In [57]:
fruits.append("mango")
fruits

['kharbooza', 'stawberry', 'pineapple', 'mango']

In [58]:
fruits3

['kharbooza', 'stawberry', 'pineapple', 'mango']

In [59]:
fruits2

['kharbooza', 'stawberry', 'pineapple']

NameError: name 'fruits' is not defined

In [2]:
cities = ["karachi","multan","peshsawar","quetta","islamabad","lahore"]

In [3]:
cities

['karachi', 'multan', 'peshsawar', 'quetta', 'islamabad', 'lahore']

In [4]:
smaller_list_of_cities = cities[2:4]
smaller_list_of_cities

['peshsawar', 'quetta']

In [5]:
another_cities = cities[:3]
another_cities

['karachi', 'multan', 'peshsawar']

In [6]:
another_cities = cities[1:]
another_cities

['multan', 'peshsawar', 'quetta', 'islamabad', 'lahore']

In [7]:
another_cities = cities[0:4:2]
another_cities

['karachi', 'peshsawar']

In [17]:
days = ["monday", "tuesday", "wednesday","thursday","friday","saturday","sunday"]

In [18]:
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [19]:
del days[1] # deleting by index number
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [20]:
del days[5]
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday']

In [21]:
days.remove("friday") # deleting by value
days

['monday', 'wednesday', 'thursday', 'saturday']

In [22]:
days.remove("saturday")

In [23]:
days

['monday', 'wednesday', 'thursday']

In [24]:
fruits = ['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [25]:
fruits

['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [26]:
another_fruits = fruits.pop(1)
another_fruits

'orange'

In [27]:
fruits

['apple', 'banana', 'cherries', 'mango', 'grapes']

In [30]:
another_fruits1 = []
another_fruits1.append(another_fruits)
another_fruits1

['orange']

In [33]:
another_fruits

'orange'

In [34]:
fruits = ['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [35]:
fruits1 = []
fruits1.append(fruits.pop(1))
fruits1

['orange']

In [36]:
fruits

['apple', 'banana', 'cherries', 'mango', 'grapes']

In [37]:
fruits1.append(fruits.pop(4))

In [38]:
fruits1

['orange', 'grapes']

In [39]:
fruits

['apple', 'banana', 'cherries', 'mango']

In [40]:
fruits2 = fruits.pop(0)
fruits2

'apple'

In [41]:
fruits2 = fruits.pop(1)

In [42]:
fruits2

'cherries'

In [43]:
fruits

['banana', 'mango']

In [44]:
fruits1

['orange', 'grapes']

In [45]:
fruits

['banana', 'mango']

In [46]:
fruits = ['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']
fruits

['apple', 'orange', 'banana', 'cherries', 'mango', 'grapes']

In [47]:
fruits1

['orange', 'grapes']

In [48]:
fruits1.insert(0,fruits.pop(2))
fruits1

['banana', 'orange', 'grapes']

In [49]:
fruits
fruits1 = fruits.pop()
fruits1

'grapes'

In [50]:
fruits

['apple', 'orange', 'cherries', 'mango']

In [51]:
fruits1

'grapes'

In [2]:
fruits = ["mango", "apple", "grapes"]

In [3]:
del fruits[100]

IndexError: list assignment index out of range

In [26]:
cities = ["karachi", "lahore", "multan", "peshawar", "hyderabad"]
cities

['karachi', 'lahore', 'multan', 'peshawar', 'hyderabad']

In [27]:
popped_cities = cities.pop()

In [28]:
popped_cities

'hyderabad'

In [29]:
cities

['karachi', 'lahore', 'multan', 'peshawar']

In [30]:
print(f"This city is popped from list {popped_cities}")
print(f"The remaining cities are {cities}")

This city is popped from list hyderabad
The remaining cities are ['karachi', 'lahore', 'multan', 'peshawar']

In [31]:
popped_cities = cities.pop(2)
popped_cities

'multan'

In [33]:
cities.sort()
cities

['karachi', 'lahore', 'peshawar']

In [34]:
cities.sort(reverse=True)
cities

['peshawar', 'lahore', 'karachi']

In [35]:
cities.reverse()
cities

['karachi', 'lahore', 'peshawar']

In [36]:
cities

['karachi', 'lahore', 'peshawar']

In [39]:
"karachi" in cities

True

In [40]:
cities.index("karachi")

0

In [41]:
cities.index("KARACHI")

ValueError: 'KARACHI' is not in list

# SLICING

In [42]:

#index         -6     -5    -4      -3       -2         -1
               
students = ["noman", "ali", "gul", "ahmed", "bilal", "owais"]
         
#ind     #    0        1      2       3      4         5

In [44]:
students[0]

'noman'

In [46]:
students[-6]

'noman'

In [47]:
students[5]

'owais'

In [49]:
students[-1]

'owais'

In [50]:
#students [start : end + 1]

students[1:3]

['ali', 'gul']

In [51]:
students[-5:-3]

['ali', 'gul']

In [52]:
students[:]

['noman', 'ali', 'gul', 'ahmed', 'bilal', 'owais']

In [53]:
students[3:]

['ahmed', 'bilal', 'owais']

In [58]:
students[:4]

['noman', 'ali', 'gul', 'ahmed']

In [60]:
students[2:-1]

['gul', 'ahmed', 'bilal']

In [61]:
students[2:-5]

[]

In [62]:
students[-1: 5]

[]

In [63]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [66]:
numbers[0:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [67]:
numbers[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [68]:
numbers[::3]

[1, 4, 7, 10, 13]

In [69]:
grocery = ["lifeboy", "pentence", "pepsi", "bhindi", "lollypop"]

In [70]:
print(grocery)

['lifeboy', 'pentence', 'pepsi', 'bhindi', 'lollypop']

In [71]:
print(grocery[3])

bhindi

In [74]:
numbers = [2, 11, 9 ,5, 3]

In [75]:
print(numbers)

[2, 11, 9, 5, 3]

In [76]:
numbers.sort()

In [77]:
numbers

[2, 3, 5, 9, 11]

In [80]:
numbers.reverse()
numbers

[11, 9, 5, 3, 2]

In [82]:
print(numbers[:5])

[11, 9, 5, 3, 2]

In [83]:
print(numbers[:])

[11, 9, 5, 3, 2]

In [84]:
print(numbers[1:4])

[9, 5, 3]

In [85]:
print(numbers[::1])

[11, 9, 5, 3, 2]

In [86]:
print(numbers[::2])

[11, 5, 2]

In [93]:
numbers.sort()
numbers

[2, 3, 5, 9, 11]

In [96]:
print(numbers[::-2])

[11, 5, 2]

In [97]:
print(max(numbers))

11

In [98]:
print(min(numbers))

2

In [99]:
numbers.append(7)

In [100]:
numbers

[2, 3, 5, 9, 11, 7]

In [101]:
numbers.append(10)

In [102]:
numbers

[2, 3, 5, 9, 11, 7, 10]

In [109]:
numbers.insert(1,61)
numbers

[2, 61, 61, 3, 5, 9, 11, 7, 10]

In [113]:
animals = ["cat", "parrot", "dog", "bull", "cow"]
animals

['cat', 'parrot', 'dog', 'bull', 'cow']

In [115]:

animals.append("camel")
animals

['cat', 'parrot', 'dog', 'bull', 'cow', 'camel', 'camel']

In [116]:
wild_animal = ["tiger", "fox"]

In [117]:
animals.append(wild_animal)
animals

['cat', 'parrot', 'dog', 'bull', 'cow', 'camel', 'camel', ['tiger', 'fox']]

In [122]:
languages = ["French", "English", "German"]

In [123]:
language1 = ["Spanish", "Portuguese"]

In [127]:
languages.extend(language1)
languages

['French', 'English', 'German', 'Spanish', 'Portuguese']

In [126]:
languages

['French', 'English', 'German']

In [2]:
a = [1, 2]
b = [3, 4]
a+=b

print('a = ',a)

a =  [1, 2, 3, 4]

In [3]:
vowel = ['a', 'e', 'i', 'u']

In [4]:
vowel.insert(3,'o')
vowel

['a', 'e', 'i', 'o', 'u']

In [5]:
mixed_list = [{1,2} , [5,6,7]]

In [6]:
mixed_list[1]

[5, 6, 7]

In [7]:
mixed_tuple =(3,4)

In [8]:
mixed_list.insert(1,mixed_tuple)
mixed_list

[{1, 2}, (3, 4), [5, 6, 7]]

In [10]:
# animal list
animal = ["cat", "parrot","dog", "cow"]

# "cow" is removed on the list
animal.remove("cow")

# updated animal list

print("Updated animal list: ",animal)

Updated animal list:  ['cat', 'parrot', 'dog']

In [12]:
# If the list contain duplicate elements 
# the remove method remove() only the first instance

animal = ["cat", "dog","dog","cow", "parrot", "dog"]
animal.remove("dog")

print("Updated animal list: ",animal)

Updated animal list:  ['cat', 'dog', 'cow', 'parrot', 'dog']

In [13]:
# deleting element that does not exist on list

animal = ["cat", "dog","dog","cow", "parrot", "dog"]
animal.remove("fish")

print("Updated animal list: ",animal)

ValueError: list.remove(x): x not in list

In [14]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

In [15]:
index = vowels.index('e')

print("The index of e:",index)

The index of e: 1

In [17]:
index = vowels.index('i')

print('The index of i:',index)

The index of i: 2

In [19]:
vowels = ['a', 'e', 'i', 'o', 'u']

In [20]:
index = vowels.index('p')

print("The index of p:",index)

ValueError: 'p' is not in list

In [21]:
# random list
random = ['a',('a', 'b'),[3, 4]]

# element ('a', 'b') is searched

index = random.index(('a','b'))

# index is printed

print("The index of ('a', 'b'):",index)

The index of ('a', 'b'): 1

In [22]:
index = random.index([3,4])
print("The index of [3,4]:",index)

The index of [3,4]: 2

In [23]:
# vowels list

vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element i

count = vowels.count('i')

print("The count of i is:",count)

The count of i is: 2

In [24]:
count = vowels.count('p')

print("The count of p is:",count)

The count of p is: 0

In [25]:
# random list

random = ['a',('a','b'),('a','b'),[3,4]]

count = random.count(('a','b'))

print("The count of (a,b) is:",count)

The count of (a,b) is: 2

In [26]:
count = random.count([3,4])
print("The count of [3,4] is",count)

The count of [3,4] is 1

In [28]:
# programming language list

languages = ['Python','Java','C#','Ruby','Rust']

return_vaule = languages.pop(3)

print("Return value:",return_vaule)

print("Updated list:",languages)

Return value: Ruby
Updated list: ['Python', 'Java', 'C#', 'Rust']

In [29]:
# programming language list

languages = ['Python','Java','C#','Ruby','Rust']

#when index is not passed 

print("When index is not passed")
print('Return value: ',languages.pop())

print("Updated list: ",languages)

When index is not passed
Return value:  Rust
Updated list:  ['Python', 'Java', 'C#', 'Ruby']

In [31]:
# When -1 is passed
# pop last element

print("\n When -1 is passed:")
print("Return value: ",languages.pop(-1))
print("Updated list: ",languages)

 When -1 is passed:
Return value:  Ruby
Updated list:  ['Python', 'Java', 'C#']

In [32]:
# When -3 is passed
# popped last element

print("\nWhen -3 is passed:")
print("Return value: ",languages.pop(-3))
print("Updated list: ",languages)

When -3 is passed:
Return value:  Python
Updated list:  ['Java', 'C#']

In [33]:
# Operating Systems

os = ["Windows","mac","linux"]

print("Original List: ",os)
os.reverse()

print("Updated list: ",os)

Original List:  ['Windows', 'mac', 'linux']
Updated list:  ['linux', 'mac', 'Windows']

In [34]:
# Operating Systems

os = ["Windows","mac","linux"]

print("Original List: ",os)

#reversing a list 
#syntax:reversed list = os [start:stop:step]

reversed_list = os[::-1]

print("Updated list: ",reversed_list)

Original List:  ['Windows', 'mac', 'linux']
Updated list:  ['linux', 'mac', 'Windows']

In [35]:
# Operating Systems

os = ["Windows","mac","linux"]

for o in reversed(os):
    print(o)

linux
mac
Windows

In [36]:
# vowels list

vowels = ['e', 'a', 'u', 'o', 'i']

#sort the vowels

vowels.sort()

print("Sorted list: ",vowels)

Sorted list:  ['a', 'e', 'i', 'o', 'u']

In [37]:
# vowels list

vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels list in desceneding order

vowels.sort(reverse=True)

print("Sorted list (in Descending): ",vowels)

Sorted list (in Descending):  ['u', 'o', 'i', 'e', 'a']

In [39]:
old_list = [1,2,3]
new_list = old_list

#add element to list

new_list.append("a")

print("Old list: ",old_list)
print("New list: ",new_list)

Old list:  [1, 2, 3, 'a']
New list:  [1, 2, 3, 'a']

In [40]:
list = [1,2,3]

#copying a list

new_list = list.copy()

#Adding element to the new list 

new_list.append('dog')


print('Old list : ',list)
print('New list :', new_list)

Old list :  [1, 2, 3]
New list : [1, 2, 3, 'dog']

In [41]:
# mixed list
list = ['cat',0,0.67]

#copying a list using slice
new_list = list[:]

#append element to the new list

new_list.append("dog")

print("old list : ",list)
print("new list : ",new_list)

old list :  ['cat', 0, 0.67]
new list :  ['cat', 0, 0.67, 'dog']

In [42]:
#Defining list

list = [{1,2},('a'),[1,1, 2,2]]

#clearing the list 
list.clear()

print('List: ',list)

List:  []

In [43]:
l = [1, 3, 4, 0]
print(any(l))

True

In [44]:
l = [0,False]
print(any(l))

False

In [45]:
l = [0,False,5]
print(any(l))

True

In [46]:
l = []
print(any(l))

False

In [47]:
s = "This is good strings"
print(any(s))

True

In [48]:
s = '000'
print(any(s))

True

In [49]:
s = ''
print(any(s))

False

In [50]:
normal_Text = 'Python is interesting'
print(ascii(normal_Text))

'Python is interesting'

In [51]:
otherText = 'Pythn is interesting'
print(ascii(otherText))

'Pyth\xf6n is interesting'

In [52]:
l1 = ["Qasim",27,True,7.0]
l1

['Qasim', 27, True, 7.0]

In [53]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [54]:
l1.__class__

list

In [55]:
l1

['Qasim', 27, True, 7.0]

In [56]:
l1[2]

True

In [57]:
l1[-3]

27

In [58]:
l1[-2]

True

In [59]:
len(l1)

4

In [60]:
l1

['Qasim', 27, True, 7.0]

In [61]:
l1[1] = [100]
l1

['Qasim', [100], True, 7.0]

In [62]:
l1[1] = 100
l1

['Qasim', 100, True, 7.0]

In [63]:
l1[-1] = 1000
l1

['Qasim', 100, True, 1000]

In [64]:
l1[1]+= [200]
l1

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [65]:
l1[4]

IndexError: list index out of range

In [66]:
i = 0

while i < len(l1):
    print(l1[i])
    i+=1

Qasim
100
True
1000

In [68]:
i = len(l1)-1
while i >= 0:
    print(l1[i])
    i-=1

1000
True
100
Qasim

In [69]:
for a in l1:
    print(a)

Qasim
100
True
1000

In [70]:
l2 = [1,7,9,8,20,13,15]

In [71]:
sorted(l2)

[1, 7, 8, 9, 13, 15, 20]

In [73]:
sorted(l2, reverse=True)

[20, 15, 13, 9, 8, 7, 1]

In [74]:
l2

[1, 7, 9, 8, 20, 13, 15]

In [76]:
l2.sort()
l2

[1, 7, 8, 9, 13, 15, 20]

In [77]:
l2.sort(reverse=True)
l2

[20, 15, 13, 9, 8, 7, 1]

# Tuples

In [1]:
tp1 = (1,4,5,True)

In [3]:
tp1[1]

4

In [4]:
tp1[2] = 6

TypeError: 'tuple' object does not support item assignment

In [5]:
del tp1[3]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
# List are mutable (changeable)
# Tuples are immutable (not changeable)

In [7]:
len(tp1)

4

In [8]:
a = 12,45

In [9]:
a

(12, 45)

In [10]:
a = 12,44,66,77,44,33,44

In [11]:
a

(12, 44, 66, 77, 44, 33, 44)

In [12]:
a.count(44)

3

In [16]:
a.index(44)

1

# For loop

In [18]:
cleanes_cities = ["karachi","lahore","islamabad","peshawar","rawalpindi"]
city_to_check = "islamabad"

In [20]:
for a_clean_city in cleanes_cities:
    if city_to_check == a_clean_city:
        print("Its one of the cleanest city")
        break

Its one of the cleanest city

In [1]:
fruits_list = ["apple","orange","banana","mango"]

In [6]:
for a in range(5): # loop start with 0 ends in 4 and 5 will not be included(0,1,2,3,4)
    print(a,": arsalan")

0 : arsalan
1 : arsalan
2 : arsalan
3 : arsalan
4 : arsalan

In [3]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [4]:
for number in range(1,11,2):
    print(number)

1
3
5
7
9

In [8]:
for numbers in range(10,0,-1):
    print(numbers)

10
9
8
7
6
5
4
3
2
1

In [9]:
cities = ["karachi", "hyderabad","larkana"]

In [10]:
cities

['karachi', 'hyderabad', 'larkana']

In [11]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is karachi
The city under consideration is hyderabad
The city under consideration is larkana

In [12]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [13]:
country = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [14]:
country = "Pakistan", "London"

for char in country:
    print(char)

Pakistan
London

In [15]:
for number in range(10):
    if number % 3 ==1:
        break
    print(number)

0

In [16]:
for number in [5,7,89,90]:
    if number % 2 == 0:
        break
    print(number)

5
7
89

In [18]:
for num in range(10):
    if num == 7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [19]:
for num in range(10):
    if num == 7 or num == 3:
        continue
    print(num)

0
1
2
4
5
6
8
9

In [20]:
numbers = [6,5,3,8,4,2,5,4,11]

sum = 0

for val in numbers:
    
    sum = sum + val

print("The sum is",sum)

The sum is 48

In [25]:
genre = ["pop","rock","jazz"]


# itereate over the list using index

for a in range(len(genre)):
    print("I like",genre[a])

I like pop
I like rock
I like jazz

In [26]:
digits = [0, 5,10]

for i in digits:
    print(i)
else:
    print("no items left")

0
5
10
no items left