In [1]:
print("arsalan manzoor")

arsalan manzoor

In [2]:
a = "Pakistan Zindabad"
print(a)
print(type(a))

Pakistan Zindabad
<class 'str'>

In [3]:
a.capitalize()

'Pakistan zindabad'

In [4]:
a.upper()

'PAKISTAN ZINDABAD'

In [5]:
txt = "Hello, Welcome to Python"

In [7]:
x = txt.capitalize()
print(x)

Hello, welcome to python

In [9]:
x = txt.casefold()
print(x)

hello, welcome to python

In [12]:
x = txt.center(80)
print(x)

                            Hello, Welcome to Python

In [13]:
x = txt.count("o")
print(x)

4

In [14]:
x = txt.encode()
print(x)

b'Hello, Welcome to Python'

In [17]:
x = txt.endswith("n")
print(x)

True

In [20]:
x = txt.find("Welcome")
print(x)

7

In [23]:
txt1 = "My name is {fname}, I'm age is {age}".format(fname= "arsalan",age=23)
print(txt)

My name is arsalan, I'm age is 23

In [26]:
txt2 = "My name is {0}, I'm age is {1}".format("arsalan",23)
print(txt2)

My name is arsalan, I'm age is 23

In [28]:
txt3 = "My name is {}, I'm age is {}".format("arsalan",22)
print(txt3)

My name is arsalan, I'm age is 22

In [32]:
txt = "Welcome to, Python world"
print(txt)

Welcome to, Python world

In [33]:
x = txt.index("Welcome")
print(x)

0

In [34]:
x = txt.index('o')
print(x)

4

In [36]:
x = txt.islower()
print(x)

False

In [37]:
x = txt.swapcase()
print(x)

wELCOME TO, pYTHON WORLD

In [38]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [44]:
print?

In [47]:
abc = """
PIAIC
City: Karachi
Country: Pakistan
"""
print(abc)

PIAIC
City: Karachi
Country: Pakistan

In [48]:
abc = """
******** Artificial Intelligence ********
Learning Python
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no : 9855
"""
print(abc)

******** Artificial Intelligence ********
Learning Python
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no : 9855

In [50]:
name = input("Enter your name:")
f_name = input("Enter your father name:")
roll_no = input("Enter your roll no:")
abc = """
******* Aritificial Intelligence ************
Name: {}
Father's Name: {}
Roll no: {}
"""

print(abc.format(name,f_name,roll_no))

Enter your name:nasir
Enter your father name:hussain
Enter your roll no:7777

******* Aritificial Intelligence ************
Name: nasir
Father's Name: hussain
Roll no: 7777

In [51]:
a = print("pakistan")
print(a)

pakistan
None

In [53]:
a = "Pakistan "
b = "Zinda bad"
a+b

'Pakistan Zinda bad'

In [1]:
a = 5
b = 5
a+b

10

In [2]:
5 + 2

7

In [3]:
4 - 2

2

In [4]:
3 * 5

15

In [5]:
12 / 3

4.0

In [6]:
15 % 4

3

In [7]:
15 / 4

3.75

In [8]:
15 // 4

3

In [11]:
2 ** 3

8

In [13]:
2 + 6 * 8 / 5 + (2 * 3)

17.6

In [14]:
#PEDMAS (PARANTHESIS,EXPONENT,DIVISION,MULTIPLICATION,ADDITION,SUBTRACTION)
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 6 * 1.6 + 6
2 + 9.6 + 6
17.6

17.6

In [16]:
a = "PAKISTAN"
a

'PAKISTAN'

In [17]:
a = "china"
a

'china'

In [18]:
a * 2

'chinachina'

In [19]:
a = "pakistan"
a

'pakistan'

In [20]:
a * 2

'pakistanpakistan'

In [21]:
a * 4

'pakistanpakistanpakistanpakistan'

In [22]:
a = "abc"
a

'abc'

In [23]:
a += "xyz"
a

'abcxyz'

In [24]:
a

'abcxyz'

In [25]:
a % =2

SyntaxError: invalid syntax (<ipython-input-25-56739a802e10>, line 1)

In [26]:
a - 3

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [27]:
a / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [28]:
a = "pakistan"

In [29]:
a / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [42]:
a = 15
a %= 4
a

3

In [43]:

a **= 3
a

27

In [44]:
a = "abc"
a **= 3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [45]:
5 == 5

True

In [46]:
5 == 3

False

In [47]:
5 > 3

True

In [48]:
5 >= 5

True

In [49]:
5 != 5

False

In [50]:
6 < 6

False

In [51]:
6 <= 6

True

In [52]:
5 == 5 and 6 <= 7 and 10 >= 9

True

In [53]:
5 == 5 and 9 <= 7 and 10 >= 9

False

In [54]:
5 == 5 or 6 <= 7 or 10 >= 9

True

In [55]:
5 == 5 or 6 <= 7 or 10 >= 11

True

In [56]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [57]:
a = "abc"
b = "xyz"
c = '27'

print(a,b,c)

abc xyz 27

In [58]:
a = "abc"
b = "xyz"
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [1]:
a = "abc"
b = "xyz"
c = 27

print(a,b,c)

abc xyz 27

In [2]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [3]:
a = '1'
b = '1'

a + b

'11'

In [5]:
a = input()
b = input()
a+b

12
12

'1212'

In [6]:
int(a) + int(b)

24

In [7]:
float(a) + float(b)

24.0

In [8]:
a + b

'1212'

In [9]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [10]:
name = input("Enter your name:")

if name == "arsalan":
    print("welcome to the class")
else:
    print("sorry")

Enter your name:arsalan
welcome to the class

In [15]:
per = 80

if per >= 0:
    print("fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")

fail

In [16]:
per = 79

if per >= 0 and per < 33:
    print("fail")
elif per >= 33 and per < 40:
    print("E")
elif per >= 40 and per < 50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per < 70:
    print("B")
elif per >= 70 and per < 80:
    print("A")
elif per >= 80 and per <= 100:
    print("A+")
else:
    print("Not valid")

A

In [18]:
names = ["ahmed", "owais","bilal"]
names

['ahmed', 'owais', 'bilal']

In [19]:
names[2]

'bilal'

In [21]:
names[2] = "Kamran"
names

['ahmed', 'owais', 'Kamran']

In [22]:
names = []

while True:
    a = input("names ")
    if a!= 'x':
        names.append(a)
    else:
        break
names

names ahmed
names kashif
names bilal
names owias
names noman
names x

['ahmed', 'kashif', 'bilal', 'owias', 'noman']

In [24]:
print("Enter your first number:")
value_1 = input()
print("Enter your second number:")
value_2 = input()

print("The total sum of "+value_1 +" and "+value_2 + " is",int(value_1)+int(value_2) )

Enter your first number:
12
Enter your second number:
12
The total sum of 12 and 12 is 24

In [25]:
print(1000)

1000

In [26]:
print("abc","def")

abc def

In [27]:
print(123, 456)

123 456

In [28]:
print("a","b")

a b

In [29]:
print(123,12.3)

123 12.3

In [30]:
print(type(12.3))

<class 'float'>

In [31]:
print("hello python")

hello python

In [32]:
print("123pakistan")

123pakistan

In [37]:
print("Pakistan", "Python", "Artificial Intelligence", sep =" ******** ")

Pakistan ******** Python ******** Artificial Intelligence

In [5]:
if (crowd > 500) == True:
  return "Crowded"
elif (crowd < 5) == True:
  return "Empty"
else:
  return "Okay"

SyntaxError: 'return' outside function (<ipython-input-5-68c0831546c8>, line 2)

In [7]:
"the dry lake"[4:7]

'dr'

In [8]:
truth = "beauty"
index = 0
letters = []
while index < len(truth):
    letters.append(truth[index])
    index += 2

letters = '-'.join(letters)
print(letters)

b-a-t