In [14]:
print("hello world")

hello world

In [15]:
name = "arsalan"

In [16]:
print(name)

arsalan

In [17]:
first_name = "arsalan"
last_name = "manzoor"
full_name = first_name + " "+last_name

#print(first_name +" "+ last_name)
print(full_name)

arsalan manzoor

In [18]:
a = 5
b = 10
c = a + b
print(c)

15

In [19]:
a = 5;
b = 10;
c = a + b;
print(c);

15

In [20]:
name = "arsalan"
print(name)

arsalan

In [21]:
x =5
print(X)

NameError: name 'X' is not defined

In [22]:
first_name = "arsalan"
last_name = "manzoor"
full_name = First_name + last_name
print(full_name)

NameError: name 'First_name' is not defined

In [23]:
a = "7"
b = 3
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [24]:
a = "7"
b = "3"
c = a + b
print(c)

73

In [32]:
a = "7"
b = 3
c = a * b
print(c)

777

In [33]:
3/0

ZeroDivisionError: division by zero

In [34]:
9/0

ZeroDivisionError: division by zero

In [35]:
0/0

ZeroDivisionError: division by zero

In [36]:
print("hi"*4)

hihihihi

In [38]:
print(4*"Hi")

HiHiHiHi

In [39]:
print(4.0 * "hi")

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
print("hello" * "hi")

TypeError: can't multiply sequence by non-int of type 'str'

In [1]:
#Swapping two variables

In [2]:
v1 = "first string"
v2 = "second string"

In [3]:
temp = v1
v1 = v2
v2 = temp

In [4]:
v1

'second string'

In [5]:
v2

'first string'

In [6]:
weight = 150

In [7]:
weight + 25

175

In [9]:
original_num = 23
new_num = original_num + 7
new_num

30

In [11]:
original_num = 23
num_to_be_added = 7
new_num = original_num + num_to_be_added
print(new_num)

30

In [13]:
original_num = 90
original_num = original_num + 10
print(original_num)

100

In [14]:
original_num = "23"
new_num = original_num + 7

TypeError: can only concatenate str (not "int") to str

In [15]:
1st_prime_number = 2

SyntaxError: invalid syntax (<ipython-input-15-64b5ce439b44>, line 1)

In [16]:
prime_number_1st = 2

In [20]:
popular_number = 4
print(popular_number)

4

In [19]:
popular_number = 2+2
print(popular_number)

4

In [21]:
print(2+5)

7

In [22]:
loss = 12-24
loss

-12

In [24]:
dozens = 3 * 12
dozens

36

In [25]:
popular_number = 12/4
popular_number

3.0

In [27]:
num = .075
total = num + 200
total

200.075

In [29]:
num = 10
another_num = 1.5
sum_of_numbers = num + another_num
print(sum_of_numbers)

11.5

In [30]:
finally = "abc"

SyntaxError: invalid syntax (<ipython-input-30-0abcfd8baa6a>, line 1)

In [31]:
whats_left_over = 10 % 3
whats_left_over

1

In [32]:
whats_left_over = 9 % 3
whats_left_over

0

In [37]:
age = 20

In [38]:
age = age + 1
age

21

In [39]:
age = age + 5
age

26

In [40]:
age += 1

In [41]:
age

27

In [42]:
age += 2
age

29

In [44]:
age = 12
age

12

In [45]:
age += 50
age

62

In [46]:
age = 12
age -= 2
age

10

In [47]:
age = 12
age *= 3
age

36

In [48]:
age = 12
amount_to_increment = 3
age += amount_to_increment
age

15

In [49]:
total_cost = 1 + 3 * 4
total_cost

13

In [50]:
total_cost = (1 + 3) * 4
total_cost

16

In [52]:
total_cost = 1 + (3 * 4)
total_cost

13

In [53]:
result_of_computation = (2 * 4) * 4 + 2
result_of_computation

34

In [54]:
result_of_computation = (2 * 4) * (4 + 2)
result_of_computation

48

In [55]:
result_of_computation = ((2 * 4) * 4)+2
result_of_computation

34

In [57]:
greeting = "Hello, World!"
print(greeting)

Hello, World!

In [60]:
greeting = "Hello"
addressee = "World"
whole_greeting = greeting + addressee
whole_greeting

'HelloWorld'

In [63]:
greeting = "Hello"
seperator = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + seperator + addressee + punc
print(whole_greeting)

Hello, World!

In [64]:
whole_greeting = "Hello, "+ "World!"
whole_greeting

'Hello, World!'

In [66]:
whole_greeting = "Hello" +seperator+"World"+punc
whole_greeting

'Hello, World!'

In [67]:
print("Hello, "+ "World!")

Hello, World!

In [68]:
print(greeting+ seperator + addressee + punc)

Hello, World!

In [70]:
print("Hello" +seperator+"World"+punc)

Hello, World!

In [71]:
print("The sum of 2 plus 2 is "+4)

TypeError: can only concatenate str (not "int") to str

In [72]:
print("The sum of 2 plus 2 is "+ "4")

The sum of 2 plus 2 is 4

In [3]:
a = 1 +2 +3 +\
2 + 3
print(a)

11