In [1]:
20 + 32

52

In [2]:
5 ** 2

25

In [3]:
(5 + 9) * (15 - 7)

112

In [4]:
print(7+5)

12

In [5]:
print(9/5)

1.8

In [6]:
print(5/9)

0.5555555555555556

In [8]:
print(9//5)

1

In [10]:
print(7.0/3.0)
print(7.0//3.0)

2.3333333333333335
2.0

In [11]:
print(7//3)

2

In [12]:
print(7%3)

1

In [13]:
18/4

4.5

In [14]:
18.0//4

4.0

In [15]:
18%4

2

In [16]:
2 * (3-1)

4

In [17]:
(1+1) ** (5-2)

8

In [19]:
5//3

1

In [20]:
16-2*5//3+1

14

In [25]:
print(type("hello world"))

<class 'str'>

In [26]:
print(type(17))

<class 'int'>

In [28]:
print(type(3.3))

<class 'float'>

In [30]:
print(type('17'))

<class 'str'>

In [31]:
print(type("3.2"))

<class 'str'>

In [32]:
print(type('This is a string.'))

<class 'str'>

In [33]:
print(type("And so is this."))

<class 'str'>

In [34]:
print(type("""and this."""))

<class 'str'>

In [35]:
print(type('''and even this'''))

<class 'str'>

In [39]:
print("Bruce's beard")

Bruce's beard

In [40]:
print('She said "hi"')

She said "hi"

In [41]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

"Oh no", she exclaimed, "Ben's bike is broken!"

In [42]:
print("""This message
will span several
lines.""")

This message
will span several
lines.

In [43]:
print(42,500)

42 500

In [44]:
print(42500)

42500

In [45]:
print(42,17,56,32,11,4.35)

42 17 56 32 11 4.35

In [46]:
print(12,"hello",45)

12 hello 45

In [47]:
print(3.14, int(3.14))

3.14 3

In [48]:
print(3.9999, int(3.99999))

3.9999 3

In [49]:
print(3.0,int(3.0))

3.0 3

In [50]:
print(-3.999,int(-3.9999))

-3.999 -3

In [51]:
print("2345",int("2345"))

2345 2345

In [52]:
print(17,int(17))

17 17

In [53]:
print(int("23bottles"))

ValueError: invalid literal for int() with base 10: '23bottles'

In [54]:
print(float("123.45"))

123.45

In [55]:
print(type(float("123.45")))

<class 'float'>

In [56]:
print(str(17))

17

In [57]:
print(str(12.45))

12.45

In [58]:
print(type(str(12.45)))

<class 'str'>

In [59]:
print(int(55.9))

55

In [61]:
message = "What's up Doc?"
n = 17
pi=3.14159

print(message)
print(n)
print(pi)

What's up Doc?
17
3.14159

In [62]:
x = 5
print(x)

x = 10
print(x)

5
10

In [63]:
x =10
myvariable = 50
XYZ = 100
xyz = "other variable"
print(xyz)

other variable

In [64]:
2x = 50
print(2x)

SyntaxError: invalid syntax (<ipython-input-64-5087953b4ada>, line 1)

In [65]:
x2 = 50
print(x2)

50

In [66]:
my_variable = 5.5
print(my_variable)

5.5

SyntaxError: invalid syntax (<ipython-input-67-38dfbf8454e6>, line 1)

In [68]:
message = "What's up Doc?"
n = 17
pi=3.14159

print(type(message))
print(type(n))
print(type(pi))

<class 'str'>
<class 'int'>
<class 'float'>

In [69]:
a = 5
b = a
print(a,b)
a= 3
print(a,b)

5 5
3 5

In [1]:
n = input("Please enter your name: ")
print("Hello",n)

Please enter your name: arsalan
Hello arsalan

In [3]:
school = "national college"
m = school[2]
print(m)

t

In [4]:
lastchar = school[-1]
print(lastchar)

e

In [5]:
numbers = [17,123,87,66,8398,44]
print(numbers[2])

87

In [6]:
print(numbers[9-8])

123

In [7]:
print(numbers[-2])

8398

In [8]:
price = (1.99, 2.00, 5.50, 20.95, 100.98)
print(price[0])
print(price[-1])
print(price[3-5])

1.99
100.98
20.95

In [9]:
s = "python rocks"
print(s[3])

h

In [10]:
s = "python rocks"
print(s[2] + s[-4])

to

In [11]:
alist = [3,67,"cat",[56,57,"dog"],[],3.14,False]
print(alist[5])

3.14

In [12]:
new_lst = []

In [13]:
new_lst = ["NFLX", "AMZN", "GOOGL", "DIS", "XOM"]
part_of_new_lst = new_lst[0]

In [15]:
lst = [0]
n_lst = lst[0]

print(lst)
print(n_lst)

[0]
0

In [16]:
fruit = "Banana"
print(len(fruit))

6

In [18]:
fruit= "Banana"
sz = len(fruit)

last = fruit[sz]
print(last)

IndexError: string index out of range

In [19]:
fruit= "Banana"
sz = len(fruit)

last = fruit[sz-1]
print(last)

a

In [20]:
alist = ["hello",2.0,5]
print(len(alist))
print(len(alist[0]))

3
5

In [21]:
singers = "Peter, Paul, and Mary"
print(singers[0:5])

Peter

In [22]:
print(singers[7:11])

Paul

In [23]:
print(singers[17:21])

Mary

In [24]:
fruit = "banana"
print(fruit[:3])
print(fruit[3:])

ban
ana

In [26]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])

['b', 'c']

In [27]:
print(a_list[:4])

['a', 'b', 'c', 'd']

In [28]:
print(a_list[3:])

['d', 'e', 'f']

In [29]:
print(a_list[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia[2])

1967

In [31]:
print(julia[2:6])

(1967, 'Duplicity', 2009, 'Actress')

In [32]:
print(len(julia))

7

In [33]:
julia = julia[:3] + ("Eat Pray Loves", 2010) + julia[5:]
print(julia)

('Julia', 'Roberts', 1967, 'Eat Pray Loves', 2010, 'Actress', 'Atlanta, Georgia')

In [35]:
fruit = ["apple", "orange", "banana", "cherry"]
print([1,2] + [3,4])
print(fruit+[6,7,8,9])

print([10] * 4)

[1, 2, 3, 4]
['apple', 'orange', 'banana', 'cherry', 6, 7, 8, 9]
[10, 10, 10, 10]

In [36]:
fruit = ["apple", "orange", "banana", "cherry"]
numlist = [6,7]

newlist = fruit + numlist
print(newlist)

['apple', 'orange', 'banana', 'cherry', 6, 7]

In [37]:
a = "I have had an apple on my desk before!"
print(a.count("e"))
print(a.count("ha"))

5
2

In [42]:
z = ["atoms", 4, "neutron", 6, "proton", 4 , "electron", "atoms"]
print(z.count("4"))
print(z.count(4))
print(z.count("a"))
print(z.count("electron"))

0
2
0
1

In [43]:
music = "Pull out your music and dancing can begin"
bio = ["Matatarsal", "Matatarsal", "Fibula", [], "Tibia", "Tibia", 43, "Femur"]

print(music.index("m"))

14

In [44]:
print(music.index("your"))

9

In [45]:
print(bio.index("Matatarsal"))

0

In [46]:
print(bio.index([]))

3

In [47]:
print(bio.index(43))

6

In [48]:
season = ["winter", "spring", "summer", "fall"]
print(season.index("autumn"))

ValueError: 'autumn' is not in list

In [49]:
song = "The rain in Spain..."
wds = song.split()
print(wds)

['The', 'rain', 'in', 'Spain...']

In [50]:
song = "The rain in Spain..."
wds = song.split("ai")
print(wds)

['The r', 'n in Sp', 'n...']

In [55]:
wds = ["red","blue","green"]
glue = " ; "

s = glue.join(wds)
print(s)
print(wds)

print("***".join(wds))
print("".join(wds))

red ; blue ; green
['red', 'blue', 'green']
red***blue***green
redbluegreen