In [1]:
# define a class

In [34]:
class Car():
    # attributes  --> Variables in programming
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.battery = "200amp" # default attribute
        
    
    # behaviours  --> Functions in programming
    
    def descriptionCar(self):
        print(f"The make of car is {self.make} ")
        print(f"The model of car is {self.model}")
        print(f"The year of car is {self.year}")
        
    def move(self):
        print(f"{self.make} is moving with speed")
        
    def applyingBreak(self):
        print(f"{self.model} has applyed the break.")
    
    def desBattery(self):
        print(f"The battery of car is {self.battery}")
    
    def setBatterySize(self,newSize):
        self.battery = newSize
        
    def getBatterySize(self):
        print(f"The size of your car battery is {self.battery}")

In [35]:
# creating objects of class
car1 = Car("Honda", "Civic", 2019)

In [36]:
car2 = Car("Suzuki", "Cultus", 2015)

In [37]:
car1.descriptionCar()

The make of car is Honda
The model of car is Civic
The year of car is 2019

In [38]:
car1.make

'Honda'

In [39]:
car2.make

'Suzuki'

In [40]:
car2.descriptionCar()

The make of car is Suzuki
The model of car is Cultus
The year of car is 2015

In [41]:
car1.make

'Honda'

In [42]:
car1.make = "Yamaha"

In [43]:
car1.make

'Yamaha'

In [44]:
car1.descriptionCar()

The make of car is Yamaha
The model of car is Civic
The year of car is 2019

In [45]:
car2.make="Vitz"

In [46]:
car2.descriptionCar()

The make of car is Vitz
The model of car is Cultus
The year of car is 2015

In [47]:
car1.battery

'200amp'

In [48]:
car2.battery

'200amp'

In [49]:
car1.desBattery()

The battery of car is 200amp

In [50]:
car1.battery = "300amp"

In [51]:
car1.desBattery()

The battery of car is 300amp

In [52]:
car2.battery

'200amp'

In [53]:
car1.getBatterySize()

The size of your car battery is 300amp

In [54]:
car2.getBatterySize()

The size of your car battery is 200amp

In [55]:
car2.setBatterySize("500amp")

In [56]:
car2.getBatterySize()

The size of your car battery is 500amp

In [68]:
class Person:
    def __init__(self, first_name, last_name, age):
        print("init method / constructor get called")
        self.person_first_name = first_name
        self.last_name = last_name
        self.age = age

In [69]:
p1 = Person("arsalan","manzoor",23)
p2 = Person("kamran","akhtar",33)

init method / constructor get called
init method / constructor get called

In [70]:
p1.person_first_name

'arsalan'

In [71]:
p2.person_first_name

'kamran'

In [145]:
class Laptop:
    discount_percent = 10
    def __init__(self, brand_name, model_name, price):
        self.b_name = brand_name
        self.m_name = model_name
        self.price = price
        self.laptop_name = brand_name + ' '+model_name
    
    def apply_discount(self):
        off_price = (self.discount_percent/100)*self.price
        return self.price - off_price

In [146]:
l1 = Laptop("Dell", "Latitude 3330",10000)
l2 = Laptop("Lenovo","xt30",24000)

In [147]:
l1.apply_discount()

9000.0

In [148]:
print(l2.apply_discount())
(90/100) * 10000

21600.0

9000.0

In [149]:
Laptop.discount_percent = 0

In [150]:
l1.apply_discount()

10000.0

In [151]:
l1.__dict__

{'b_name': 'Dell',
 'm_name': 'Latitude 3330',
 'price': 10000,
 'laptop_name': 'Dell Latitude 3330'}

In [152]:
l2.__dict__

{'b_name': 'Lenovo',
 'm_name': 'xt30',
 'price': 24000,
 'laptop_name': 'Lenovo xt30'}

In [153]:
l2.discount_percent = 50
print(l2.__dict__)
print(l2.apply_discount())

{'b_name': 'Lenovo', 'm_name': 'xt30', 'price': 24000, 'laptop_name': 'Lenovo xt30', 'discount_percent': 50}
12000.0

In [77]:
l1.m_name

'Latitude 3330'

In [78]:
l1.laptop_name

'Dell Latitude 3330'

In [91]:
class Person:
    def __init__(self, first_name, last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def full_name(self):
        return f"{self.first_name.title()} {self.last_name.title()}"
    
    def is_above_18(self):
        return self.age > 18

In [92]:
p1 = Person("arsalan", "manzoor", 23)

In [93]:
p1.full_name()

'Arsalan Manzoor'

In [94]:
p2 = Person("ahmed","ali",11)

In [95]:
p2.full_name()

'Ahmed Ali'

In [96]:
p1.is_above_18()

True

In [97]:
p2.is_above_18()

False

In [124]:
# Class variable
# circle
# area
# circum
class Circle:
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius
        
    
    def calc_circumference(self):
        return 2*Circle.pi*self.radius

In [125]:
circle1 = Circle(4)

In [126]:
circle2 = Circle(5)

In [127]:
circle1.calc_circumference()

25.12

In [172]:
class Person:
    count = 0
    def __init__(self, first_name, last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        Person.count +=1

In [173]:
person_1 = Person("arsalan","manzoor",23)
person_2 = Person("owais","khan",22)
person_3 = Person("rizwan","akhtar",20)

In [174]:
print("Count Instances are: ",Person.count)

Count Instances are:  3