In [1]:
customer_ids = [101, 102, 103]

In [2]:
customers = [
     {
         "customer id": customer_ids[0],
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    {
        "customer id": customer_ids[1],
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    {
        "customer id": customer_ids[2],
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
]

In [7]:
dictionary_to_look_in = customers[1]
customer_address = dictionary_to_look_in["address"]
customer_address

'lalo khait'

In [12]:
customers[1]

{'customer id': 102,
 'first name': 'danish',
 'last name': 'farooq',
 'address': 'lalo khait'}

In [13]:
new_customer_id = len(customers)

In [15]:
new_first_name = "adil"
new_last_name = "kareem"
new_address = "fb area"

new_dictionary = {
 'customer id': new_customer_id,
 'first name': new_first_name,
 'last name': new_last_name,
 'address': new_address
}

In [16]:
customers.append(new_dictionary)

In [17]:
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [18]:
new_customer_id = len(customer_ids)
new_first_name = "jawaid"
new_last_name = "akhtar"
new_address = "fb area"

In [19]:
customers.append(new_dictionary)
customers

[{'customer id': 101,
  'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 {'customer id': 102,
  'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 {'customer id': 103,
  'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'},
 {'customer id': 3,
  'first name': 'adil',
  'last name': 'kareem',
  'address': 'fb area'}]

In [20]:
customer_29876 = {
 'first name': "khurram",
 'last name': "khan",
 'address': "fb area",
 'discounts': ["standard", "volume", "loyalty"],
}

In [21]:
if  "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
discount_amount

0.15

In [24]:
customers = {
     "customer_1": {
         
         "first name": "imran",
         "last name": "khan",
         "address" : "bani gala",
     },
    "customer_2":{
        "first name": "danish",
        "last name": "farooq",
        "address": "lalo khait"
    },
    "customer_3":{
        "first name": "owais",
        "last name": "siddiqui",
        "address" : "piyala hotel"
    }
}

In [25]:
customers

{'customer_1': {'first name': 'imran',
  'last name': 'khan',
  'address': 'bani gala'},
 'customer_2': {'first name': 'danish',
  'last name': 'farooq',
  'address': 'lalo khait'},
 'customer_3': {'first name': 'owais',
  'last name': 'siddiqui',
  'address': 'piyala hotel'}}

In [26]:
customers["customer_2"]

{'first name': 'danish', 'last name': 'farooq', 'address': 'lalo khait'}

In [27]:
customers["customer_1"]["address"]

'bani gala'

In [28]:
my_dic = {"name": "Arsalan", "age": 23, "Gender": "Male",}

In [29]:
len(my_dic)

3

In [31]:
my_dic["email"] = "abc@gmail.com"

In [32]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'abc@gmail.com'}

In [33]:
new_dic = {1: "IMRAN", 2: "HASHIM"}

In [34]:
new_dic[2]

'HASHIM'

In [35]:
del new_dic[1]

In [36]:
new_dic

{2: 'HASHIM'}

In [37]:
my_dic["email"] = "arsalan@gmail.com"

In [38]:
my_dic

{'name': 'Arsalan', 'age': 23, 'Gender': 'Male', 'email': 'arsalan@gmail.com'}

In [39]:
aDic = {1:100, 2:200, 3:300, 4: 400, 1:1000}

In [40]:
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

In [41]:
1 in aDic

True

In [42]:
100 in aDic

False

In [43]:
"age" in my_dic

True

In [45]:
student = {'Name': 'Arsalan', 'Class': 'AI', 'Program': 'PIAIC', 'Age': 42}

In [47]:
for value in student.keys():
    print(value)

Name
Class
Program
Age

In [49]:
for value in student.values():
    print(value)

Arsalan
AI
PIAIC
42

In [66]:
for key, value in student.items():
    print(f"{key}: {value}")

Name: Arsalan
Class: AI
Program: PIAIC
Age: 42

In [67]:
students =[]

In [68]:
students.append({'Name': 'Ali', 'Class':'AI', 'Campues': 'PIAIC Campus 1'})

In [69]:
students.append({'Name': 'Noman', 'Class':'AI', 'Campues': 'PIAIC Campus 2'})

In [70]:
students

[{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'},
 {'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}]

In [71]:
for student in students:
    print(student)

{'Name': 'Ali', 'Class': 'AI', 'Campues': 'PIAIC Campus 1'}
{'Name': 'Noman', 'Class': 'AI', 'Campues': 'PIAIC Campus 2'}

In [75]:
for student in students:
    for a,b in student.items():
        print(a,":",b)
    print("")

Name : Ali
Class : AI
Campues : PIAIC Campus 1

Name : Noman
Class : AI
Campues : PIAIC Campus 2

In [76]:
employee = {'Name': 'Shams', 
            'Children': {'Humaira':{'Age': 10, 'Class': '6th Standard'},
                         'Abdul Rehman': {'Age': 8, 'Class': '4th Standard'}}}

In [78]:
print(employee['Children']['Humaira'])

{'Age': 10, 'Class': '6th Standard'}

In [80]:
print(employee['Children']['Abdul Rehman']['Age'])

8

In [1]:
alien_0 = {
    "color": "green",
    "points": 5,
}

print(alien_0["color"])
print(alien_0["points"])

green
5

In [4]:
new_points = alien_0['points']
print("you just earnes "+str(new_points)+" points!")

you just earnes 5 points!

In [5]:
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [6]:
alien_0 = {}

In [8]:
alien_0

{}

In [9]:
alien_0['color'] = 'green'
alien_0['points'] = 4
print(alien_0)

{'color': 'green', 'points': 4}

In [11]:
alien_0 = {"color": "green"}
print("The alien is "+alien_0['color']+".")

alien_0['color'] = 'yellow'
print("The alien is now "+alien_0['color']+".")

The alien is green.
The alien is now yellow.

In [17]:
alien_0 = {"x_position": 0, "y_position": 25, "speed": "medium",}
print("Original Position: "+str(alien_0['x_position']))
#alien_0['speed'] = 'fast'

if alien_0['speed'] == "slow":
    x_increment = 1
elif alien_0['speed'] == "medium":
    x_increment = 2
else:
    x_increment = 3


alien_0["x_position"] = alien_0["x_position"] + x_increment 
print("New Position: "+str(alien_0["x_position"]))

Original Position: 0
New Position: 2

In [18]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['color']
print(alien_0)

{'color': 'green', 'points': 5}
{'points': 5}

In [19]:
alien_0

{'points': 5}

In [1]:
favorite_languages = {
    "tahir": "python",
    "junaid": "c",
    "amir": "ruby",
    "adnan": "python",
}

In [2]:
print("Junaid's favorite language is "+
      favorite_languages['junaid'].title()+
     ".")

Junaid's favorite language is C.

In [4]:
person = {
    "first_name": "imran",
    "last_name": "khalid",
    "age": 22,
    "city": "quetta",
}

print(person["first_name"])
print(person["last_name"])
print(person["age"])
print(person["city"])

imran
khalid
22
quetta

In [7]:
favorite_numbers = {
    "owais": 2,
    "imran": 12,
    "usman": 10,
    "saad": 1,
    "fahad": 55,
}

num = favorite_numbers["owais"]
print("\n"+"Owais's favorite number is "+str(num))


num = favorite_numbers["saad"]
print("\n"+"Saad's favorite number is "+str(num))

Owais's favorite number is 2

Saad's favorite number is 1

In [10]:
glossary= {
    "String": "series of characters.",
    "list": "bunch of value in single variable.",
    "print": "function for displaying values",
    "float": "numbers with decimal point.",
    "bool" : "boolean value True or False",
}

meaning = glossary["String"]
print("\n"+"String: "+meaning.title())

meaning = glossary["list"]
print("\nList: "+meaning.title())

word = 'print'
print("\n"+word.title()+": "+glossary[word])

word = "float"
print("\n"+word.title()+": "+glossary[word])

word = "bool"
print("\n"+word.title()+": "+glossary[word])

String: Series Of Characters.

List: Bunch Of Value In Single Variable.

Print: function for displaying values

Float: numbers with decimal point.

Bool: boolean value True or False

In [12]:
user_0 = {
    "username": "john baba",
    "first": "jamaal",
    "last": "khan",
}

for key,value in user_0.items():
    print("\nKey: "+key)
    print("Value: "+value)

Key: username
Value: john baba

Key: first
Value: jamaal

Key: last
Value: khan