In [1]:
x = 3

In [2]:
print(type(x))

<class 'int'>

In [3]:
print(x)

3

In [4]:
print(x + 1)

4

In [5]:
x+1

4

In [6]:
x+1

4

In [7]:
x = x+1

In [8]:
print(x)

4

In [9]:
x = x+1

In [10]:
print(x)

5

In [11]:
print(x-1)

4

In [12]:
print(x*2)

10

In [13]:
x

5

In [14]:
x

5

In [15]:
print(x ** 2)

25

In [16]:
x+=1

In [17]:
print(x)

6

In [18]:
x+=1

In [19]:
print(x)

7

In [20]:
x * = 2

SyntaxError: invalid syntax (<ipython-input-20-d1727f52b2b2>, line 1)

In [21]:
x *= 2

In [22]:
print(x)

14

In [1]:
x = 3

In [2]:
print(type(x))

<class 'int'>

In [3]:
print(x)

3

In [4]:
print(x + 1)

4

In [5]:
print(x)

3

In [6]:
print(x)

3

In [7]:
print(x + 1)

4

In [8]:
print(x + 1)

4

In [9]:
print(x + 1)

4

In [10]:
print(x)

3

In [11]:
print(x - 1)

2

In [12]:
print(x * 2)

6

In [13]:
print(x ** 2)

9

In [14]:
x+=1

In [15]:
print(x)

4

In [16]:
print(x+=1)

SyntaxError: invalid syntax (<ipython-input-16-a73bd70e7611>, line 1)

In [17]:
x+=1
print(x)

5

In [18]:
print(x)

5

In [19]:
print(x)

5

In [20]:
x*=2

In [21]:
print(x)

10

In [22]:
y = 2.5

In [23]:
print(type(y))

<class 'float'>

In [24]:
print(y, y + 1,y*2, y**2)

2.5 3.5 5.0 6.25

In [25]:
t = True
f = False

In [26]:
print(type(t))

<class 'bool'>

In [27]:
print(t and f)

False

In [28]:
print(t or f)

True

In [29]:
print(not t)

False

In [30]:
print(t != f)

True

In [31]:
hello = 'hello'

In [32]:
world = "world"

In [33]:
print(hello)

hello

In [34]:
print((len(hello)))

5

In [35]:
hw = hello + ' ' + world

In [36]:
print(hw)

hello world

In [39]:
hw12 = '%s %s %d' % (hello, world, 12)

In [41]:
print(hw12)

hello world 12

In [42]:
s = "hello"

In [43]:
print(s.capitalize())

Hello

In [44]:
print(s.upper())

HELLO

In [46]:
print(s.rjust(20))

               hello

In [48]:
print(s.center(7))

 hello

In [50]:
print(s.replace('l', '(ell)'))

he(ell)(ell)o

In [51]:
print(' world'.strip())

world

In [52]:
xs = [3,1,2]

In [53]:
print(xs,xs[2])

[3, 1, 2] 2

In [54]:
print(xs[-1])

2

In [55]:
xs[2] = 'foo'

In [56]:
print(xs)

[3, 1, 'foo']

In [57]:
xs.append('bar')

In [58]:
print(xs)

[3, 1, 'foo', 'bar']

In [59]:
x = xs.pop()

In [60]:
print(x,xs)

bar [3, 1, 'foo']

In [61]:
nums = list(range(5))

In [62]:
print(nums)

[0, 1, 2, 3, 4]

In [63]:
print(nums[2:4])

[2, 3]

In [65]:
print(nums[2:])

[2, 3, 4]

In [66]:
print(nums[:2])

[0, 1]

In [67]:
print(nums[:])

[0, 1, 2, 3, 4]

In [68]:
print(nums[:-1])

[0, 1, 2, 3]

In [69]:
nums[2:4] = [8,9]

In [70]:
print(nums)

[0, 1, 8, 9, 4]

In [71]:
animals = ['cat','dog','monkey']

for animal in animals:
    print(animal)

cat
dog
monkey

In [75]:
animals = ['cat','dog','monkey']

for idx, animal in enumerate(animals):
    print('%d: %s' % (idx + 1,animal))

1: cat
2: dog
3: monkey

In [77]:
nums = [0,1,2,3,4]
squares = []

for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [79]:
nums = [0,1,2,3,4]
squares = [x **2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [80]:
nums = [0,1,2,3,4]

even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [81]:
whats_left_over = 10 % 3

In [82]:
print(whats_left_over)

1

In [83]:
whats_left_over = 9 % 3

In [84]:
print(whats_left_over)

0

In [85]:
age = 54

In [86]:
age

54

In [87]:
age = age + 1

In [88]:
age

55

In [89]:
age

55

In [90]:
age += 1

In [91]:
age

56

In [92]:
age += 1

In [93]:
age

57

In [94]:
age += 3
age

60

In [95]:
age = 12

In [96]:
age -= 2

In [97]:
age

10

In [98]:
age = 12
amount_to_increment = 3

age += amount_to_increment

In [99]:
age

15

In [100]:
if 5 > 2:
    print("five is grater than two")

five is grater than two

In [101]:
if 5 > 2:
print("five is greater than two")

IndentationError: expected an indented block (<ipython-input-101-e49089360e86>, line 2)

In [102]:
if 5 > 2:
 print("five is greater than two")
if 5 > 2:
         print("five is greater than two!!")

five is greater than two
five is greater than two!!

In [103]:
x = 5
y = "arsalan"

In [104]:
print(x)

5

In [105]:
print(y)

arsalan

In [106]:
x = 4

In [107]:
x = "ahmed"

In [108]:
print(x)

ahmed

In [109]:
x = "nasir"

In [110]:
x = 'nasir'

In [111]:
x , y ,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [112]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [113]:
x = "awesome"
print("Python is "+x)

Python is awesome

In [115]:
x = "Python is very "
y = "awesome"

z = x + y
print(z)

Python is very awesome

In [116]:
x = 5
y = 10
print(x + y)

15

In [117]:
x = 5
y = "arsalan"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [118]:
x = 1

In [119]:
y = 2.8

In [120]:
z = 1j

In [121]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [122]:
x = 1
y = 356562225548877111
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [123]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [124]:
x = 2e3
y = 3e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [125]:
print(x)

2000.0

In [126]:
print(y)

30000.0

In [127]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [128]:
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float

a = float(x)

#convert from float to int

b = int(y)

#convert from int to complex

c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [131]:
import random

print(random.randrange(1,20))

7

In [1]:
student_name = "arsalan"
father_name = "manzoor"

In [2]:
print(student_name+father_name)

arsalanmanzoor

In [3]:
num_1 = 100
num_2 = 300

In [4]:
sum = num_1+num_2
print(sum)

400

In [5]:
value_1 = 100
value_2 = 2

sum = value_1+value_2
print(sum)

102

In [7]:
value_1 = 100
value_2 = 2

sub = value_1-value_2
print(sub)

98

In [8]:
value_1 = 100
value_2 = 2

mul = value_1*value_2
print(mul)

200

In [9]:
value_1 = 100
value_2 = 2

div = value_1/value_2
print(div)

50.0

In [10]:
value_1 = 100
value_2 = 2

sum = value_1//value_2
print(sum)

50

In [12]:
a = "23"
b = 45

print(a+b)

TypeError: can only concatenate str (not "int") to str

In [13]:
whats_left_over = 10 // 3
print(whats_left_over)

3

In [14]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [15]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [22]:
num = 10

In [23]:
num //= 3
print(num)

3

In [1]:
a = "pAKISTAN ZindaBad"

In [2]:
a.capitalize()

'Pakistan zindabad'

In [3]:
a.lower()

'pakistan zindabad'

In [4]:
a.upper()

'PAKISTAN ZINDABAD'

In [5]:
a.title()

'Pakistan Zindabad'

In [7]:
print(a)

pAKISTAN ZindaBad

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
help(title)

NameError: name 'title' is not defined

In [12]:
a.format?

In [13]:
a.count??

In [16]:
abc = """
Pakistan Zindabad
City: Karachi
"""
print(abc)

Pakistan Zindabad
City: Karachi

In [19]:
a = 2

In [22]:
a **= 2
print(a)

16

In [21]:
print(a)

4

In [23]:
total_cost = 1 + 3 * 4

In [24]:
print(total_cost)

13

NameError: name 'np' is not defined

In [1]:
total_cost = 1 + (3 * 4)
print(total_cost)

13

In [2]:
total_cost = (1+3)* 4

In [3]:
print(total_cost)

16

In [4]:
result_of_computation = 4*2 * 4 + 2

In [5]:
result_of_computation

34

In [10]:
result_of_computation = ((4*2) * 4) + 2

In [11]:
result_of_computation

34

In [12]:
result_of_computation = (4*2) * (4+2)
result_of_computation

48

In [15]:
number_of_husbands = 1
if number_of_husbands == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

In [16]:
score = 10
time = 30

In [19]:
if score > 8 and time < 31:
    print("Congrats you won")

Congrats you won

In [20]:
marks = 800
gpa = 2.5

In [22]:
if marks > 700 or gap > 3.0:
    print("Welcome to orientation class")

Welcome to orientation class

In [41]:
age = 66
res = "Pakistan"

In [42]:
if age > 65 or age < 21 and res == "Pakistan":
    print("YEhhhhhh")

YEhhhhhh

In [43]:
if (age > 65 or age <21) and res == "Pakistan":
    print("Welcome")

Welcome

In [44]:
if age > 65 or (age < 21 and res == "Pakistan"):
    print("hello")

hello

In [45]:
a = 100
b = 200

if a < b:
    print("a is less than b")
    print("hello a")
    print("HEllo b")
print("hello python")

a is less than b
hello a
HEllo b
hello python

In [47]:
if b < a:
    print("b is less than a")
print("Pakistan")

Pakistan

In [48]:
a = """
Piaic
City: Karachi
Country: Pakistan
"""

In [50]:
print(a)

Piaic
City: Karachi
Country: Pakistan

In [62]:
name = input("Enter your name: ")
roll_no = input("Enter your roll number: ")
course = input ("Enter your course:")

a = '''
Name: {}
Roll no: {}
Course: {}
'''
print(a.format(name,roll_no,course))

Enter your name: M.arsalan
Enter your roll number: 1212
Enter your course:AI

Name: M.arsalan
Roll no: 1212
Course: AI

In [63]:
5+2

7

In [64]:
4-2

2

In [65]:
3*5

15

In [66]:
12/3

4.0

In [67]:
15%4

3

In [69]:
15/4

3.75

In [70]:
15//4

3

In [71]:
15 // 4.0

3.0

In [72]:
2**3

8

In [73]:
a ="pakistan"
a

'pakistan'

In [75]:
a = "china"
a

'china'

In [76]:
a * 2

'chinachina'

In [79]:
a ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [85]:
a = "abc"

In [86]:
a

'abc'

In [87]:
a += " xyz"
a

'abc xyz'

In [88]:
a *= 2
a

'abc xyzabc xyz'

In [89]:
a %= 2

TypeError: not all arguments converted during string formatting

In [90]:
a = 15
a %= 4
a

3

In [91]:
a **= 3
a

27

In [92]:
5 ==5

True

In [95]:
a = "abc"
b = "xyz"
c = "27"
a+b+c

'abcxyz27'

In [97]:
a = "abc"
b = "xyz"
c = "27"
print(a,b,c)

abc xyz 27

In [98]:
a = "abc"
b = "xyz"
c = 27
a+b+c

TypeError: can only concatenate str (not "int") to str

In [99]:
a = "abc"
b = "xyz"
c = 27

print(a,b,c)

abc xyz 27

In [100]:
a = "abc"
b = "xyz"
c = "27"
a+b+str(c)

'abcxyz27'

In [101]:
a = '1'
b = '1'

a+b

'11'

In [102]:
cities = ["karachi","lahore","peshawar","multan"]

In [103]:
cities

['karachi', 'lahore', 'peshawar', 'multan']

In [104]:
print(cities)

['karachi', 'lahore', 'peshawar', 'multan']

In [106]:
cities.append("quetta")

In [107]:
cities

['karachi', 'lahore', 'peshawar', 'multan', 'quetta']

In [108]:
cities[1]

'lahore'

In [109]:
cities[5]

IndexError: list index out of range

In [110]:
cities[4]

'quetta'

In [111]:
len(cities)

5

In [112]:
fruits = []

In [113]:
len(fruits)

0

In [114]:
fruits.append("orange")

In [115]:
fruits

['orange']

In [116]:
fruits.append("mango")

In [117]:
fruits

['orange', 'mango']

In [125]:
a = 100
print("There are",a ," students in class")

There are 100  students in class

In [134]:
print("There are "+str(a) +" students in class")

There are 100 students in class

In [135]:
print("there are {} students laptop".format())

there are 100 students laptop

In [142]:
mangoes = 10
apple = 10

In [155]:
print("there are",  mangoes + apple, " mangoes, apple in the basket")

there are 20  mangoes, apple in the basket

In [144]:
print("the sum of 2 plus 2 is: "+4)

TypeError: can only concatenate str (not "int") to str

In [156]:
mixed_things = [1,"bob","now is"]

In [157]:
type(mixed_things)

list

In [158]:
print(mixed_things[1])

bob

In [159]:
print(type(mixed_things[0]))

<class 'int'>

In [161]:
1 in mixed_things
mixed_things.index(1)

0

In [162]:
bicycles = ['trek', 'cannodale', 'redline', 'special']

In [164]:
print("My first bicycle was a "+bicycles[0]+" . ")

My first bicycle was a trek .

In [166]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
even_number = list(range(1,13,2))
print(even_number)

[1, 3, 5, 7, 9, 11]

In [177]:
fruits

['orange', 'mango']

In [178]:
fruits.append("cherry")
fruits

['orange', 'mango', 'cherry']

In [179]:
fruits = fruits + ["nashpati","amlok"]
fruits

['orange', 'mango', 'cherry', 'nashpati', 'amlok']

In [181]:
new_fruits = fruits + ["banana"]

print(fruits)

print(new_fruits)

['orange', 'mango', 'cherry', 'nashpati', 'amlok']
['orange', 'mango', 'cherry', 'nashpati', 'amlok', 'banana']

In [182]:
cities

['karachi', 'lahore', 'peshawar', 'multan', 'quetta']

In [183]:
cities.insert(1,"hyderabad")
cities

['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan', 'quetta']

In [184]:
fruits.extend(["apple", "cherry","blueberry"])
fruits

['orange',
 'mango',
 'cherry',
 'nashpati',
 'amlok',
 'apple',
 'cherry',
 'blueberry']

In [185]:
fruits.count("orange")

1

In [186]:
fruits.extend(["orange","orange","orange"])

In [187]:
fruits

['orange',
 'mango',
 'cherry',
 'nashpati',
 'amlok',
 'apple',
 'cherry',
 'blueberry',
 'orange',
 'orange',
 'orange']

In [188]:
 fruits.count("orange")

4

In [189]:
fruits.index("orange")

0

In [190]:
fruits.index("orange",1)

8

In [191]:
fruits.clear()

In [192]:
fruits

[]

In [194]:
fruits = ['orange','mango','nashpati','banana','cherry']

In [195]:
fruits

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [196]:
fruits[1:3]

['mango', 'nashpati']

In [197]:
fruits[1:]

['mango', 'nashpati', 'banana', 'cherry']

In [198]:
fruits[:4]

['orange', 'mango', 'nashpati', 'banana']

In [199]:
new_fruits = fruits[1:4]

In [200]:
new_fruits

['mango', 'nashpati', 'banana']

In [201]:
fruits

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [202]:
fruits2 = fruits.copy()

In [203]:
fruits2

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [204]:
fruits

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [205]:
fruits3 = fruits

In [206]:
fruits3

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [207]:
fruits

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [209]:
fruits.append("new fruit")

In [210]:
fruits

['orange', 'mango', 'nashpati', 'banana', 'cherry', 'new fruits', 'new fruit']

In [211]:
fruits3

['orange', 'mango', 'nashpati', 'banana', 'cherry', 'new fruits', 'new fruit']

In [212]:
fruits2

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [213]:
fruits3.append("another fruits")

In [214]:
fruits

['orange',
 'mango',
 'nashpati',
 'banana',
 'cherry',
 'new fruits',
 'new fruit',
 'another fruits']

In [215]:
fruits3

['orange',
 'mango',
 'nashpati',
 'banana',
 'cherry',
 'new fruits',
 'new fruit',
 'another fruits']

In [216]:
fruits2

['orange', 'mango', 'nashpati', 'banana', 'cherry']

In [217]:
del fruits2[1]

In [218]:
fruits2

['orange', 'nashpati', 'banana', 'cherry']

In [219]:
del fruits2[3]

In [220]:
fruits2

['orange', 'nashpati', 'banana']

In [223]:
fruits2.remove("nashpati")

In [224]:
fruits2

['orange', 'banana']

In [225]:
fruits2.remove("orange")

In [226]:
fruits2

['banana']

In [227]:
cities

['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan', 'quetta']

In [1]:
cities = ['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan', 'quetta']

In [2]:
cities

['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan', 'quetta']

In [3]:
popped_cities = cities.pop()

In [4]:
popped_cities

'quetta'

In [5]:
cities

['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan']

In [6]:
new_cities = popped_cities.pop()

AttributeError: 'str' object has no attribute 'pop'

In [12]:
tasks = ["email Franck", "call Sarah", "meet with Zarah"]

In [13]:
latest_task_accomplished = tasks.pop(1)

In [14]:
tasks

['email Franck', 'meet with Zarah']

In [15]:
latest_task_accomplished

'call Sarah'

In [20]:
tasks_accomplished = []

In [21]:
tasks_accomplished.append(latest_task_accomplished.pop())

AttributeError: 'str' object has no attribute 'pop'

In [22]:
cities

['karachi', 'hyderabad', 'lahore', 'peshawar', 'multan']

In [23]:
popped_cities = cities.pop(1)

In [28]:
print(f"The city is popped from list {popped_cities}")
print(f"The remaining cities are: {cities}")

The city is popped from list hyderabad
The remaining cities are: ['karachi', 'lahore', 'peshawar', 'multan']

In [30]:
cities.sort()

In [31]:
cities

['karachi', 'lahore', 'multan', 'peshawar']

In [32]:
cities.sort(reverse=True)

In [33]:
cities

['peshawar', 'multan', 'lahore', 'karachi']

In [34]:
cities

['peshawar', 'multan', 'lahore', 'karachi']

In [35]:
cities.reverse()

In [36]:
cities

['karachi', 'lahore', 'multan', 'peshawar']

In [38]:
7 in cities

False

In [40]:
students = ["Ali","Hamza","Faisal","Saleem","Kashif"]

In [46]:
print(students[0])
print(students[-5])

Ali
Ali

In [49]:
del students[0]

In [50]:
students

['Hamza', 'Faisal', 'Saleem', 'Kashif']

In [51]:
x = [1,2,3,4]
y = x

In [52]:
x

[1, 2, 3, 4]

In [53]:
y

[1, 2, 3, 4]

In [54]:
y.append(5)

In [55]:
x

[1, 2, 3, 4, 5]

In [56]:
y

[1, 2, 3, 4, 5]

In [57]:
x= [1, 2, 3, 4]

In [58]:
y = x[:]

In [59]:
x

[1, 2, 3, 4]

In [60]:
y.append(5)

In [61]:
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [70]:
new_list = list(range(1,20))

In [71]:
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [78]:
smaller_list = new_list[-10:-1]

In [79]:
print(smaller_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [76]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [91]:
friends = ["mir","sahil","hussnain","nehal","fahad","bori","amir","danish"]
friends2 = ["mir","sahil","hussnain","nehal","fahad","bori","amir","danish"]

In [87]:
close_friends = ["mir", "sahil","fahad","hussnain"]

In [92]:
for a in friends2:
    if a in close_friends:
        continue
    else:
        friends.remove(a)
friends

['mir', 'sahil', 'hussnain', 'fahad']

In [33]:
my_list = ["pen","pencil","axiom","cell phone","abc","def"]
purchase_list = []

for item in my_list:
    purchase_item = my_list.pop()
    purchase_list.append(purchase_item)
    
print(purchase_list)
print(my_list)

['def', 'abc', 'cell phone']
['pen', 'pencil', 'axiom']

In [96]:
cities = ("karachi","hyd","larkana","ghotki")

In [97]:
print(cities[1])

hyd

In [98]:
len(cities)

4

In [99]:
cities.count("hyd")

1

In [101]:
cities.index("larkanaaa")

ValueError: tuple.index(x): x not in tuple

In [2]:
print("Arsalan")
print("Arsalan")

Arsalan
Arsalan

In [5]:
for a in range(10):
    print(a,"Arsalan")

0 Arsalan
1 Arsalan
2 Arsalan
3 Arsalan
4 Arsalan
5 Arsalan
6 Arsalan
7 Arsalan
8 Arsalan
9 Arsalan

In [6]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [7]:
for number in range(1,11,2):
    print(number)

1
3
5
7
9

In [9]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [10]:
cities = ["khi","mulatan","hyd"]

In [13]:
for city in cities:
    print(f"THe city under consideration is {city}")

THe city under consideration is khi
THe city under consideration is mulatan
THe city under consideration is hyd

In [14]:
for num in [11,22,33,44]:
    print(num)

11
22
33
44

In [15]:
country = "Pakistan"

for a in country:
    print(a)

P
a
k
i
s
t
a
n

In [16]:
country = "pakistan", "china"

for a in country:
    print(a)

pakistan
china

In [27]:
for number in range(10):
    if number % 2 == 1:
        break
    print(number)

0

In [29]:
for number in [5,7,11,90]:
    if number % 2 == 0:
        break
    print(number)

5
7
11

In [32]:
for num in range(10):
    if num == 7 or num == 4:
        continue
    print(num)

0
1
2
3
5
6
8
9

In [34]:
square = [x ** 2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
words= ["cat","window","ball"]

for a in words:
    print(a ,len(a))

cat 3
window 6
ball 4

In [38]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

In [39]:
len(a)

5

In [42]:
for i in range(len(a)):
    print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [43]:
print(range(10))

range(0, 10)

In [44]:
list(range(5))

[0, 1, 2, 3, 4]

In [1]:
for a in range(5):
    print("Inner loop")
    for char in "china":
        print(a,char)

Inner loop
0 c
0 h
0 i
0 n
0 a
Inner loop
1 c
1 h
1 i
1 n
1 a
Inner loop
2 c
2 h
2 i
2 n
2 a
Inner loop
3 c
3 h
3 i
3 n
3 a
Inner loop
4 c
4 h
4 i
4 n
4 a

In [6]:
table_number = int(input("Enter your table number:"))


for a in range(1,11):
    print(f"{table_number} * {a} = {table_number*a}")

Enter your table number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [9]:
tables = int(input("Enter table:"))

for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table * num}")

Enter table:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [17]:
product = ["shirt","trouser","jacket"]

complimentery_Gift = ["pen","keychain","tie"]


for a in product:
    for b in complimentery_Gift:
        print(f"{a} --- {b}")

shirt --- pen
shirt --- keychain
shirt --- tie
trouser --- pen
trouser --- keychain
trouser --- tie
jacket --- pen
jacket --- keychain
jacket --- tie

In [18]:
first_names =  ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]

last_names = ["Zzz", "Burp", "Dogbone", "Droop"]

full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)

full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [23]:
city_to_check = input("Enter your city")
city_to_check = city_to_check.lower()

cleanest_cities = ["khi","multan","lahore","peshawar"]

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("its the cleanest city")

Enter your cityB