# Practicing

In [1]:
print("arsalan manzoor")

arsalan manzoor

In [3]:
a = "Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

# String class Methods and Attributes

In [5]:
a = "pAkistan ZindaBad"
print(a)

pAkistan ZindaBad

In [6]:
a.capitalize() #inline

'Pakistan zindabad'

In [7]:
a.upper()

'PAKISTAN ZINDABAD'

In [8]:
a.title()

'Pakistan Zindabad'

In [9]:
print(a)

pAkistan ZindaBad

In [10]:
a.lower()

'pakistan zindabad'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print?

In [14]:
abc = """
PIAIC
City: Karachi
Country : Pakistan
"""

In [15]:
print(abc)

PIAIC
City: Karachi
Country : Pakistan

In [16]:
abc = '''
PIAIC
City: Karachi
Country : Pakistan
'''
abc

'\nPIAIC\nCity: Karachi\nCountry : Pakistan\n'

In [17]:
abc = """
****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855
"""

print(abc)

****** PIAIC ******
Saylani Welfare Trust
Name: M.Arsalan Manzoor
Father's Name: Manzoor Ali
Roll no: 9855

In [20]:
name = input("Enter your name: ")
f_name = input("Enter your fathers name:")
roll_no = input("Enter your roll no:")

abc = """
********* PIAIC *********
Name: {}
Father's Name: {}
Roll no: {}
"""

print(abc.format(name,f_name,roll_no))

Enter your name: Ahmed
Enter your fathers name:Nasir
Enter your roll no:1212

********* PIAIC *********
Name: Ahmed
Father's Name: Nasir
Roll no: 1212

In [21]:
a = print("pakistan")
print(a)

pakistan
None

In [25]:
a = "pakistan"
b = "Zinda Bad"
a + b #cancatenation

'pakistanZinda Bad'

In [27]:
a = 5
b = 7

a + b #addition

12

# Operators

In [29]:
+, - , * ,/ , % , // , ** # Mathematics

=, +=, -=, *= , /=, %= # Assign operator

==, >, <, >=, <=, != # Logical operators

and ,or # combine logic checking

# +, -, *, /, %, // # MATHEMATICS

In [30]:
5 + 2

7

In [31]:
4 - 2

2

In [32]:
3 * 5

15

In [33]:
12 / 3

4.0

In [34]:
15 % 4

3

In [35]:
15 / 4

3.75

In [36]:
15 // 4

3

In [37]:
15 // 4.0

3.0

In [38]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [39]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [40]:
# PEDMAS (Peranthesis, Exponent, Division, Multiplication, Addition, Subtraction)
2 + 6 * 8 / 5 + (2 * 3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

17.6

# =, +=, -=, *=, /=, %= Assign Operator

In [41]:
a = "Pakistan"
a

'Pakistan'

In [42]:
a = "china"
a

'china'

In [43]:
a * 2

'chinachina'

In [44]:
a = "abc"
a

'abc'

In [45]:
a+= "xyz"
a

'abcxyz'

In [46]:
a

'abcxyzabcxyz'

In [47]:
a %= 2

TypeError: not all arguments converted during string formatting

In [54]:
a = 15
a %= 4
a

3

In [55]:
# 3 * 3 * 3
a **= 3
a

27

In [56]:
a = "abc"
a **=3
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'