In [1]:
a = ['one', 'two', 'three']
del a[1]
print(a)

['one', 'three']

In [2]:
alist = ['a','b','c','d','e','f']
del alist[1:5]
print(alist)

['a', 'f']

In [3]:
a = "banana"
b = "banana"
print(a is b)

True

In [5]:
a = [81, 82, 83]
b = [81, 82, 83]
print(a is b)
print(a == b)
print(id(a))
print(id(b))

False
True
1700556818888
1700599361224

In [8]:
a = [81, 82, 83]
b = [81, 82, 83]
print (a is b)

b = a
print(a == b)
print( a is b)

b[0] = 5
print(a)
print(b)

False
True
True
[5, 82, 83]
[5, 82, 83]

In [12]:
a = [81, 82, 83]

b = a[:]

print(a == b)
print(a is b)

b[0] = 5
print(a)
print(b)

print(id(a))
print(id(b))

True
False
[81, 82, 83]
[5, 82, 83]
1700599358344
1700599358152

In [17]:
alist = [4,2,8,6,5]
blist = alist * 2
#print(blist)
blist[3] = 999
#print(blist)
print(alist)

[4, 2, 8, 6, 5]

In [18]:
b = ['q','u','i']
z = b
b[1] = 'i'
z.remove('i')
print(z)

['q', 'i']

In [19]:
mylist = []
mylist.append(5)

In [20]:
mylist.append(27)
print(mylist)

[5, 27]

In [21]:
mylist.append(3)
print(mylist)

[5, 27, 3]

In [22]:
mylist.append(12)

In [23]:
mylist

[5, 27, 3, 12]

In [24]:
mylist.insert(1, 12)
mylist

[5, 12, 27, 3, 12]

In [25]:
print(mylist.count(12))

2

In [26]:
print(mylist.index(3))

3

In [27]:
mylist

[5, 12, 27, 3, 12]

In [28]:
mylist.index(3)

3

In [29]:
mylist.index(5)

0

In [30]:
mylist

[5, 12, 27, 3, 12]

In [35]:
mylist.reverse()

In [36]:
mylist

[5, 12, 27, 3, 12]

In [37]:
mylist.sort()

In [38]:
mylist

[3, 5, 12, 12, 27]

In [39]:
mylist.remove(5)

In [40]:
mylist

[3, 12, 12, 27]

In [41]:
last_item = mylist.pop()
print(last_item)
print(mylist)

27
[3, 12, 12]

In [42]:
origlist = [45,32,88]
origlist.append("cat")

In [44]:
origlist

[45, 32, 88, 'cat']

In [45]:
origlist = [45,32,88]
origlist = origlist + ['billi']
origlist

[45, 32, 88, 'billi']

In [50]:
original_list = [45, 32, 88]
print("original list :",original_list)
print("the identifier:",id(original_list))

new_list = original_list + ['cat']
print("new list:",new_list)
print("the identifier:",id(new_list))

original_list.append('cat')
print("original list:",original_list)
print("the identifier:",id(original_list))

original list : [45, 32, 88]
the identifier: 1700604804552
new list: [45, 32, 88, 'cat']
the identifier: 1700604454408
original list: [45, 32, 88, 'cat']
the identifier: 1700604804552

In [55]:
origlist = [45, 32, 88]
aliaslist = origlist
origlist +=['cat']
print(origlist)
print(aliaslist)

print(id(origlist))
print(id(aliaslist))

origlist = origlist + ['cow']
print(id(origlist))
print(id(aliaslist))

[45, 32, 88, 'cat']
[45, 32, 88, 'cat']
1700604593352
1700604593352
1700604596104
1700604593352

In [56]:
ss = "Hello, world"
print(ss.upper())

HELLO, WORLD

In [57]:
tt = ss.lower()
print(tt)
print(ss)

hello, world
Hello, world

In [58]:
ss = "     Hello, World      "
els = ss.count("l")
print(els)

3

In [61]:
print("***"+ss.strip()+"***")

***Hello, World***

In [62]:
news = ss.replace("o","***")

In [63]:
news

'     Hell***, W***rld      '

In [65]:
scores = [("salman",-1),("jawwad",1),("akhtar",3)]
for person in scores:
    name = person[0]
    score= person[1]
    print("Hello "+name+". Your score is "+str(score))

Hello salman. Your score is -1
Hello jawwad. Your score is 1
Hello akhtar. Your score is 3

In [67]:
person = input("Your name: ")
greeting = 'Hello {}!'.format(person)
print(greeting)

Your name: arsalan
Hello arsalan!

In [68]:
a = 5
b = 9
setStr = 'The set is {{{}, {}}}.'.format(a,b)
print(setStr)

The set is {5, 9}.

In [72]:
name = "taha"
greeting = "Nice to meet you"
s = "Hello, {}. {}."

print(s.format(name,greeting))
print(s.format(greeting,name))
#print(s.format(name))

Hello, taha. Nice to meet you.
Hello, Nice to meet you. taha.

In [75]:
origPrice = float(input('Enter the original price: $'))
discount = float(input('Enter discount percentage: '))
newPrice = (1-discount/100)*origPrice
calculation = '${} discounted by {}% is ${}'.format(origPrice,discount,newPrice)
print(calculation)

Enter the original price: $1436
Enter discount percentage: 10
$1436.0 discounted by 10.0% is $1292.4

In [80]:
origPrice = float(input('Enter the original price: $'))
discount = float(input('Enter discount percentage: '))
newPrice = (1-discount/100)*origPrice
calculation = '${:.3f} discounted by {}% is ${:.2f}'.format(origPrice,discount,newPrice)
print(calculation)

Enter the original price: $1436
Enter discount percentage: 10
$1436.000 discounted by 10.0% is $1292.40

In [81]:
v = 2.34567
print('{:.1f} {:.2f} {:.7f}'.format(v,v,v))

2.3 2.35 2.3456700

In [88]:
winners = ['b','a','c']
winners.sort(reverse=True)
z_winners = winners
print(z_winners)

['c', 'b', 'a']