In [1]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [5]:
print("\\\\")

\\

In [9]:
print("The itsy bitsy spider","climed up", "the waterspout.")

The itsy bitsy spider climed up the waterspout.

In [10]:
print("My name is","Arsalan")

My name is Arsalan

In [11]:
print("Monty python")

Monty python

In [13]:
print("My name is","Arsalan.", end=" ")
print("Monty python")

My name is Arsalan. Monty python

In [15]:
print("My name is ", end="")
print("Monty python")

My name is Monty python

In [16]:
print("My","name","is","Monty","python.",sep="-")

My-name-is-Monty-python.

# Modify the first line of code, using 'sep' and 'end' keyword to match the expected output
    Programming***Essentials***in...Python

In [26]:
print("Programming","Essentials","in",sep="***",end="...")
print("Python")

Programming***Essentials***in...Python

In [50]:
##########################
print("original version:")
##########################

print("      *")
print("    *   *")
print("  *       *")
print(" *          *")
print("***        ***")
print("  *        *")
print("  *        *")
print("  *        *")
print("  **********")



##########################################
print("with fewer 'print()' invocations:")
##########################################
print("    *\n   * *\n  *   *\n *     *\n***   ***")
print("  *   *\n  *   *\n  *****")


####################
print("Higher:")
####################

print("         *")
print("        * *")
print("       *   *")
print("      *     *")
print("     *       *")
print("    *         *")
print("   *           *")
print("  *             *")
print(" ******     ******")
print("      *     *")
print("      *     *")
print("      *     *")
print("      *     *")
print("      *     *")
print("      *     *")
print("      *******")

###########################
print("doubled:")
###########################

print("        *               "*2)
print("       * *              "*2)
print("      *   *             "*2)
print("     *     *            "*2)
print("    *       *           "*2)
print("   *         *          "*2)
print("  *           *         "*2)
print(" *****     *****        "*2)
print("     *     *            "*2)
print("     *     *            "*2)
print("     *     *            "*2)
print("     *     *            "*2)
print("     *     *            "*2)
print("     *     *            "*2)
print("     *******            "*2)

original version:
      *
    *   *
  *       *
 *          *
***        ***
  *        *
  *        *
  *        *
  **********
with fewer 'print()' invocations:
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
Higher:
         *
        * *
       *   *
      *     *
     *       *
    *         *
   *           *
  *             *
 ******     ******
      *     *
      *     *
      *     *
      *     *
      *     *
      *     *
      *******
doubled:
        *                       *
       * *                     * *
      *   *                   *   *
     *     *                 *     *
    *       *               *       *
   *         *             *         *
  *           *           *           *
 *****     *****         *****     *****
     *     *                 *     *
     *     *                 *     *
     *     *                 *     *
     *     *                 *     *
     *     *                 *     *
     *     *                 *     *
     *******                 *******

In [51]:
print("H","E","L","L","O",sep="-")

H-E-L-L-O

In [52]:
#ocatal to decimal conversion#
print(0o123)
print(0O123)

83
83

In [53]:
#HEXA TO DEC Conversion
print(0X123)
print(0x123)

291
291

In [59]:
# e is an exponent three times 10 to the power of 8
print(3e8)

300000000.0

In [62]:
6.62607E-34

6.62607e-34

In [65]:
1e-22

1e-22

In [66]:
print("I'm Monty Python")

I'm Monty Python

In [67]:
print('I\'m Monty Python')

I'm Monty Python

In [70]:
print('"I\'m"\n')
print('""learning""\n')
print('"""Python"""')

"I'm"

""learning""

"""Python"""

In [77]:
print(2 ** 3)
print(2 ** 3.)
print(2. **  3)
print(2. **  3.)

8
8.0
8.0
8.0

In [78]:
print(2*3)
print(2*3.)
print(2.*3)
print(2.*3.)

6
6.0
6.0
6.0

In [83]:
print(6/3)
print(6/3.)
print(6./3)
print(6./3.)

2.0
2.0
2.0
2.0

In [84]:
print(6//3)
print(6//3.)
print(6.//3)
print(6.//3.)

2
2.0
2.0
2.0

In [85]:
print(6//4)
print(6.//4)

1
1.0

In [86]:
print(-6//4)
print(6.//-4)

-2
-2.0

In [87]:
print(12%4.5)

3.0

In [90]:
print(0/0)

ZeroDivisionError: division by zero

In [91]:
print(-4+4)

0

In [92]:
print(-4.+8)

4.0

In [93]:
print(+2)

2

In [94]:
print(-2)

-2

In [95]:
print(2 ** 2 **3)

256

In [96]:
print(2*3%5)

1

In [97]:
print(3%5*2)

6

In [98]:
25%13

12

In [99]:
5*12 160

60

In [102]:
160/26 3

6.153846153846154

In [105]:
print((5*((25 % 13)+ 100)/ (2 * 13))//2)

10.0

In [121]:
#once upon a time in Appleland ,john had three apples ,marry had five apples and
#adam had six apples. create variable and store values and finnallt create new 
# varianle totalApples  and store the values and print them.
john = 3
marry = 5
adam = 6

print("John Apple = ",john,"Marry Apples = ",marry,"Adam Apples = ", adam)

total_Apples = john + marry + adam

print("Total no of Apples are = ",total_Apples)

John Apple =  3 Marry Apples =  5 Adam Apples =  6
Total no of Apples are =  14

# Miles to Kilometer and Kilometers to Miles converter

In [133]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, " miles is ", round(miles_to_kilometers,2),"Kilometers")
print(kilometers, " kilometers is ",round(kilometers_to_miles,2),"miles")

7.38  miles is  11.88 Kilometers
12.25  kilometers is  7.61 miles

In [128]:
round()

1.9

In [136]:
x = -1
x = float(x)

y = 3 * x** 3 - 2 * x ** 2 + 3 * x -1
print("y = ",y)

y =  -9.0

In [137]:
anything = input("Enter a number:")
something = int(anything) ** 2.0
print(anything,"to the power of 2 is",something)

Enter a number:2
2 to the power of 2 is 4.0

In [139]:
x = float(input("Enter value for x:"))
y = 1/(x + 1 / (x + 1/(x + 1 / x)))
print("y =",y)

Enter value for x:1
y = 0.6000000000000001

In [143]:
# your task is to prepare a simple code able to evaluate the end time of a 
# period of time, given as a number of minutes(it could be arbitrarily large.)
#The start time is given as of hour(0..23) amd minutes (0..59) the result has to 
# br printed
# for example if an event start at 12:17 and last 59 minutes, it will end 13:16

hour = int(input("Starting time (hours):"))
mins = int(input("Starting time (minutes):"))
dura = int(input("Even duration (minutes):"))

mins = mins + dura # find a total of all minutes
hour = hour + mins // 60# find a number of hours hidden in minutes and update the hour
mins = mins % 60 # correct minutes to fall in the (0..59) range
hour = hour % 24
print(hour,":",mins,sep="")

Starting time (hours):12
Starting time (minutes):17
Even duration (minutes):59
13:16