In [1]:
print("Hello python Interpreter")

Hello python Interpreter

In [1]:
print("Hello python world!")

Hello python world!

In [2]:
message = "Hello python World!"
print(message)

Hello python World!

In [3]:
message = "Hello python crash course world"
print(message)

Hello python crash course world

In [4]:
message = "Hello python crash course reader!"
print(mesage)

NameError: name 'mesage' is not defined

In [5]:
mesage = "Hello python crash course reader!"
print(mesage)

Hello python crash course reader!

In [6]:
name = "arsalan"
print(name.title())

Arsalan

In [7]:
print(name.upper())

ARSALAN

In [8]:
print(name.lower())

arsalan

In [9]:
first_name = "arsalan"
last_name = "manzoor"
full_name = first_name + " "+ last_name

print(full_name)

arsalan manzoor

In [10]:
print("Hello, "+full_name.title()+"!")

Hello, Arsalan Manzoor!

In [11]:
message = "Hello, " + full_name.title() +"!"
print(message)

Hello, Arsalan Manzoor!

In [12]:
print("Python")

Python

In [13]:
print("\tPython")

	Python

In [14]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [15]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [17]:
favorite_language = 'python '
favorite_language

'python '

In [19]:
# rstrip for removing extra whitespace from right side
favorite_language.rstrip()

'python'

In [20]:
favorite_language

'python '

In [21]:
favorite_language = 'python '
favorite_language = favorite_language.rstrip()
favorite_language

'python'

In [22]:
# lstrip for removing extra whitespace from left side
# strip for removing extra whitespace from both sids

In [28]:
favorite_language = '     python'

favorite_language = favorite_language.lstrip()
print(favorite_language)

python

In [27]:
favorite_language = ' python '

favorite_language = favorite_language.strip()
print(favorite_language)

python

In [29]:
message = "One of Python's strengths is its diverse community"
print(message)

One of Python's strengths is its diverse community

In [30]:
message = 'One of Python's strengths is its diverse community'
print(message)

SyntaxError: invalid syntax (<ipython-input-30-4393d1298a94>, line 1)

In [31]:
print "Hello world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello world")? (<ipython-input-31-9fb80848b1b7>, line 1)

In [36]:
person_name = "arsalan"
message = "Hello " + person_name + " would you like to learn some Python today?"
print(message)

Hello arsalan would you like to learn some Python today?

In [37]:
print(person_name.lower())
print(person_name.upper())
print(person_name.title())

arsalan
ARSALAN
Arsalan

In [45]:
print('\tAlbert Einstein once said, "A person who never made a\n\tmistake never tried anything new."')

	Albert Einstein once said, "A person who never made a
	mistake never tried anything new."

In [48]:
famous_person = "Walt Disney"
message = "\t"+famous_person + ' once said, "The way to get started is to quit\n\ttalking and begin doing."'
print(message)

	Walt Disney once said, "The way to get started is to quit
	talking and begin doing."

In [51]:
person_name = " arsalan "

print(person_name.lstrip())

print(person_name.rstrip())

print(person_name.strip())

arsalan
 arsalan
arsalan

In [52]:
2+3

5

In [54]:
3-2

1

In [55]:
2*3

6

In [56]:
3/2

1.5

In [59]:
3 ** 3

27

In [60]:
10 ** 6

1000000

In [61]:
3 ** 2

9

In [62]:
3 ** 1

3

In [63]:
2+3 * 4

14

In [64]:
(2+3)*4

20

In [65]:
0.1 + 0.1

0.2

In [66]:
0.2+0.2

0.4

In [67]:
2* 0.1

0.2

In [68]:
2*0.2

0.4

In [69]:
0.2+0.1

0.30000000000000004

In [70]:
3*0.1

0.30000000000000004

In [73]:
age = 23
message = "Happy "+str(age)+"rd Birthday!"
print(message)

Happy 23rd Birthday!

In [74]:
3/2

1.5

In [75]:
3.0/2

1.5

In [76]:
# Say hello to everyone.
print("Hello python people!")

Hello python people!

In [77]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
# list

In [2]:
bicycles = ['trek', 'cannodale', 'redline', 'spcialized']
print(bicycles)

['trek', 'cannodale', 'redline', 'spcialized']

In [3]:
print(bicycles[0])

trek

In [4]:
print(bicycles[0].title())

Trek

In [5]:
print(bicycles[1])

cannodale

In [6]:
print(bicycles[3])

spcialized

In [7]:
print(bicycles[-1::-1])

['spcialized', 'redline', 'cannodale', 'trek']

In [9]:
message = "My first bicycle was a "+bicycles[0].title()+ "."
message

'My first bicycle was a Trek.'

In [13]:
names = ["ahsan","tahir","junaid","imran","owais"]
greeting = names[1].title() + " is my best friend."
print(greeting)

Tahir is my best friend.

In [14]:
cars = ["honda", "suzuki","mehran","toyota","nissan"]
state = "I would like to own a "+cars[0].title()+" car."
state

'I would like to own a Honda car.'

In [15]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [16]:
motorcycles[0] = 'ducatio'
print(motorcycles)

['ducatio', 'yamaha', 'suzuki']

In [17]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [18]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
motorcycles

['honda', 'yamaha', 'suzuki']

In [19]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0,'ducati')
motorcycles

['ducati', 'honda', 'yamaha', 'suzuki']

In [20]:
del motorcycles[0]
motorcycles

['honda', 'yamaha', 'suzuki']

In [21]:
del motorcycles[1]
motorcycles

['honda', 'suzuki']

In [23]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)
print(motorcycles)

['honda', 'yamaha', 'suzuki']
suzuki
['honda', 'yamaha']

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print("The last motorcycle I was owned was "+last_owned.title()+".")

The last motorcycle I was owned was Suzuki.

In [25]:
first_owned = motorcycles.pop(0)
print("The first motorcycle I owned was a "+first_owned.title()+'.')

The first motorcycle I owned was a Honda.

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [27]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA "+ too_expensive.title()+' is too expensive for me.')

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [40]:
# Invite some people to dinner

guest_list = ["jawaid","akhtar","nasir"]
print(f"{guest_list[0].title()} you'd like to invite to dinner")
print(f"{guest_list[1].title()} you'd like to invite to dinner")
print(f"{guest_list[2].title()} you'd like to invite to dinner")

Jawaid you'd like to invite to dinner
Akhtar you'd like to invite to dinner
Nasir you'd like to invite to dinner

In [41]:
# nasit can't make it! let's invite owais
print(f"Sorry {guest_list[2]} can't make it to dinner.")

Sorry nasir can't make it to dinner.

In [42]:
del guest_list[2]

guest_list.insert(2,"owais")

# print the invitation again

print(f"{guest_list[0].title()} you'd like to invite to dinner")
print(f"{guest_list[1].title()} you'd like to invite to dinner")
print(f"{guest_list[2].title()} you'd like to invite to dinner")

Jawaid you'd like to invite to dinner
Akhtar you'd like to invite to dinner
Owais you'd like to invite to dinner

In [43]:
# we got a bigger table, so let's add some more people to the list.

print("We got a bigger table")
guest_list.insert(0,"imran")
guest_list.insert(2,"kamran")
guest_list.append("jamshaid")

print(f"{guest_list[0].title()} you'd like to invite to dinner")
print(f"{guest_list[1].title()} you'd like to invite to dinner")
print(f"{guest_list[2].title()} you'd like to invite to dinner")
print(f"{guest_list[3].title()} you'd like to invite to dinner")
print(f"{guest_list[4].title()} you'd like to invite to dinner")
print(f"{guest_list[5].title()} you'd like to invite to dinner")

We got a bigger table
Imran you'd like to invite to dinner
Jawaid you'd like to invite to dinner
Kamran you'd like to invite to dinner
Akhtar you'd like to invite to dinner
Owais you'd like to invite to dinner
Jamshaid you'd like to invite to dinner

In [44]:
# oh no table won't arrive on time!

print("you can invite only two people for dinner")

remove_guest1 = guest_list.pop()
remove_guest2 = guest_list.pop()
remove_guest3 = guest_list.pop()
remove_guest4 = guest_list.pop()

print(f"{remove_guest1} sorry you can't invite them to dinner.")
print(f"{remove_guest2} sorry you can't invite them to dinner.")
print(f"{remove_guest3} sorry you can't invite them to dinner.")
print(f"{remove_guest4} sorry you can't invite them to dinner.")

# there should be two people left.Lets invite them.
print(f"{guest_list[0]} please come to dinner")

print(f"{guest_list[1]} please come to dinner")

you can invite only two people for dinner
jamshaid sorry you can't invite them to dinner.
owais sorry you can't invite them to dinner.
akhtar sorry you can't invite them to dinner.
kamran sorry you can't invite them to dinner.
imran please come to dinner
jawaid please come to dinner

In [45]:
# empty out the list
del guest_list[0]
del guest_list[0]

In [46]:
guest_list

[]

In [47]:
cars = ['bmw','audi','toyota','sabaru']
cars.sort()
print(cars)

['audi', 'bmw', 'sabaru', 'toyota']

In [48]:
print(cars)

['audi', 'bmw', 'sabaru', 'toyota']

In [49]:
cars.sort(reverse=True)
print(cars)

['toyota', 'sabaru', 'bmw', 'audi']

In [52]:
print("Here is the orginal list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the orginal list:
['toyota', 'sabaru', 'bmw', 'audi']

Here is the sorted list:
['audi', 'bmw', 'sabaru', 'toyota']

Here is the original list again:
['toyota', 'sabaru', 'bmw', 'audi']

In [53]:
print(cars)

cars.reverse()
print(cars)

['toyota', 'sabaru', 'bmw', 'audi']
['audi', 'bmw', 'sabaru', 'toyota']

In [54]:
print(cars)

cars.reverse()
print(cars)

['audi', 'bmw', 'sabaru', 'toyota']
['toyota', 'sabaru', 'bmw', 'audi']

In [55]:
cars

['toyota', 'sabaru', 'bmw', 'audi']

In [56]:
len(cars)

4

In [71]:
# seeing the world five places you'd like to visit.

locations = ['multan','kashmir','quetta','gilgit','larkana']

print("Original Order:")
print(locations)

print("\n\nAlphabetical Order:")
print(sorted(locations))

print("\n\nOriginal Order again:")
print(locations)

print("\n\nReverese Alphabetical Order:")
print(sorted(locations,reverse=True))

print("\n\nOriginal Order again:")
print(locations)

print("\n\nReverese Order:")
locations.reverse()
print(locations)

print("\n\nReverese Order:")
locations.reverse()
print(locations)

print("\n\n Sort Order:")
locations.sort()
print(locations)

print("\n\n Sort Order with reverse:")
locations.sort(reverse=True)
print(locations)

Original Order:
['multan', 'kashmir', 'quetta', 'gilgit', 'larkana']


Alphabetical Order:
['gilgit', 'kashmir', 'larkana', 'multan', 'quetta']


Original Order again:
['multan', 'kashmir', 'quetta', 'gilgit', 'larkana']


Reverese Alphabetical Order:
['quetta', 'multan', 'larkana', 'kashmir', 'gilgit']


Original Order again:
['multan', 'kashmir', 'quetta', 'gilgit', 'larkana']


Reverese Order:
['larkana', 'gilgit', 'quetta', 'kashmir', 'multan']


Reverese Order:
['multan', 'kashmir', 'quetta', 'gilgit', 'larkana']


 Sort Order:
['gilgit', 'kashmir', 'larkana', 'multan', 'quetta']


 Sort Order with reverse:
['quetta', 'multan', 'larkana', 'kashmir', 'gilgit']