## Print

In [1]:
print("hello")

hello

In [2]:
print('hello')

hello

In [3]:
print("hello 'world' world")

hello 'world' world

In [4]:
print('hello "world" world')

hello "world" world

In [7]:
print("I'm arsalan")

I'm arsalan

In [9]:
# print("Hello "world" world") # this is error

In [10]:
# print('Hello 'world' world') # this is error

In [82]:
print("Py"    +     "thon")

Python

In [83]:
"Py"    "thon"

'Python'

In [84]:
print("""
Usage: thingy [OPTIONS]
    -h                 Dispaly this usage message
    -H hostname        Hostname to connect to
""")

Usage: thingy [OPTIONS]
    -h                 Dispaly this usage message
    -H hostname        Hostname to connect to

### Escape Sequence

In [6]:
print("Hello \"world\" world")

Hello "world" world

In [11]:
print('Hello \'world\' world')

Hello 'world' world

In [12]:
print('I\'m arsalan')

I'm arsalan

In [14]:
print("line A\nline B")

line A
line B

In [15]:
print("line A\nline B\nline C")

line A
line B
line C

In [16]:
print("name\tarsalan")

name	arsalan

In [26]:
#print("this is  backslash\")
# python ka interpreter confuse ky end of line main kya karna hai
# iska hal yeh hai k hamesha // backslash use karna

In [27]:
print("this is backslash\\")

this is backslash\

In [28]:
print("this is double backslash\\\\")

this is double backslash\\

In [29]:
print("hell\blo")

helllo

In [30]:
# this is comment

In [31]:
'''
this is multi line
comment
'''

'\nthis is multi line\ncomment\n'

In [33]:
"""
this is multi line
comment
"""

'\nthis is multi line\ncomment\n'

In [36]:
# output : Line A \n Line B

print("Line A \\n Line B")

Line A \n Line B

In [37]:
print("Line B \\t")

Line B \t

In [38]:
print("this is double backslash \\\\")

this is double backslash \\

In [39]:
print("this is 4 backslah \\\\\\\\")

this is 4 backslah \\\\

In [50]:
# output: \" \'
print("\\\" \\'")

\" \'

In [51]:
2**3**2**1

512

#### Exercise # 1
- *************** Print these following lines***********
- this is \\\ double backslash
- this is /\\/\\/\\/\\ mountain
- he is    awesome (use escape sequence instead of manual spaces)
- \" \n \' (print this is an output)

In [20]:
print("this is \\\\ double slash")
print("this is /\/\/\/\ mountain")
print("he is \tawesome")
print("\\\" \\n \\t \\\' ")

this is \\ double slash
this is /\/\/\/\ mountain
he is 	awesome
\" \n \t \'

In [21]:
# Raw strings - r means ignore escape sequence and treat normal text
print(r"line A \n line B")

line A \n line B

In [22]:
print(r"\" \' \n \t ")

\" \' \n \t

In [29]:
# emoji
print("\U0001F602")
print("\U0001F615")

😂
😕

### Python as a Calculator

In [46]:
print(2+3)
print(2+3*4)
print(2/4)    # floating point division
print(2//4)   # integer divison
print(2**3)   # exponent
print(2**0.5) # squareroot (kun ki underroot kya hota 1/2 or 1/2 = 0.5)
print(round(2**0.5, 4))
print(2**3/2*6-4*(3-4/2))
print(3%2)
# PEDMAS (Parentheses,Exponent,Division,Multi,Add,Sub)
print((2+3) * 2)

# +,- left to right associativity
# * , /, // , % left to right associativity
print((2+3)*5/2%6)
# 5 * 5 / 2 % 6
# 25 / 2 % 6
# 12.5 % 6
# 0.5


print(12.5%6)

print(2**3**2) # right to left associativity
# 2 ** 9
# 512

5
14
0.5
0
8
1.4142135623730951
1.4142
20.0
1
10
0.5
0.5
512

## Variables

In [49]:
number1 = 2
print(number1)

number1 = 4
print(number1)

2
4

In [52]:
name = "arsalan"
print(name)

name = 123
print(name)

arsalan
123

In [53]:
# variable naming rule
# Rule # 1: variable don't start with number like '1number = 4'
# Rule # 2: don't space in variable name
# Rule # 3: dont't use special symbols like $, %, #

In [56]:
#1name = "arslala" # error
name1 = "arsalan" # ok

#name$ = "arsalan" # error
#$name = "arslan" # error

_name = "arsalan" # ok
names_1 = "arslan" # ok

In [54]:
# naming convention for variables
# seperate varible name in _ underscore this is called snake case
# like user_one_name
# OR
# Camel case
# userOneName

### Strings
- Collection of characters inside single quotes and double quotes

In [1]:
first_name = "arslan"
last_name = "manzoor"
print(first_name)
print(last_name)

arslan
manzoor

In [6]:
first_name = "arslan"
last_name = "manzoor"
full_name = first_name+" "+last_name
print(full_name)

# print(full_name+3) # error
print(full_name + "3") # ok
print(full_name + str(3)) # ok
print(full_name * 3)

arslan manzoor
arslan manzoor3
arslan manzoor3
arslan manzoorarslan manzoorarslan manzoor

In [86]:
3 * "un" + "ium"

'unununium'

In [88]:
text = ('Put several strings within parentheses ' 
       'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

### User Input

In [13]:
# input() function
# input() function return string
name = input("Enter your name: ")
print("\nHello " + name)

Enter your name: arsalan

Hello arsalan

In [14]:
age = input("What is your age? ")
print("your age is " + age)

What is your age? 12
your age is 12

In [16]:
number_one = input("Enter number one: ")
number_two = input("Enter number: two: ")
total = number_one + number_two
print("total number is " + total)

Enter number one: 12
Enter number: two: 12
total number is 1212

In [20]:
number_one = input("Enter number one: ")
number_two = input("Enter number: two: ")
total = int(number_one) + int(number_two)
print("total number is " + str(total))

# str
# 4 ---> "4"

# int
# "4" ---> 4

Enter number one: 12
Enter number: two: 12
total number is 24

### More about variables

In [22]:
# name = "arsalan"
# age = 23 
# both are same

name, age = "arsalan", 23
print(name)
print(age)

print("Hello "+name + " your age is "+str(age))

arsalan
23
Hello arsalan your age is 23

In [23]:
x = y = z = 1
print(x)
print(y)
print(z)
print(x+y+z)

1
1
1
3

### Two Inputs

In [24]:
name = input("Enter your name: ")
age = input("Enter your age: ")

Enter your name: arsalan
Enter your age: 12

In [25]:
# by default split use space
name, age = input("Enter your name and age: ").split()
print(name)
print(age)

Enter your name and age: arsalan 23
arsalan
23

In [26]:
name, age = input("Enter your name and age: ").split(",")
print(name)
print(age)

Enter your name and age: arsalan,23
arsalan
23

### String Formatting

In [31]:
name = "arsalan"
age = 23
print("hello "+name + " your age is "+str(age)) # Ugly Syntax

# string formatting python 3
print("hello {} your age is {}".format(name,age+2))


# string formatting python 3.6
print(f"hello {name} your age is {age+2}") # clean code

hello arsalan your age is 23
hello arsalan your age is 25
hello arsalan your age is 25

#### Exercise # 1
- Ask user to input 3 numbers and you have to print average of the numbers using string formatting.
- Bonus:- Try to take all three seperated inputs in one line.

In [54]:
num_1 = input("Enter 1st number: ")
num_2 = input("Enter 2nd number: ")
num_3 = input("Enter 3rd number: ")

print(f"average of three numbers {(int(num_1)+int(num_2)+int(num_3))/3}")

Enter 1st number: 1
Enter 2nd number: 2
Enter 3rd number: 2
average of three numbers 1.6666666666666667

In [56]:
num_1,num_2,num_3 = input("Enter 1st,2nd,3rd Number: ").split(",")

print(f"Your average is {(int(num_1) + int(num_2) + int(num_3))/3}")

Enter 1st,2nd,3rd Number: 2,2,1
Your average is 1.6666666666666667

### String Indexing

In [62]:
language = "python"

# positions (index number)
# starting position

# p = 0
# y = 1
# t = 2
# h = 3
# o = 4
# n = 5

print(language[2])
print(language[0])
print(language[4])

t
p
o

In [63]:
language = "python"

# positions (index number)
# ending position

# p = 0 ----> -6
# y = 1 ----> -5
# t = 2 ----> -4
# h = 3 ----> -3
# o = 4 ----> -2
# n = 5 --- > -1

print(language[-1])
print(language[-2])
print(language[-3])

n
o
h

### Slicing

In [93]:
# ek sy ziyada character print karwana hai to use karengy slicing
lang = "python"

# syntax ---> [start argument: stop argument - 1 : step]
# synatx ---> [1 : 4 - 1]

print(lang[0:4])
print(lang[1:3])
print(lang[0:2])
print(lang[1:2])
print(lang[-3:-1])
print(lang[:])
print(lang[0:])
print(lang[:-1])
print(lang[4:42])
print(lang[42:])

pyth
yt
py
y
ho
python
python
pytho
on

In [91]:
'J' + lang[1:]

'Jython'

In [109]:
# step argument
print("arsalan"[0:5])
print("arsalan"[0:5:1])
print("arsalan"[0:5:2])
print("arsalan"[0::2])
print("arsalan"[0::3])
print("arsalan"[::3])
print("arsalan"[5::-1])
print("arsalan"[::-1]) # same
print("arsalan"[-1::-1]) # same

arsal
arsal
asl
asln
aan
aan
alasra
nalasra
nalasra

### Exercise # 2
- Ask user name and print back user name in reverse order.
- Note:- try to make your program in 2 lines using string formatting.

In [116]:
user_name = input("Enter your name: ")
print(f"\nreverse order: {user_name[::-1]}")

Enter your name: man

reverse order: nam

In [117]:
user_name = input("Enter your name: ")
reverse_name = user_name[::-1]
print(f"\nreverse order: {reverse_name}")

Enter your name: hello

reverse order: olleh

## String Methods

In [3]:
name = "Arsalan MAnZOOR"

In [4]:
# 1. len() function
print(len(name))

15

In [5]:
# 2. lower() method
print(name.lower())

arsalan manzoor

In [6]:
# 3. upper() method
print(name.upper())

ARSALAN MANZOOR

In [7]:
# 4. title() method
print(name.title())

Arsalan Manzoor

In [10]:
# 5. count() method
print(name.count("a"))

2

### Exercise 3
- Take two comma seperated inputs from user
- 1) user name, example - 'Arsalan'
- 2) a single character, 'H'



- output - print 2 lines
- 1). user's name length
- 2). count the character that user inputed (bonus: case insensitive count)

In [40]:
name, count_char = input("Enter name, character count: ").split(",")

print(f"{name.lower()}'s  Length is : {len(name)}")

print(f"{count_char} is  {name.lower().count(count_char.lower())} times.")

Enter name, character count: arsalan, a
arsalan's  Length is : 7
 a is  0 times.

#### Solve problem with spaces using strip method

In [26]:
name = "     Arsalan     "
dots = ".................."

In [30]:
# lstrip() method (for removing left  side spaces)
print(name + dots)

     Arsalan     ..................

In [31]:
print(name.lstrip() + dots)

Arsalan     ..................

In [34]:
# rstrip() method (for removing reight side spaces)
print(name.rstrip()+dots)

     Arsalan..................

In [36]:
# strip() method (remove both spaces)
print(name.strip() + dots)

Arsalan..................

In [37]:
name = "     Arsa    lan     "
print(name)

     Arsa    lan

In [39]:
print(name.replace(" ","")+dots)

Arsalan..................

### Exercise 3 updated spaces solution

In [46]:
# "  Arsalan  " -----> "Arsalan" -----> "arsalan"
# " A " -------> "A" ---- > "a"

In [53]:
name, count_char = input("Enter name, character count: ").split(",")



print(f"{name.lower()}'s  Length is : {len(name.strip())}")

print(f"{count_char} is  {name.strip().lower().count(count_char.strip().lower())} times.")

Enter name, character count:         arsalan, a
        arsalan's  Length is : 7
 a is  3 times.

### Find and replace method

In [1]:
# replace() method
# find() method

In [3]:
# no means pehly waly is ko was main change kardo

string = "she is beautiful and she is good dancer"
print(string.replace("is","was",1))

she was beautiful and she is good dancer

In [7]:
# yahan number ka matlab hai ky first position sy start karna 
# shrow karo
string = "is she is beautiful and she is good dancer"

string.find("is",1)

7

In [11]:
string = "she is beautiful and she is good dancer"

is_position1 = string.find("is") # return number

print(string.find("is",is_position1+1))

25

In [15]:
# center method
name = "arsalan"

# **arsalan** 7 + 2
# 7 string ki length hai or 2 star ky liyeh

name.center(11,"*")

'**arsalan**'

In [16]:
name = input("Enter your name: ")
print(name.center(len(name) + 8 , "*"))

Enter your name: bilal khan
****bilal khan****

In [2]:
# strings are immutable
# ek dafa string bana li tu usko change nahi kar sakty

In [3]:
string = "string"
print(string[1])

t

In [5]:
string[1] = 'T' # Error

TypeError: 'str' object does not support item assignment

In [10]:
print(string.replace("t","T"))
print(string)

sTring
string

In [11]:
# Assignment operator

In [12]:
name = "arsa"

name = name + "lan"

print(name)

arsalan

In [13]:
age = 23
age -= 2
print(age)

21

na