## Print

In [1]:
print("hello")

hello

In [2]:
print('hello')

hello

In [3]:
print("hello 'world' world")

hello 'world' world

In [4]:
print('hello "world" world')

hello "world" world

In [7]:
print("I'm arsalan")

I'm arsalan

In [9]:
# print("Hello "world" world") # this is error

In [10]:
# print('Hello 'world' world') # this is error

In [82]:
print("Py"    +     "thon")

Python

In [83]:
"Py"    "thon"

'Python'

In [84]:
print("""
Usage: thingy [OPTIONS]
    -h                 Dispaly this usage message
    -H hostname        Hostname to connect to
""")

Usage: thingy [OPTIONS]
    -h                 Dispaly this usage message
    -H hostname        Hostname to connect to

### Escape Sequence

In [6]:
print("Hello \"world\" world")

Hello "world" world

In [11]:
print('Hello \'world\' world')

Hello 'world' world

In [12]:
print('I\'m arsalan')

I'm arsalan

In [14]:
print("line A\nline B")

line A
line B

In [15]:
print("line A\nline B\nline C")

line A
line B
line C

In [16]:
print("name\tarsalan")

name	arsalan

In [26]:
#print("this is  backslash\")
# python ka interpreter confuse ky end of line main kya karna hai
# iska hal yeh hai k hamesha // backslash use karna

In [27]:
print("this is backslash\\")

this is backslash\

In [28]:
print("this is double backslash\\\\")

this is double backslash\\

In [29]:
print("hell\blo")

helllo

In [30]:
# this is comment

In [31]:
'''
this is multi line
comment
'''

'\nthis is multi line\ncomment\n'

In [33]:
"""
this is multi line
comment
"""

'\nthis is multi line\ncomment\n'

In [36]:
# output : Line A \n Line B

print("Line A \\n Line B")

Line A \n Line B

In [37]:
print("Line B \\t")

Line B \t

In [38]:
print("this is double backslash \\\\")

this is double backslash \\

In [39]:
print("this is 4 backslah \\\\\\\\")

this is 4 backslah \\\\

In [50]:
# output: \" \'
print("\\\" \\'")

\" \'

In [51]:
2**3**2**1

512

#### Exercise # 1
- *************** Print these following lines***********
- this is \\\ double backslash
- this is /\\/\\/\\/\\ mountain
- he is    awesome (use escape sequence instead of manual spaces)
- \" \n \' (print this is an output)

In [20]:
print("this is \\\\ double slash")
print("this is /\/\/\/\ mountain")
print("he is \tawesome")
print("\\\" \\n \\t \\\' ")

this is \\ double slash
this is /\/\/\/\ mountain
he is 	awesome
\" \n \t \'

In [21]:
# Raw strings - r means ignore escape sequence and treat normal text
print(r"line A \n line B")

line A \n line B

In [22]:
print(r"\" \' \n \t ")

\" \' \n \t

In [29]:
# emoji
print("\U0001F602")
print("\U0001F615")

😂
😕

### Python as a Calculator

In [46]:
print(2+3)
print(2+3*4)
print(2/4)    # floating point division
print(2//4)   # integer divison
print(2**3)   # exponent
print(2**0.5) # squareroot (kun ki underroot kya hota 1/2 or 1/2 = 0.5)
print(round(2**0.5, 4))
print(2**3/2*6-4*(3-4/2))
print(3%2)
# PEDMAS (Parentheses,Exponent,Division,Multi,Add,Sub)
print((2+3) * 2)

# +,- left to right associativity
# * , /, // , % left to right associativity
print((2+3)*5/2%6)
# 5 * 5 / 2 % 6
# 25 / 2 % 6
# 12.5 % 6
# 0.5


print(12.5%6)

print(2**3**2) # right to left associativity
# 2 ** 9
# 512

5
14
0.5
0
8
1.4142135623730951
1.4142
20.0
1
10
0.5
0.5
512

## Variables

In [49]:
number1 = 2
print(number1)

number1 = 4
print(number1)

2
4

In [52]:
name = "arsalan"
print(name)

name = 123
print(name)

arsalan
123

In [53]:
# variable naming rule
# Rule # 1: variable don't start with number like '1number = 4'
# Rule # 2: don't space in variable name
# Rule # 3: dont't use special symbols like $, %, #

In [56]:
#1name = "arslala" # error
name1 = "arsalan" # ok

#name$ = "arsalan" # error
#$name = "arslan" # error

_name = "arsalan" # ok
names_1 = "arslan" # ok

In [54]:
# naming convention for variables
# seperate varible name in _ underscore this is called snake case
# like user_one_name
# OR
# Camel case
# userOneName

### Strings
- Collection of characters inside single quotes and double quotes

In [1]:
first_name = "arslan"
last_name = "manzoor"
print(first_name)
print(last_name)

arslan
manzoor

In [6]:
first_name = "arslan"
last_name = "manzoor"
full_name = first_name+" "+last_name
print(full_name)

# print(full_name+3) # error
print(full_name + "3") # ok
print(full_name + str(3)) # ok
print(full_name * 3)

arslan manzoor
arslan manzoor3
arslan manzoor3
arslan manzoorarslan manzoorarslan manzoor

In [86]:
3 * "un" + "ium"

'unununium'

In [88]:
text = ('Put several strings within parentheses ' 
       'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

### User Input

In [13]:
# input() function
# input() function return string
name = input("Enter your name: ")
print("\nHello " + name)

Enter your name: arsalan

Hello arsalan

In [14]:
age = input("What is your age? ")
print("your age is " + age)

What is your age? 12
your age is 12

In [16]:
number_one = input("Enter number one: ")
number_two = input("Enter number: two: ")
total = number_one + number_two
print("total number is " + total)

Enter number one: 12
Enter number: two: 12
total number is 1212

In [20]:
number_one = input("Enter number one: ")
number_two = input("Enter number: two: ")
total = int(number_one) + int(number_two)
print("total number is " + str(total))

# str
# 4 ---> "4"

# int
# "4" ---> 4

Enter number one: 12
Enter number: two: 12
total number is 24

### More about variables

In [22]:
# name = "arsalan"
# age = 23 
# both are same

name, age = "arsalan", 23
print(name)
print(age)

print("Hello "+name + " your age is "+str(age))

arsalan
23
Hello arsalan your age is 23

In [23]:
x = y = z = 1
print(x)
print(y)
print(z)
print(x+y+z)

1
1
1
3

### Two Inputs

In [24]:
name = input("Enter your name: ")
age = input("Enter your age: ")

Enter your name: arsalan
Enter your age: 12

In [25]:
# by default split use space
name, age = input("Enter your name and age: ").split()
print(name)
print(age)

Enter your name and age: arsalan 23
arsalan
23

In [26]:
name, age = input("Enter your name and age: ").split(",")
print(name)
print(age)

Enter your name and age: arsalan,23
arsalan
23

### String Formatting

In [31]:
name = "arsalan"
age = 23
print("hello "+name + " your age is "+str(age)) # Ugly Syntax

# string formatting python 3
print("hello {} your age is {}".format(name,age+2))


# string formatting python 3.6
print(f"hello {name} your age is {age+2}") # clean code

hello arsalan your age is 23
hello arsalan your age is 25
hello arsalan your age is 25

#### Exercise # 1
- Ask user to input 3 numbers and you have to print average of the numbers using string formatting.
- Bonus:- Try to take all three seperated inputs in one line.

In [54]:
num_1 = input("Enter 1st number: ")
num_2 = input("Enter 2nd number: ")
num_3 = input("Enter 3rd number: ")

print(f"average of three numbers {(int(num_1)+int(num_2)+int(num_3))/3}")

Enter 1st number: 1
Enter 2nd number: 2
Enter 3rd number: 2
average of three numbers 1.6666666666666667

In [56]:
num_1,num_2,num_3 = input("Enter 1st,2nd,3rd Number: ").split(",")

print(f"Your average is {(int(num_1) + int(num_2) + int(num_3))/3}")

Enter 1st,2nd,3rd Number: 2,2,1
Your average is 1.6666666666666667

### String Indexing

In [62]:
language = "python"

# positions (index number)
# starting position

# p = 0
# y = 1
# t = 2
# h = 3
# o = 4
# n = 5

print(language[2])
print(language[0])
print(language[4])

t
p
o

In [63]:
language = "python"

# positions (index number)
# ending position

# p = 0 ----> -6
# y = 1 ----> -5
# t = 2 ----> -4
# h = 3 ----> -3
# o = 4 ----> -2
# n = 5 --- > -1

print(language[-1])
print(language[-2])
print(language[-3])

n
o
h

### Slicing

In [93]:
# ek sy ziyada character print karwana hai to use karengy slicing
lang = "python"

# syntax ---> [start argument: stop argument - 1 : step]
# synatx ---> [1 : 4 - 1]

print(lang[0:4])
print(lang[1:3])
print(lang[0:2])
print(lang[1:2])
print(lang[-3:-1])
print(lang[:])
print(lang[0:])
print(lang[:-1])
print(lang[4:42])
print(lang[42:])

pyth
yt
py
y
ho
python
python
pytho
on

In [91]:
'J' + lang[1:]

'Jython'

In [109]:
# step argument
print("arsalan"[0:5])
print("arsalan"[0:5:1])
print("arsalan"[0:5:2])
print("arsalan"[0::2])
print("arsalan"[0::3])
print("arsalan"[::3])
print("arsalan"[5::-1])
print("arsalan"[::-1]) # same
print("arsalan"[-1::-1]) # same

arsal
arsal
asl
asln
aan
aan
alasra
nalasra
nalasra

### Exercise # 2
- Ask user name and print back user name in reverse order.
- Note:- try to make your program in 2 lines using string formatting.

In [116]:
user_name = input("Enter your name: ")
print(f"\nreverse order: {user_name[::-1]}")

Enter your name: man

reverse order: nam

In [117]:
user_name = input("Enter your name: ")
reverse_name = user_name[::-1]
print(f"\nreverse order: {reverse_name}")

Enter your name: hello

reverse order: olleh

## String Methods

In [3]:
name = "Arsalan MAnZOOR"

In [4]:
# 1. len() function
print(len(name))

15

In [5]:
# 2. lower() method
print(name.lower())

arsalan manzoor

In [6]:
# 3. upper() method
print(name.upper())

ARSALAN MANZOOR

In [7]:
# 4. title() method
print(name.title())

Arsalan Manzoor

In [10]:
# 5. count() method
print(name.count("a"))

2

### Exercise 3
- Take two comma seperated inputs from user
- 1) user name, example - 'Arsalan'
- 2) a single character, 'H'



- output - print 2 lines
- 1). user's name length
- 2). count the character that user inputed (bonus: case insensitive count)

In [40]:
name, count_char = input("Enter name, character count: ").split(",")

print(f"{name.lower()}'s  Length is : {len(name)}")

print(f"{count_char} is  {name.lower().count(count_char.lower())} times.")

Enter name, character count: arsalan, a
arsalan's  Length is : 7
 a is  0 times.

#### Solve problem with spaces using strip method

In [26]:
name = "     Arsalan     "
dots = ".................."

In [30]:
# lstrip() method (for removing left  side spaces)
print(name + dots)

     Arsalan     ..................

In [31]:
print(name.lstrip() + dots)

Arsalan     ..................

In [34]:
# rstrip() method (for removing reight side spaces)
print(name.rstrip()+dots)

     Arsalan..................

In [36]:
# strip() method (remove both spaces)
print(name.strip() + dots)

Arsalan..................

In [37]:
name = "     Arsa    lan     "
print(name)

     Arsa    lan

In [39]:
print(name.replace(" ","")+dots)

Arsalan..................

### Exercise 3 updated spaces solution

In [46]:
# "  Arsalan  " -----> "Arsalan" -----> "arsalan"
# " A " -------> "A" ---- > "a"

In [53]:
name, count_char = input("Enter name, character count: ").split(",")



print(f"{name.lower()}'s  Length is : {len(name.strip())}")

print(f"{count_char} is  {name.strip().lower().count(count_char.strip().lower())} times.")

Enter name, character count:         arsalan, a
        arsalan's  Length is : 7
 a is  3 times.

### Find and replace method

In [1]:
# replace() method
# find() method

In [3]:
# no means pehly waly is ko was main change kardo

string = "she is beautiful and she is good dancer"
print(string.replace("is","was",1))

she was beautiful and she is good dancer

In [7]:
# yahan number ka matlab hai ky first position sy start karna 
# shrow karo
string = "is she is beautiful and she is good dancer"

string.find("is",1)

7

In [11]:
string = "she is beautiful and she is good dancer"

is_position1 = string.find("is") # return number

print(string.find("is",is_position1+1))

25

In [15]:
# center method
name = "arsalan"

# **arsalan** 7 + 2
# 7 string ki length hai or 2 star ky liyeh

name.center(11,"*")

'**arsalan**'

In [16]:
name = input("Enter your name: ")
print(name.center(len(name) + 8 , "*"))

Enter your name: bilal khan
****bilal khan****

In [2]:
# strings are immutable
# ek dafa string bana li tu usko change nahi kar sakty

In [3]:
string = "string"
print(string[1])

t

In [5]:
string[1] = 'T' # Error

TypeError: 'str' object does not support item assignment

In [10]:
print(string.replace("t","T"))
print(string)

sTring
string

In [11]:
# Assignment operator

In [12]:
name = "arsa"

name = name + "lan"

print(name)

arsalan

In [13]:
age = 23
age -= 2
print(age)

21

### If Statement

In [1]:
# syntax
# if condition:
      # code # if condition is true
      # code

In [3]:
age = input("enter your age: ")
age = int(age)

if age >= 14:
    print("line a")
    print("you are above 14.")

enter your age: 14
line a
you are above 14.

In [4]:
# pass statement

In [5]:
x = 18
if x > 18:

SyntaxError: unexpected EOF while parsing (<ipython-input-5-bdf7972c6774>, line 2)

In [6]:
# agar ap ko block main kuch bhi nahi likhna tu usky liyeh pass
# statement use karengy

In [7]:
x = 18
if x > 18:
    pass

In [8]:
# else statement

In [10]:
age = input("enter your age: ")
age = int(age)

if age >= 14:
    print("line a")
    print("you are above 14.")
else:
    print("sorry, you can't play.")

enter your age: 14
line a
you are above 14.

### Exercise: 1

In [11]:
# Exercise, Number Guessing game
# Make a variable, like winning_number and assign any number to it.
# Ask user to guess a number.
# if user guessed correctly then print "YOU WIN!!!!"

# if user didn't guessed correctly :
      # if user guessed lower than actual number then print "too low"
      # if user guessed higher than actual number then print "too high"

# google "how to generate random number"

In [14]:
winning_number = 10
guess_number = int(input("Enter a number: "))

if guess_number == winning_number:
    print("YOU WIN !!!!")
else:
    if guess_number < winning_number:
        print("Too low")
    else:
        print("Too high")

Enter a number: 10
YOU WIN !!!!

In [15]:
# and , or 
# check two conditions at same time

In [18]:
# and operator main dono conditions ka true hona zaroori hai
name = "abc"
age = 20

if name == 'abc' and age == 19:
    print("Condition true")
else:
    print("Condition false")

Condition false

In [19]:
# or operator main ek bhi condition true hogi tu true return hoga

name = "abc"
age = 20

if name == 'abc' or age == 19:
    print("Condition true")
else:
    print("Condition false")

Condition true

### Exercise 2

In [1]:
# Exercise - WATACH COCO

# Ask user's name and age

# If user's name start with ('a' or 'A') and age is above 10 then

# print 'you can watch coco movie'

# else print 'sorry, you cannot watch coco'

In [9]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
if (name[0] == 'a' or name[0] == 'A') and age >= 10:
    print('You can watch coco movie')
else:
    print('sorry, you cannot watch coco.')

Enter your name: ahad
Enter your age: 9
sorry, you cannot watch coco.

In [1]:
# If-elif-else statement

In [32]:
# show ticket pricing

# 1 to 3 (free)

# 4 to 10 (150)

# 11 to 60 (250)

# above 60 (200)


age = input("Enter age:")
age= int(age)

if (age > 0) and (age<= 3):
    print("Your ticket is free")
elif (age > 3) and (age <=10):
    print("Ticket Price: 150.")
elif (age > 10) and (age <=60):
    print("Ticket price:  250.")
else:
    print("Ticket price: 200")

Enter age:50
Ticket price:  250.

In [33]:
# in keyword

In [37]:
name = "arsalan"

# in keyword

# if with in 

if "p" in name:
    print("present")
else:
    print("not present")

not present

In [38]:
# check empty or not

In [41]:
# important
# "kya yeh string empty hai ya nahi hai"
name = "12"

if name: # true if string is not empty
    print("string is not empty")
else:
    print("string is empty")

string is not empty

# loop

In [5]:
# loops
# while loop, for loop

# print("hello world") # 10 times

i = 1
while i <= 10:
    print(i,": hello world")
    i = i + 1

1 : hello world
2 : hello world
3 : hello world
4 : hello world
5 : hello world
6 : hello world
7 : hello world
8 : hello world
9 : hello world
10 : hello world

In [6]:
# sum 1 to 10 (for any number)

i = 1

total = 0
while i <=10:
    
    total = total + i # total = 0 + 1 + 2+ 3 + 4 .. and so on
    i = i +1
print(total)

55

## Exercise : 3

In [7]:
# sum of n natural numbers 
# ask a user for natural number(n)
# print(total from 1 to n)

In [10]:
i = 1
n = int(input("Enter number: "))
total = 0

while i <= n:
    total = total + i
    i = i + 1
print(total)

Enter number: 20
210

## Exercise : 4

In [11]:
# ask user to input a number containing more than one digit
# example - 1256
# calculate 1 + 2 + 5 + 6 and print it

In [3]:
n = input("Enter number: ")
total = 0
i = 0
while i < len(n):
    number = n[i]
    total = total + int(number)
    i = i + 1
    
    
print(total)

Enter number: 123456
21

## Exercise : 5

In [4]:
# ask a user for name
# Example - Arsalan Manzoor
# print( count of each words)
# output:
    # A: 1
    # r: 1
    # s: 1
    # a: 2
    # l: 1
    # n: 1

In [20]:
name = input("Enter name: ")

i = 0
temp = ""
while i < len(name):
    if name[i] not in temp:
        temp = temp + name[i]
        print(f"{name[i]}: {name.count(name[i])}")
        
    i = i + 1

Enter name: arsalan
a: 3
r: 1
s: 1
l: 1
n: 1

In [1]:
# infinite loop

In [23]:
# i = 0

# while i <= 10:
   # print("hello world")

In [4]:
# for loop with range function

In [8]:
for i in range(10): # 0 to 9
    print(i,": hello world")

0 : hello world
1 : hello world
2 : hello world
3 : hello world
4 : hello world
5 : hello world
6 : hello world
7 : hello world
8 : hello world
9 : hello world

In [10]:
# sum from 1 to 10
total = 0

for i in range(1,11):
    total = total + i
print(total)

55

In [16]:
# sum with user input 1+2+3.....n
n = int(input("enter number: "))

total = 0

for i in range(1, n+1):
    total = total + i
print(total)

enter number: 12
78

In [12]:
# practice for loop
# ask user a number like 1256
# calculate sum of digits ---> 1 + 2 +5 + 6

In [15]:
n = input("Enter number: ")

total = 0

for i in range(0, len(n)):
    total = total + int(n[i])
print(total)

Enter number: 1256
14

In [24]:
# practice for loop
# ask user name and count each character
# "arsalan manzoor"

name = input("Enter name: ")

temp_var = ""

for i in range(0, len(name)):
    if name[i] not in temp_var:
        print(f"{name[i]}: {name.count(name[i])}")
        temp_var = temp_var + name[i]

Enter name: Arsalan
A: 1
r: 1
s: 1
a: 2
l: 1
n: 1

In [25]:
# break and continue keyword

In [26]:
# 1 to 10 print

for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [27]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

## Exercise : 6

In [28]:
# Modify Number Guessing game

In [44]:
import random

secret_number = random.randint(1,10)
counter = 1
game_over = False

guess_number = int(input("Guess a number between 0 to 10: "))
   
while not game_over:
    if guess_number == secret_number:
        print(f"You win, and you guessed this number {counter} in times")
        game_over = True
    else:
        if guess_number < secret_number:
            print("Too low")
        else:
            print("Too High")
        counter +=1
        guess_number = int(input("Guess again: "))

Guess a number between 0 to 10: 8
Too low
Guess again: 2
Too low
Guess again: 3
Too low
Guess again: 4
Too low
Guess again: 6
Too low
Guess again: 9
Too low
Guess again: 10
You win, and you guessed this number 7 in times

In [45]:
# Step argument

In [54]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [57]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
# for loop and string

In [6]:
# name = "arsalan"
# for i in range(len(name)):
#     print(name[i])

name = "arsalan"

for i in name:
    print(i)

a
r
s
a
l
a
n

In [8]:
# 1235 ---> 1+ 2+5+6

n = input("Enter number")
total = 0

for i in n:
    total += int(i)
print(total)

Enter number12
3

## Summary

In [11]:
# if statment

name = "arsalan"

if name == "arsalan" or name == "Arsalan":
    print("you are arsalan")
elif name == "faizan":
    print("you are faizan")
else:
    print("you are not arsalan")

you are arsalan

In [13]:
# while
i = 1

while i <= 10:
    print(i,"hello world")
    i = i + 1

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world

In [14]:
# for loop

for i in range(1,11):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world

In [15]:
# for loop with step argument

for i in range(1,11,2):
    print(i, "hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [16]:
# break statement

for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
# continue statement
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [18]:
# for loop with string
for i in "arsalan":
    print(i)

a
r
s
a
l
a
n

# Functions

In [24]:
# functions
# ek hi code ko bar bar use kary hain

name = "arsalan"
print(len(name))

7

In [1]:
def add_two(a, b):
    return a + b

In [2]:
total = add_two(1,2)
print(total)

3

In [3]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
total = add_two(a, b)
print(total)

Enter first number: 10
Enter second number: 30
40

In [4]:
first_name = input("type first name: ")
last_name = input("type last name:")
print(add_two(first_name,last_name))

type first name: arsalan
type last name:manzoor
arsalan manzoor

In [5]:
# print vs return

In [6]:
def add_three(a, b, c):
    return a + b + c

In [8]:
return_val = add_three(5,5,5)
print(return_val)

15

In [10]:
# functions practice

In [11]:
def last_char(name):
    return name[-1]

In [12]:
last_char("arsalan")

'n'

In [13]:
last_char(9) # error

TypeError: 'int' object is not subscriptable

In [15]:
def odd_even(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [20]:
print(odd_even(9))

odd

In [21]:
# both are same
def odd_even(num):
    if num%2==0:
        return "even"
    return "odd"

In [22]:
print(odd_even(10))

even

In [26]:
def is_even(num):
    if num % 2==0:
        return True
    else:
        return False

In [28]:
is_even(1)

False

In [1]:
def is_even(num):
    return num % 2 == 0

In [3]:
print(is_even(1))

False

### Exercise : 1

In [6]:
# define function that take two numbers and find greatest number.

In [1]:
def is_greatest(num1, num2):
    if num1>num2:
        return f"{num1}"
    else:
        return f"{num2}"

In [2]:
is_greatest(2,11)

'11'

In [3]:
is_greatest(21,2)

'21'

In [1]:
def greatest(a,b,c):
    if (a > b) and (a > c):
        return f"{a}"
    elif (b > a) and (b > c):
        return f"{b}"
    else:
        return f"{c}"

In [5]:
greatest(10,6,2)

'10'

### Exercise : 2

In [7]:
# Define is_palindrome function that take one word in string as
# input and return True if it is palindrome else return false

# palindrome - word that reads same backwards as forwards

# example 

# is_palindrome("madam") ------> True
# is_palindrome("naman") ------> True
# is_palindrome("horse") ------> False

# logic (algorithm)
# step 1  -> reverse the string
# step 2  -> compare reverse string with original string

In [11]:
def is_palindrome(s):
    reverse_string = s[::-1]
    
    if s == reverse_string:
        return True
    else:
        return False

In [12]:
is_palindrome("madam")

True

In [13]:
is_palindrome("naman")

True

In [14]:
is_palindrome("horse")

False

In [15]:
# short method
def is_palindrome(s):
    return s == s[::-1]

In [16]:
is_palindrome("naman")

True

In [17]:
is_palindrome("horse")

False

### Fibonacci series program

In [11]:
# fibonacci series
# 0 1 1 2 3 5 8 13 21 34

# 1 ---- > 0
# 2 -----> 0 1
# 3------> 0 1 1

In [13]:
def fibonacci_seq(n):
    a = 0 # first_number 
    b = 1 # second_number
    
    if n == 1:
        print(a)
    elif n == 2:
        print(a, b)
    else:
        print(a, b, end=" ")
        for i in range(n-2):
            c = a + b # c = 1
            
            a = b  # a = 1
            
            b = c # b = 1
            print(b, end=" ")

In [18]:
fibonacci_seq(6)

0 1 1 2 3 5

In [19]:
# default parameters

In [23]:
def user_info(first_name, last_name, age=23):
    print(f"your first name is {first_name}")
    print(f"your last name is {last_name}")
    print(f"your age is {age}")

In [25]:
user_info("arsalan", "manzoor",24)

your first name is arsalan
your last name is manzoor
your age is 24

In [26]:
# Scope

In [13]:
x = 5 # global variable

def func():
    global x
    x = 7 # local variable
    return x

def func2():
    print(x)
    
    
print(x)
func2()
print(func())
print(x)

5
5
7
7

# List

In [1]:
# data structures
# list 
# ordered collection of items

# you can store anything in lists int, float, string

In [2]:
numbers = [1, 2, 3, 4]
print(numbers)

[1, 2, 3, 4]

In [3]:
words = ["word1", "word2", "word3"]
print(words)

['word1', 'word2', 'word3']

In [5]:
mixed = [1, 2, 3, 4, "five", "six", 2.3, None]
print(mixed)

[1, 2, 3, 4, 'five', 'six', 2.3, None]

In [6]:
print(mixed[1])

2

In [7]:
print(mixed[:2])

[1, 2]

In [8]:
print(mixed[-1])

None

In [9]:
mixed[1] = 'two'

In [10]:
print(mixed)

[1, 'two', 3, 4, 'five', 'six', 2.3, None]

In [11]:
mixed[1:] = 'two'
print(mixed)

[1, 't', 'w', 'o']

In [12]:
mixed[1:] = ['three', 'four']

In [13]:
print(mixed)

[1, 'three', 'four']

In [17]:
# how to add items to out list
# most common thing that you can do with your list and most important
# append method add item to the end of list
fruits = ['grapes', 'apple']
print(fruits)

['grapes', 'apple']

In [15]:
fruits.append('mango')
print(fruits)

['grapes', 'apple', 'mango']

In [19]:
fruits = []
print(fruits)

[]

In [20]:
fruits.append('mango')
fruits.append('grapes')
print(fruits)

['mango', 'grapes']

In [21]:
# some more methods to add data in out list
# insert method
# how to join(concatenate) two list
# extend method
# difference between append and extend

In [23]:
fruits1 = ['mango', 'orange']
print(fruits1)

['mango', 'orange']

In [24]:
fruits1.insert(1, 'grapes')
print(fruits1)

['mango', 'grapes', 'orange']

In [26]:
fruits2 = ['grapes', 'apple']
print(fruits2)

['grapes', 'apple']

In [27]:
fruits = fruits1 + fruits2
print(fruits)

['mango', 'grapes', 'orange', 'grapes', 'apple']

In [29]:
print(fruits1)
print(fruits2)

['mango', 'grapes', 'orange']
['grapes', 'apple']

In [30]:
fruits1.extend(fruits2)
print(fruits1)

['mango', 'grapes', 'orange', 'grapes', 'apple']

In [31]:
fruits1.append(fruits2)
print(fruits1)

['mango', 'grapes', 'orange', 'grapes', 'apple', ['grapes', 'apple']]

In [33]:
# Delete data from list
# common methods to delete data from list

In [34]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [35]:
# pop method
fruits.pop()
print(fruits)

['orange', 'apple', 'pear', 'banana']

In [36]:
fruits.pop(1)
print(fruits)

['orange', 'pear', 'banana']

In [37]:
# del

In [38]:
fruits

['orange', 'pear', 'banana']

In [39]:
del fruits[1]
print(fruits)

['orange', 'banana']

In [40]:
# remove method

In [41]:
fruits.remove("banana")
print(fruits)

['orange']

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'apple', 'kiwi']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'apple', 'kiwi']

In [2]:
fruits.remove('apple')
print(fruits)

['orange', 'pear', 'banana', 'apple', 'kiwi']

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi']

In [5]:
if 'apple' in fruits:
    print('apple is present')
else:
    print('not present')

apple is present

In [1]:
# some more methods

In [2]:
# count
# sort method
# sorted fucntion
# reverse
# clear
# copy

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi','apple','banana']

In [5]:
print(fruits.count('apple'))

2

In [6]:
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [10]:
numbers = [3,4,5,1,9,10]
print(numbers)
numbers.sort()

[3, 4, 5, 1, 9, 10]

In [9]:
print(numbers)

[1, 3, 4, 5, 9, 10]

In [12]:
# sorted function will not effect on original list
print(sorted(numbers))

[1, 3, 4, 5, 9, 10]

In [13]:
numbers.clear()

In [14]:
print(numbers)

[]

In [15]:
fruits_copy = fruits.copy()
print(fruits_copy)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [24]:
# compare lists
# ==  (check values are same) 
# is(pointing both are same memory location)

In [17]:
fruits1 = ['apple', 'orange', 'banana']
fruits2 = ['banana', 'kiwi', 'apple']

In [18]:
print(fruits1 == fruits2)

False

In [19]:
fruits1 = ['apple', 'orange', 'banana']
fruits3 = ['apple', 'orange', 'banana']

In [21]:
print(fruits1 == fruits3) # values are same

True

In [22]:
print(fruits1 is fruits3)

False

In [23]:
print(id(fruits1))
print(id(fruits3))

140477649247304
140477649247432

In [25]:
# split method
# convert string to list

# join method
# conver list to string

In [27]:
user_info = 'arsalan 24'.split()

In [28]:
user_info

['arsalan', '24']

In [29]:
user_info = 'arsalan,24'.split(',')
print(user_info)

['arsalan', '24']

In [30]:
name, age = 'arsalan,24'.split(',')
print(name)
print(age)

arsalan
24

In [31]:
# join method 
# list main string waly items ky sath use karengy
user_info = ['arsalan', '24']

In [34]:
print(':'.join(user_info))

arsalan:24

#### List vs Array

In [35]:
# array data are hetrogeneous (ek hi tarah ka data store kar sakty hain)
# list data are homogeneous (koi bhi data store kar sakty hain)

In [36]:
# list - store any data / flexible

#### List vs String

In [37]:
# Strings are immutable
# Lists are mutable

In [40]:
s = "string"

In [41]:
s.title()

'String'

In [42]:
s

'string'

In [39]:
l = ['word1','word2','word3']

In [43]:
l.pop()

'word3'

In [44]:
l

['word1', 'word2']

In [45]:
l.append('word4')

In [47]:
l

['word1', 'word2', 'word4']

### Exercise : 1

In [1]:
# define a function which will take list containing numbers as input
# and return list containing square of every elements

# example 
# numbers = [1, 2, 3, 4]
# square_list(numbers) ----> return -----> [1, 2, 9, 16]

In [4]:
def squares(numbers):
    new_numbers = []
    for number in numbers:
        new_numbers.append(number*number)
    return new_numbers

return_numbers = squares([1, 2, 3, 4])
print(return_numbers)

[1, 4, 9, 16]

### Exercise: 2

In [5]:
# define a function which will take list as a argument and this 
# function will return a reversed list

# examples
# [1,2,3,4] ---> [4,3,2,1]
# ['word1', 'word2']--->['word2', 'word1']

# Note you simply do this with reverse method or [::-1]

# but try to do this with the help of append and pop method

In [12]:
def reverse(li):
    reverse_list = []
    
    for iteration in range(len(li)):
        reverse_list.append(li.pop())
    return reverse_list

value_1 = reverse([1,2,3,4])
print(value_1)

value_2 = reverse(['word1', 'word2'])
print(value_2)

[4, 3, 2, 1]
['word2', 'word1']

### Exercise: 3

In [14]:
# define a function that take list of words as argument and 
# return list with reverse of every element in that list

# example 
# ['abc', 'tuv', 'xyz'] ---> ['cba', 'vut', 'zyx']

In [19]:
def reverse_words(l):
    new_list = []
    for words in l:
        new_list.append(words[::-1])
    return new_list

return_words = reverse_words(['abc', 'tuv', 'xyz'])

print(return_words)

['cba', 'vut', 'zyx']

### Exercise: 4

In [20]:
# filter odd even
# define a function
# input
# list ---> [1, 2, 3, 4, 5, 6]
# output ----> [[1,3,5,7], [2,4,6]]

In [30]:
def filter_odd_even(l):
    odd_nums = []
    even_nums = []
    
    
    for number in l:
        if number % 2 == 0:
            even_nums.append(number)
        else:
            odd_nums.append(number)
    odd_even = [odd_nums,even_nums]
    return odd_even

print(filter_odd_even([1,2,3,4,5,6,7]))

[[1, 3, 5, 7], [2, 4, 6]]

### Exercise: 5

In [31]:
# common elements finder function
# define a function which take 2 lists as input and return a list
# which contains common elements of both lists

# example 
# input ---> [1, 2, 5, 8], [1, 2, 7, 6]
# output --->[1, 2]

In [1]:
def common_functions(list_1, list_2):
    common_list = []
    for i in list_1:
        if i in list_2:
            common_list.append(i)
    return common_list

In [2]:
common_functions([1,2,5,8],[1,2,7,6])

[1, 2]

In [3]:
# min and max function

In [9]:
numbers = [6,60,2]
print(min(numbers))
print(max(numbers))

2
60

### Exercise: 6

In [1]:
# last exercise
# function which take list and return how many lists in lists
# example
# [1, 2, 4, [1, 2]]
# 1

# [1, 2, 4, [1, 2], [3,3]]
# 2

# hint use:
# type() function

In [10]:
def how_many_lists(l):
    number_of_lists = 0
    for element in l:
        if type(element) == list:
            number_of_lists += 1
    return number_of_lists

In [16]:
print(how_many_lists([1,2,3, [1,2], [3,4]]))

2

# Tuples

In [1]:
# tules data structure
# tuple can store any data type
# most important tuples are immutale, once tuple is created you can't update

example = ('one', 'two', 'three')
# no append, no insert, no pop, no remove

# tuple methods:
# count, index

print(example[:2])

('one', 'two')

In [3]:
# ERROR

# example[0] = 1

In [4]:
# looping in tuples
# tuple with one element
# tuple without parenthesis
# tuple unpacking
# list inside tuple
# some functions that you can use with tuples

mixed = (1, 2, 3, 4.0)

In [5]:
# for loop and tuple
for i in mixed:
    print(i)

1
2
3
4.0

In [7]:
# while loop and tuple
i = 0
while i< len(mixed):
    print(mixed[i])
    i = i +1

1
2
3
4.0

In [15]:
# tuple with one element
nums = (1)
print(type(nums))

words = ('word1')
print(type(words))

<class 'int'>
<class 'str'>

In [12]:
# agar app ko single element ka tuple banan hai toh end main 
# element ky baad , lagana zaroori hai is sy python ko yeh
# pata chalega ky yeh tuple hai nhi toh python isy jo bhi 
# element hoga data type ki tarah treat karega

In [13]:
nums = (1,)
print(type(nums))

<class 'tuple'>

In [16]:
words = ('word1',)
print(type(words))

<class 'tuple'>

In [17]:
# tuple without parenthesis
guitars = 'yamaha', 'baton rouge', 'taylor'
print(type(guitars))

<class 'tuple'>

In [18]:
# tuple unpacking
guitarists = ('Maneli Jamal', 'Eddie Van Der Meer', 'Andrew Foy')
guitarist1, guitarist2, guitarist3 = guitarists
print(guitarist1)
print(guitarist2)

Maneli Jamal
Eddie Van Der Meer

In [19]:
# list inside tuples
favorites = ('southern magnolia', ['Tokyo Ghoul Theme', 'landscape'])
favorites[1].pop()
print(favorites)

('southern magnolia', ['Tokyo Ghoul Theme'])

In [20]:
favorites[1].append('we made it')

In [21]:
favorites

('southern magnolia', ['Tokyo Ghoul Theme', 'we made it'])

In [22]:
# function returning two values

In [23]:
def func(int1, int2):
    add = int1 + int2
    multiply = int1 * int2
    return add, multiply

In [24]:
print(func(1,2))

(3, 2)

In [26]:
add, multiply = func(1,2)
print(add)
print(multiply)

3
2

In [1]:
# some more about tuples, list, str

nums = tuple(range(1,11))
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
nums = list((1,2,3,4,5,6,7,8,9,10))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
nums = str((1,2,3,4,5,6,7,8,9,10))
# output = "(1,2,3,4,5,6,7,8,9,10)"
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'str'>

In [7]:
num_list = str([1,2,3,4,5,6,7,8,9,10])
print(num_list)
print(type(num_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'str'>